[2020-07-13 19:46] ceaglest commented on #114
Hey @mhaseeb1996,

I'll take this one, since we have observed a similar stack trace. This crash looks like a regression in 3.4.0 that we are investigating internally.

Best,
Chris

[2020-07-14 06:24] winstondu commented on #77
@umarniz , unfortunately, your draft PR is almost a non-starter for anyone using Twilio's voice call SDKs. As someone on this thread already mentioned, when you use the RemoteIO audio unit, you give up on the echo cancellation capabilities.

[2020-07-14 06:27] winstondu commented on #77
@piyushtank , sorry to occupy your time all day with my questions, but I also ran into this problem as well.

I suspect @umarniz's conclusion was correct: VPIO is monophonic. And because, from a technical standpoint, it is an audio unit that must be aware of all speaker sounds (in order to correctly cancel them out when they are picked up by the phone's mic again), all output audio (such as the fi

[2020-07-15 11:45] Suresht-0821 opened #115 "Unable to export IPA file"
Hi,
 I got the below error, when trying to export iPA file.

Failed to verify bitcode in TwilioVideo.framework/TwilioVideo:
error: Linker option verification failed for bundle /var/folders/l4/0x_14ww957j3_1l9k_jj48p40000gn/T/TwilioVideoyxBa8l/TwilioVideo.arm64.xar (unrecognized arguments: -platform_version iOS 11.0 13.4)

Please help on this issue.

Thanks,
Suresh T.

[2020-07-15 12:53] kseniaChugunova opened #116 "No audio when answer from locked screen"
#### Description

There is no audio when call is answered from locked screen. Issue seems to be similar to https://github.com/twilio/twilio-video-ios/issues/74 and https://github.com/twilio/twilio-video-ios/issues/8. I've tried workarounds from comments but no luck.

####  Steps to Reproduce

Try to answer call from CallKit ui from locked screen

####  Expected Behavior

Call started, users are ab

[2020-07-15 14:25] paynerc commented on #115
@Suresht-0821,

What version of Xcode are you building your application with and trying to export the IPA from?

Ryan

[2020-07-15 15:02] Suresht-0821 commented on #115
Xcode 10.x

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Ryan C. Payne <notifications@github.com>
Sent: Wednesday, July 15, 2020 7:56:08 PM
To: twilio/twilio-video-ios <twilio-video-ios@noreply.github.com>
Cc: Suresh <suresht@moldtekit.com>; Mention <mention@noreply.github.com>
Subject: Re: [twilio/twilio-video-ios] Unable to export IPA file (#115)

@Suresht-08

[2020-07-15 15:17] paynerc commented on #115
@Suresht-0821,

Take a look at the [Supported Xcode versions and Bitcode](https://www.twilio.com/docs/video/ios-getting-started#supported-xcode-versions-and-bitcode) section in the [iOS Getting Started Guide](https://www.twilio.com/docs/video/ios-getting-started).

The `3.x` versions of `TwilioVideo.framework` are built with Xcode 11. The framework can be consumed with previous versions of Xcode.

[2020-07-16 06:57] Suresht-0821 commented on #115
Thanks. I got it.

I installed sample application VideoQuickstart in my device.

I just open app. Its asking Room.

what is Room ?.

How i can create room and where ?. How two devices connect ?

Please help me on this.

Thanks in advance.

[2020-07-16 13:08] paynerc commented on #115
@Suresht-0821,

Please take a look at the [`README.md`](https://github.com/twilio/video-quickstart-ios/blob/master/README.md) file for the Quickstart applications. It guides you through obtaining access tokens and what is needed to get two devices connected in a room.

For further information about the Twilio Video iOS SDK, please see the [Getting Started](https://www.twilio.com/docs/video/ios-get

[2020-07-16 13:08] #115 closed, assigned to paynerc

[2020-07-17 16:55] timrozum commented on #109
I'm going to close this out for now @Tornquist but let me know if you have any other questions.

[2020-07-17 16:55] #109 closed, assigned to paynerc

[2020-07-17 16:57] Tornquist commented on #109
@timrozum I'm sorry for not getting back to you. Thank you for your response!

I passed it on to the team that'll be fixing this and forgot to respond back here. I do not believe that we have other questions at this time.

Thanks again!

[2020-07-17 16:59] timrozum commented on #109
No problem @Tornquist and thanks for the update! We're here if anything else comes up.

[2020-07-17 17:34] ceaglest commented on #113
Hey @mcorner,

You mentioned that you are looking into upgrading to a newer version than 3.0.0-beta3, have you had a chance to try it? We have made quite a lot of changes to the signaling since the 3.0 GA and I am wondering if you might have a better experience with a newer release.

On my side I am going to revisit the connection management logic for the iOS platform to make sure that we are not

[2020-07-21 11:06] madhu-kadyala commented on #8
We are also facing the same audio and mic issue when the device was in lock and call answered from callKit audio & mic is working then tap on video/app button from call kit UI, after redirecting to app audio & mic both are not working in twilio video call.

If anyone has a solution please help us to solve this issue.

func configureAudioSession() {
        print("Configuring audio session")

[2020-07-21 12:02] mouli457 opened #117 "No front or back capture device found!"
Getting frontCamera and backCamera nil.
func startPreview() {
        if PlatformUtils.isSimulator {
            return
        }
        let frontCamera = CameraSource.captureDevice(position: .front)
        let backCamera = CameraSource.captureDevice(position: .back)

        if (frontCamera != nil || backCamera != nil) {

            let options = CameraSourceOptions { (builder) in

[2020-07-21 16:55] ceaglest commented on #117
Hi @mouli457,

Which device are you using, is it the iOS simulator by any chance? I can't think of any other device that doesn't have any cameras. Please let us know what SDK version you are using as well.

Best,
Chris

[2020-07-22 01:13] mcorner commented on #113
@ceaglest We upgraded to:
  pod 'TwilioVideo', '= 3.4.1'

And released last week.  It looks like the same rate of disconnections, though people are still upgrading the app.   Thanks for looking into it.

[2020-07-22 06:25] ceaglest commented on #113
Ack on the continued disconnection issues in 3.4.1, I am investigating further.

[2020-07-22 14:42] mouli457 opened #118 "Opponent video displaying when I connect room."
Opponent video is displaying automatically when i enter room.I want to call   setupRemoteVideoView() and self.showRoomUI(inRoom: true) methods when opponent click connect.

     func renderRemoteParticipant(participant : RemoteParticipant) -> Bool {
        // This example renders the first subscribed RemoteVideoTrack from the RemoteParticipant.
        let videoPublications = participant.remoteVi

[2020-07-22 23:44] ceaglest opened #119 "iOS 14"
Ahoy!

Apple has released iOS 14 and iPadOS 14 betas. To ensure that your application is ready for iOS 14 we are providing the following guidance and plan to update this page as we make progress on these milestones.

The table below provides a summary and estimated timeline of the work required to ensure that applications using the Video SDK are compatible with iOS 14.

| **Milestone**

[2020-07-24 13:42] paynerc commented on #118
This is a duplicate of https://github.com/twilio/video-quickstart-ios/issues/530. Closing this issue in favor of that one as @ceaglest has already responded to that one.

[2020-07-24 13:42] #118 closed, assigned to nobody

[2020-07-30 20:46] paynerc commented on #103
@mmimeault.

Have you had any luck resolving this issue?

I have been doing some testing and it looks like we should be able to define `TVIError` using the `NS_ERROR_ENUM` macro and not cause a breaking change with Semantic Versioning. This approach makes consuming `TVIError` objects in Swift more Swift idiomatic.

For instance, in the VideoCallKitQuickStart we currently have the following code:

[2020-07-30 21:27] mmimeault commented on #103
Hello,

Thank you for the follow up.

I haven't spent time to compare my setup with the sample app.
Unfortunately, I still have to use the "hardcoded" error code.
It still give me  `Type 'TwilioVideoSDK' has no member 'Error'` error message when compiling.

Do I required a specific swift version for it to work?

Thanks

[2020-07-31 12:32] nikolausWest commented on #110
@piyushtank I still keep getting this crash. Any idea if it's possible to force the sdk not to create an AVAudioSession?

[2020-07-31 17:26] piyushtank commented on #110
@nikolausWest Apologies for the late response.

Our current implementation of DefaultAudioDevice initializes AudioUnit for record+playout by default. Unfortunately its current implementation doesn't allow configure DefaultAudioDevice for playout only use case. We plan to provide such APIs in future on DefaultAudioDevice.

In the meantime, I recommend writing your own custom audio device. Here are

[2020-07-31 20:28] paynerc commented on #103
@mmimeault,

I just released Twilio Video iOS `3.6.0` which contains the `NS_ERROR_ENUM` approach which should give you better error interoperability in Swift.

As far as Swift versions, our Quickstart applications target Swift 4.2 and the [Video App](https://github.com/twilio/twilio-video-app-ios) targets Swift 5. What version of Swift are you using in your projects?

Ryan

[2020-08-02 06:02] daigok commented on #84
Swift 5.3 will support binary dependencies. Could you reopen this issue if you have any plan to support it? Because it's handy to keep track of the progress and also someone interested in this topic can easily find the status.

[2020-08-03 09:32] nikolausWest commented on #110
Thanks alot @piyushtank ! Will give the "playout only audio device" a try!

[2020-08-03 14:03] paynerc commented on #84
We are again investigating supporting Swift Package Manager and I will reopen this ticket to track the progress.

Ryan

[2020-08-07 20:53] devin-garg opened #120 "Get Audio Level of Participants"
Hello,

How do you get the audio level of participants on a video call (how loud someone is) as I have a RemoteAudioTrack? On web sdk for Twilio video you can get the audio tag itself and check the audio level from there using an analyzer.

[2020-08-10 18:27] ceaglest commented on #120
Hey @devin-garg,

We don't have a Track API for volume but one way to accomplish the same thing is to call `-[Room getStats:]` and then inspect each [RemoteAudioTrackStats](https://twilio.github.io/twilio-video-ios/docs/latest/Classes/TVIRemoteAudioTrackStats.html) object's [audioLevel](https://twilio.github.io/twilio-video-ios/docs/latest/Classes/TVIRemoteAudioTrackStats.html#//api/name/audioLeve

[2020-08-10 18:53] devin-garg commented on #120
Sounds good @ceaglest will do that in the meantime. I would support a feature request of this. Thanks for your help.

[2020-08-11 18:51] devin-garg commented on #120
@ceaglest this give stats for remouteaudio, could I get audiolevel for localparticipant?

[2020-08-11 21:17] ceaglest commented on #120
Yes you can using [LocalAudioTrackStats.audioLevel](https://twilio.github.io/twilio-video-ios/docs/latest/Classes/TVILocalAudioTrackStats.html#//api/name/audioLevel). It will be part of the same stats reports as remote tracks.

[2020-08-11 21:29] devin-garg commented on #120
Sounds good @ceaglest , how do I match from the stats report to remoteparticipants as I can get the audio level but do not know how to match audiolevel to a remoteparticipant? I do have participant.identity assigned to each remote participant.

[2020-08-12 13:41] DeTeam commented on #116
@kseniaChugunova we used this fix https://github.com/twilio/twilio-video-ios/issues/8#issuecomment-383137793 in our app
Tested together with @DmitryTop - works fine!

[2020-08-13 16:54] ceaglest commented on #120
You can match based upon the Track SIDs with [BaseTrackStats.trackSid](https://twilio.github.io/twilio-video-ios/docs/latest/Classes/TVIBaseTrackStats.html#//api/name/trackSid).

[2020-08-13 16:54] ceaglest commented on #117
Closing since I didn't hear back with more information.

[2020-08-13 16:54] #117 closed, assigned to ceaglest

[2020-08-13 16:57] devin-garg commented on #120
Gotcha, will cross-reference trackSid with participants in the room. Thanks.

[2020-08-17 01:46] ozgymlabs opened #121 "Mac Catalyst Support"
### Description

Cant build project with twilio iOS sdk since the dylib was built for iOS Simulator

[code]

### Steps to Reproduce

1. Try to build your project with the Mac deployment option

#### Expected Behavior

Project should be able to build for Mac Catalyst

#### Actual Behavior

I'm getting a build error
[code]

#### Reproduces How Often

100%

### Versions

TwilioVideo (3.6.1)

#### Vid

[2020-08-17 16:59] ceaglest commented on #121
Dupe of https://github.com/twilio/twilio-video-ios/issues/49.

[2020-08-17 16:59] #121 closed, assigned to nobody

[2020-08-17 21:51] mattrosemeier2020 opened #122 "Cannot complete connection to room even though audio is audible"
[Personally Identifiable Information(PII)](https://www.twilio.com/docs/glossary/what-is-personally-identifiable-information-pii)
or sensitive account information (API keys, credentials, etc.) when reporting an issue.

### Description

Downloaded the latest quickstart zip file with the various projects inside.  The VideoQuickStart project itself is not out-of-the-box compatible with the TwilioVideo

[2020-08-17 23:26] ceaglest commented on #122
Hi @mattrosemeier2020,

The [Quickstart](https://github.com/twilio/video-quickstart-ios) is compatible with our 3.0 SDK, and you do not need to make code changes other than providing credentials. This makes me think you checked out the wrong branch and then tried to convert 2.0 APIs to 3.0, possibly introducing bugs in the process.

This is a 2.0 API.

Can you please do the following?

1. Check ou

[2020-08-18 00:57] mattrosemeier2020 commented on #122
Hey @ceaglest thanks for the quick reply.  You are right I was on v2.  I ended up tracing my steps back to figure out how this happened and it looks like `twilio-video-ios/releases/download/2.10.2/TwilioVideo.framework.zip` is linked on the doc landing page as "the latest version."   After doing the pull manually and getting v3 from the changelog It all works great now.
![Screen Shot 2020-08-17 at

[2020-08-18 02:07] ceaglest commented on #122
Hey @mattrosemeier2020,

Oh I see. Thanks for pointing out the mistake, I will make sure the docs get updated.

Best,
Chris

[2020-08-18 04:29] ceaglest commented on #122
Just to clarify, I looked at the [iOS Getting Started: Manual Instructions](https://www.twilio.com/docs/video/ios-getting-started#manual) page and the link is to 3.6.1 (the latest release). Could you confirm this is the same place that you found the link to the older 2.x version?

[2020-08-18 14:06] mattrosemeier2020 commented on #122
Yep that's right, and it takes you to this page: https://www.twilio.com/docs/video/ios-v3-getting-started#manual

And underneath the "Manual" section it says
![Screen Shot 2020-08-18 at 10 06 04 AM](https://user-images.githubusercontent.com/69822965/90523062-75448900-e13a-11ea-82a3-6c1092eae721.png)

And if you click that "Download the Latest" link it takes you to a v2 version it seems.

[2020-08-18 17:58] ceaglest commented on #122
Hey @mattrosemeier2020,

I inspected the source of truth for the markdown in our CMS, and I tried the **Download Latest** Link on a co-worker's machine. In both cases I got:

https://github.com/twilio/twilio-video-ios/releases/download/3.6.1/TwilioVideo.framework.zip

Is it possible there was a caching issue, and cleaning your browser's cache would resolve it? I don't want to take much more of you

[2020-08-19 09:00] i-costello opened #123 "VideoView Pixelation on External Monitor"
### Description

I am trying to display participant video on both the iPhone and on an external monitor, connected via Screen Mirroring, simultaneously. The external monitor is managed by an additional UIScene, which has its own view hierarchy.

The external scene has a VideoView for the local participant’s video and another for a remote participant’s video. In both views, the video content is pix

[2020-08-19 16:49] ceaglest commented on #123
Hi @i-costello,

Thanks for the report, we will need to reproduce this locally before commenting much further.

Typically, the MTKView sets the contentScaleFactor automatically when it transitions to a new window but it doesn't appear that this is working properly.

Best,
Chris

[2020-08-20 05:19] verboomp opened #124 "Carthage error: has no shared framework schemes for any of the platforms: iOS"
I have added twilio-video-ios to my CartFile as described in the docu but it is not working. I am getting the following error:

Dependency "twilio-video-ios" has no shared framework schemes for any of the platforms: iOS

What am I doing wrong?

[Personally Identifiable Information(PII)](https://www.twilio.com/docs/glossary/what-is-personally-identifiable-information-pii)
or sensitive account infor

[2020-08-20 06:04] #124 closed, assigned to nobody

[2020-08-20 19:10] mattrosemeier2020 commented on #122
@ceaglest sorry for the delay, I think that was it.  I did a refresh / cache clear and I'm getting the right version now.

[2020-08-21 21:40] simbara opened #125 "Simulcast with custom camera source"
### Description

We use a custom camera source instead of the default TVICameraSource. Everything works well but it seems that simulcast isn't working. If the default camera is used we can see lower resolution dimensions on the stats view. But using the custom camera the dimensions don't change even in very bad network conditions.

The documentation and sample code show that codec/simulcast settin

[2020-08-22 15:06] designzoo-adrian commented on #95
I too have this same issue. In my case I have the following:

**Participant 1 - Broadcast Extension**
- sharing their screen (publish only participant)

**Participant 2 - Host App**
- sharing front camera and mic audio
- receiving audio and camera from another web based participant

If Participant 2 does not share audio to the room and host app is moved to the background. After 1-3 minutes Partici

[2020-08-24 16:11] DeTeam opened #126 "Crashes in Twilio Video on iOS in a React Native app"
### Description

We're using https://github.com/actio-tech/react-native-twilio-video-webrtc in our RN app, it uses Twilio video ios SDK under the hood. During a call/session, ios app which is streaming video to other participants crashed. See some crash dumps below.

### Steps to Reproduce

🤷

* Dump 1: https://gist.github.com/DeTeam/3aecd8cbed99c771d614f34159008432
* Dump 2: https://gist.github.c

[2020-08-24 16:31] ceaglest commented on #126
Hey @DeTeam,

Nice to chat again, thanks for reaching out on GitHub.

From the stack traces I think this crash is related to https://github.com/twilio/twilio-video-ios/issues/114. I will see if we can prioritize this bug since it is occurring at a high rate in your Rooms.

Best,
Chris

[2020-09-01 22:31] piyushtank commented on #123
@i-costello What you found might be an underlying configuration bug in our Metal Renderer Pipeline. We have never tried Screen Mirroring in our lab locally. And at present we are all busy working on upgrading our media engine (webrtc) upgrade in 4.0 release. We will try this out in future. I will keep you posted.

If you are blocked, you can try our deprecated APIs of using OpenGL renderer pipelin

[2020-09-04 16:34] ceaglest commented on #119
Hello Video users,

We have just released [Twilio Video 3.7.0](https://www.twilio.com/docs/video/changelog-twilio-video-ios-version-3x#370-september-3-2020) which provides new default behavior to avoid local network permissions requests on iOS 14. Please see the updated issue description.

Best,
Chris

[2020-09-05 21:53] swells808 commented on #49
Its September now are there any updates?

[2020-09-08 16:41] paynerc commented on #49
@swells808,

I can confirm that with the upcoming `4.0` release of TwilioVideo, we will be shipping as an `.xcframework`. There are still some things that need to be worked out before we can support Catalyst, but it is being investigated at this time.

Ryan

[2020-09-14 16:50] NachoPager commented on #119
@ceaglest I'm still seeing the permission request alert for local network on iOS 14 beta 6 using Twillio SDK v3.7.0.

I even tried `builder.networkPrivacyPolicy = TVILocalNetworkPrivacyPolicyBlockLocal;` to force it, with no success.

Any ideas?

Edit: I think the problem was because of the way I was performing the test (aka both ends of the call were actually on the same network). When performing

[2020-09-14 17:14] piyushtank commented on #119
@NachoPager Thanks for reaching out.

The permissions pop up could be caused by any code which is using the Local Area Network. To make sure, your app is not running any other code which triggers the `Local Area Network` permissions request, can you try running our Quickstart and reproduce the problem?

If there is a problem in TwilioVideo SDK we would like to fix it as soon as possible as we are

[2020-09-14 18:22] piyushtank commented on #119
Hey @NachoPager,

Can you also provide the Room SID and Account SID when you the problem is reproduced? You can email me to ptank@twilio.com or open a support ticket and post it there.

Best,
Piyush

[2020-09-15 08:30] magneticrob commented on #119
Hey guys, the end of September is approaching, any ideas when 2.11.0 might be out?

[2020-09-15 12:40] ghost commented on #119
Got an email from Twilio that we need to update to either 3.7.0 or 2.11, but could not install 2.11. If it hasn't been released yet, any ideas when we are going to have that version? Thanks.

[2020-09-15 13:02] paynerc commented on #119
@magneticrob @nikhil-cci

`2.11.0` is currently being validated by our QA team. If there are no issues found it should be released within the next day or so. I will comment on this ticket as soon as it is released.

Thank you,

Ryan

[2020-09-16 01:51] paynerc commented on #119
Hello Video users,

We have just released [Twilio Video `2.11.0`](https://www.twilio.com/docs/video/changelog-twilio-video-ios-version-2x#2110-september-15-2020) which back ports the new default behavior from `3.7.0` to avoid local network permissions requests on iOS 14.

Thanks you,

Ryan

[2020-09-16 14:33] ugiacoman commented on #119
Getting the following build error after upgrading from `3.6.1` to `3.7.0` on our broadcasting app extension:

`/Pods/TwilioVideo/Build/iOS/TwilioVideo.framework/Headers/TVIConnectOptions.h:11:9: 'TVILocalNetworkPrivacyPolicy.h' file not found`

Has anyone run into this issue?

[2020-09-16 15:08] paynerc commented on #119
@ugiacoman,

Have you tried doing a clean on your project? I just double checked that `TVILocalNetworkPrivacyPolicy.h` is indeed in the `Headers` folder of the `TwilioVideo.framework` package by downloading the `.zip` file manually. (https://github.com/twilio/twilio-video-ios/releases/download/3.7.0/TwilioVideo.framework.zip)

Let me know if after doing a clean on the project if it is still not wo

[2020-09-17 07:38] 4brunu commented on #84
Hi,
Xcode 12 was released today, and now SPM supports binary dependencies.
Any news adding support for SPM for Twilio Video?
Thanks 😊

[2020-09-17 11:31] paynerc commented on #84
@4brunu,

I cannot provide a firm date yet, but 4.0.0 of Twilio Video is being configured for SPM distribution.

Stay tuned,

Ryan

[2020-09-17 11:32] 4brunu commented on #84
Thanks 👍

[2020-09-17 14:38] edelabar commented on #119
Sorry if this is the wrong place to ask, but are there any plans for having twilio-video-ios available as a Swift Package?

[2020-09-17 14:43] paynerc commented on #119
@edelabar,

There is an [issue](https://github.com/twilio/twilio-video-ios/issues/84) open tracking this. I cannot give a date on when this is going to be released, but it will be apart of the Twilio Video iOS `4.0.0` release.

Ryan

[2020-09-17 15:43] magneticrob commented on #119
@ugiacoman I'm actually experiencing the same issue, just on my CI though - did you fix this?

[2020-09-29 10:00] designzoo-adrian commented on #114
Hi, I have a similar issue that I have noticed recently that is randomly crashing and I found this in the crash logs which is causing great issues for my production readiness. Is this related and known issue or what is status?
I have resymbolicated the crash logs further using atos for help.

**Using**
Twilio video ios sdk
-- Bundle Version - 44270
-- Bundle Version String Short - 3.7.0
Crash Occu

[2020-09-29 13:27] paynerc commented on #114
@designzoo-adrian,

Thanks for reporting this crash. It is appearing in a different area of the code than what was originally with this issue.

Would you mind sending the complete crash log as well as any room sids that you were connected to when the crash occurred? You can send these to support@twilio.com and reference this Github issue and me and it should make it's way over and I can further de

[2020-09-29 19:10] paynerc opened #127 "EXC_BAD_ACCESS crash in 3.7.0"
Originally created by @designzoo-adrian in issue #114 but moved to a new issue for tracking separately.

Hi, I have a similar issue that I have noticed recently that is randomly crashing and I found this in the crash logs which is causing great issues for my production readiness. Is this related and known issue or what is status?
I have resymbolicated the crash logs further using atos for help.

*

[2020-09-29 19:11] paynerc commented on #114
@designzoo-adrian.

I am going to move the crash you reported into a separate GitHub issue. We have a fix forthcoming for the one originally noted in this issue, so as to not confuse the two, I will separate these out so we can track them better.

The new issue is #127

Ryan

[2020-09-29 19:13] paynerc commented on #127
Reposting my response from the other issue thread for completeness:

@designzoo-adrian,

Thanks for reporting this crash. It is appearing in a different area of the code than what was originally with this issue.

Would you mind sending the complete crash log as well as any room sids that you were connected to when the crash occurred? You can send these to support@twilio.com and reference this Gith

[2020-10-01 10:25] designzoo-adrian commented on #127
Message sent on support@twilio.com

[2020-10-05 18:35] paynerc commented on #127
@designzoo-adrian,

I got the crash report this afternoon and will be investigating. I will let you know as soon as I know anything.

Ryan

[2020-10-06 14:33] OlivierGuy13 commented on #49
I can't wait until this update !!
Please keep us updated
Thank you for working on it !!! :D

[2020-10-06 15:11] piyushtank commented on #49
We have just shipped 4.0.0-beta1 as  `.xcframework`.
[Here](https://www.twilio.com/docs/video/video-ios-4x-beta) are the changelogs. Try it out and let us know if you have any feedbacks or questions.

[2020-10-06 16:34] AhmadDurrani579 opened #128 "providerDidReset call Every time"
Hello Mate i have integrate the twilio-video sdk its working fine in start but after some call the call kit provider begin instantly didReset call and call not generate

[2020-10-06 18:12] piyushtank commented on #128
Can you provide complete information please? you can refer to the template of issue filing.

Also we have a callkit quickstart sample app which might help you solve the problem - https://github.com/twilio/video-quickstart-ios/tree/master/VideoCallKitQuickStart

[2020-10-06 19:10] AhmadDurrani579 commented on #128
Hello Piyush i have already try this but when the CXProvider begin instantly the didreset called its was working fine now i am facing this issue in iOS 14

[2020-10-07 00:06] piyushtank commented on #128
Please complete the issue format with all details -

[Personally Identifiable Information(PII)](https://www.twilio.com/docs/glossary/what-is-personally-identifiable-information-pii)
or sensitive account information (API keys, credentials, etc.) when reporting an issue.

### Description

[Description of the issue]

### Steps to Reproduce

1. [Step one]
2. [Step two]
3. [Insert as many steps as need

[2020-10-07 19:59] farzaa opened #129 "Controlling volume of individual participants?"
Hello! I'm building an app where one person will be "on stage" and everyone will hear this person at 100% volume. But, people in the "audience" would not be muted, rather, the volume everyone hears them at would just be set to 20%.

But, if needed, the person on stage can can increase any audience members volume at will so that if they set an audience member to 100%, everyone hears that audience m

[2020-10-07 20:13] piyushtank commented on #129
@farzaa - Thanks for reaching out.

There is no direct way to set volume of each participant on play out side as the all participant's audio is mixed prior to delivering it to the play out, however at the audio capturing side you may be able to achieve this by configuring the microphone volume on AudioUnit - I personally haven't tried this but it should be possible. You will have to write your own

[2020-10-07 20:29] farzaa commented on #129
Thanks @piyushtank, will look into this now and come back with results within a few days 👍 :).

[2020-10-08 18:55] shalem93 opened #130 "is there a way to make the videoView sizing similar to Snapchat?"
Pretty much when setting UIView.ContentMode,  .scaleAspectFit does not size the whole screen, .scaleAspectFill the camera view is too zoomed in, and .scaleToFill the camera is too stretched.

I think the videoView's aspect ratio is probably like 4:3 when I think it may need to be 16:9. Not 100 percent sure. But when I use the app Snapchat, or apples generic camera the camera is sized for the whole

[2020-10-09 11:14] igorperekhrest opened #131 "The issue with sockets and "Method of dominant speaker""
Hi, everyone! We would be grateful if anyone can help us solve the issues we are facing on the project using Twilio videos:

1. The user (video call participant) disconnects due to low internet connection/loss of internet connection/crashes:

1) The users connected to the video meeting.
2) Some of the participants lost the internet connection or the app was crashed.
3) Then, when this user reconne

[2020-10-09 19:04] piyushtank commented on #130
@shalem93 - The aspect ratio is set to 4:3 because, the capturer is configured to deliver 4:3 video frames. If you wish to use full screen on iPhone with 16:9 aspect ratio, you can change the VideoFormat of the capturer to 16:9 and change the VideoView to 16:9 to render the video frames.

Let me know if you have any questions.

[2020-10-09 19:05] piyushtank commented on #128
Closing the ticket due to lack of information. Please reopen the ticket with more information or opened an another one. Thanks.

[2020-10-09 19:05] #128 closed, assigned to piyushtank

[2020-10-11 12:15] layanavg opened #132 "EXC_BAD_ACCESS (SIGSEGV)"
### Description

The app got crashed when the user kill the app in peer to peer video call.

### Steps to Reproduce

1. John calls Britney
2. Britney ends the call
3. John is in the room. The he kills the app
4. The app crashes

#### Expected Behavior

John should be able to kill the app without crash

#### Actual Behavior

App gets killed, but a pop up is asking the user to submit the crash detai

[2020-10-11 13:07] layanavg commented on #34
### Currently using version 3.7.
We are having the same problem. we are using the **peer to peer** connection and is clearing the tracks before publishing, even then this occurs.is there any way to fix this

[2020-10-12 11:50] iomark opened #133 "web client does not get video\audio stream from iOS client"
### Description

We are building a web video call application that can support up to 10 callers with one main steamer and other participants for up to 60 minutes. It works fine.
Now we started to implement iOS client for participants and faced with the next issue: participant on iOS client get video/audio from web main streamer but web main streamer does not get video\audio from iOS client.

### S

[2020-10-12 12:00] iomark commented on #133
Also I would like to attach the room state on web main-streamer client  in two cases:
1) when a participant uses iOS client and issue with video\audio stream is presented
![Issue with iOS client](https://user-images.githubusercontent.com/1295212/95744074-7823ac00-0c9b-11eb-9259-d19f7d4a89d3.png)

2)when a participant uses web client and there is no issue with video\audio
![No issue with web client

[2020-10-12 13:26] paynerc commented on #132
@layanavg

I'm sorry to hear you are experiencing this crash. Would you be able to provide the entire crash report with the `Binary Images:` section so that I can symbolicate the crash and see exactly where this is occurring?

Thank you,

Ryan

[2020-10-13 11:21] mihir-mehta opened #134 "Can I get the underlying AVCaptureSession and CMSampleBufferRef for processing further"
Is it possible to get the frames from the Camera feed while Video streaming is happening through Twilio SDK.

I want to pass the camera feed (Local camera) to ML model while it's being transmitted to live streaming through twilio webRTC GO.

Is it possible to do that ?

Thanks

[2020-10-13 21:33] iomark commented on #133
cause of the issue was on our server side. Sorry

[2020-10-13 21:33] #133 closed, assigned to nobody

[2020-10-13 23:44] mitchtreece commented on #114
I'm seeing this same exact crash in no-network situations. Specifically around room reconnection. Has there been any traction on this issue? What upcoming SDK version will the previously mentioned fix be released in?

**Using**
- TwilioVideoSDK: 3.6.1
- iPhone 11 Pro Max
- iOS 14.0.1

**How to Reproduce**
1. Enter a room (in my case it's 1:1)
2. Wait for remote participant connection & track subsc

[2020-10-14 11:10] wmonk commented on #104
@piyushtank any updates on this?

[2020-10-14 14:01] paynerc commented on #132
@layanavg,

Thanks for sending over the crash reports. I am suspecting that you are rebuilding your app with Bitcode.

This entry in the `Binary Images:` section:

[code]

is reporting a UUID for the framework that is not the one generated when we build.

Twilio Video v3.7.0 has a UUID of `78C79A8A-66EF-3F3C-9968-FAD4E2EAB585` and v3.7.1 has a UUID of `E361BD27-CAAD-3FF9-9A0D-0CDC180DE18C`. To sym

[2020-10-14 14:25] OpenCodeJourney opened #135 "LocalAudio Publish issue while iOS Phone app using the Mic"
### Description

We are encounter issue with local audio track publish while the local user is on the phone and then stated video Call using iOS app implemented based on the latest Twilio iOS SDK 3.7.1.

### Steps to Reproduce

1. Mic and speaker has to be used by some other application like phone app or whats app. Call some one
2. Start a Video Call using Twilio iOS SDK
3. My Audio is not availab

[2020-10-14 14:32] paynerc commented on #114
@mitchtreece,

Would you be able to send over a complete crash report for me to take a look at? We are currently working on two crashes that are happening and I want to make sure what you are experiencing is the same as what we are actively working to fix.

As for the reproduction steps, I have tried this a few times and have not been able to reproduce the crash locally. Is it crashing right away

[2020-10-14 17:44] mitchtreece commented on #114
@paynerc Thanks for the quick reply!

I just have some rather ugly [Crashlytics logs](https://ibb.co/gdRsdfg) around it. I've seen it happen both ways. But it seems to only require network loss. For example:

1. Enter a room
2. Wait for remote participant connection & track subscriptions
3. Turn on airplane mode
4. Wait with airplane mode on
5. TwilioVideoSDK crashes with: EXC_BAD_ACCESS KERN_INVA

[2020-10-14 21:16] piyushtank commented on #104
@wmonk Apologies for the delayed response. We do not throw NSInternalInconsistencyException, its probably coming from iOS as a result of incorrect API calls. Can you provide more information on stack trace or logs? If you are not comfortable posting logs here, please open a support ticket or send it to me directly at ptank@twilio.com

[2020-10-15 06:50] jigar007 commented on #49
@piyushtank @paynerc @ceaglest Hi do you have any roughly estimated timeline on when 4.0.0 one production version will be available? so we can plan it better and decide which version of SDK we should use. Thanks.

[2020-10-16 18:39] shalem93 commented on #130
![IMG_6371](https://user-images.githubusercontent.com/11223684/96294971-2f316780-0fbb-11eb-94d7-2740f00671c0.PNG)
![IMG_6372](https://user-images.githubusercontent.com/11223684/96294976-30fb2b00-0fbb-11eb-8b92-e4816fc3d31b.PNG)

Ok I attached two screenshots. Pretty much in the Lobbyviewcontroller I want the camera to look like the snapchat screen. Where in the demo projects code base specifically

[2020-10-18 17:51] Parasmani17 opened #136 "Screen Sharing using Twilio in iOS"
### Description

I am using Twilio iOS framework to connect in the group room. On the click of connect room button below is the code which I used

#### Code

[code]

#### Expected Behavior

When I connected in the group with remote participant I want to share the screen with remote participant.
To implement this feature I have referred the “ReplayKitExample” with in-app capture method. But not abl

[2020-10-19 16:40] mitchtreece commented on #114
@paynerc Any update on this? This issue is holding up a major release for my company.

[2020-10-19 17:15] paynerc commented on #114
@mitchtreece,

We are currently working on diagnosing and resolving the issue. I will post here as soon as we have it fixed and ready for release.

Ryan

[2020-10-20 17:54] shalem93 commented on #130
@piyushtank  I see it is located in CameraConfigFactory.swift but im having trouble. I don't know if there is a VideoFormat you guys have that allows for full screen camera at the proper zoom im looking for. Do you have any ideas?

.scaleAspectFill is too zoomed of a camera.

Starting on line 76 of CameraConfigFactory.swift ------
 // Cropping might be used if there is not an exact match
        f

[2020-10-20 18:15] shalem93 commented on #130
I did not mean to close for the record. I accidentally selected that.

[2020-10-20 22:00] julien-l opened #137 "Duplicate symbols when linking static lib"
### Description

Xcode complains about duplicate OpenSSL symbols when linking my executable:

[code]

### Steps to Reproduce

Have a project depending on both OpenSSL and `libTwilioVideo.a`:

[code]

Link command (simplified):

[code]

### Expected behaviour

Symbols that are not part of Twilio's API like openssl should be hidden to avoid naming collisions in end-user's project.

### Versions

###

[2020-10-21 10:57] DeTeam opened #138 "LocalDataTrack delivery guarantees and reliability"
### Description

Hey there,

While working with Twilio video ios SDK's data track in group rooms we realized that the delivery of messages is not guaranteed. Docs says that one can configure two options to control the reliability of data tracks: https://www.twilio.com/docs/video/ios-v3-using-the-datatrack-api#configuring-datatrack-reliability. In our case, commands that are sent from an event host

[2020-10-21 16:27] DmytroK-iOS opened #139 "Crash on trying create CameraSource(delegate: self)"
[Description of the issue]
Get crash on create camera = CameraSource(delegate: self)
using libTwilioVideo.a
Permissions for microphone & video granted

+[UIApplication tvi_statusBarOrientation]: unrecognized selector sent to class 0x1ecd260e0
2020-10-21 18:59:48.285193+0300 App[2445:1282112] *** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '+[UIApplication tvi_st

[2020-10-21 16:37] paynerc commented on #139
@DmytroK-iOS,

My initial thought is that you don't have `-ObjC`  set in ` Other Linker Flags` therefore the categories we define in the SDK are not being linked into your application.

Ryan

[2020-10-21 17:42] ceaglest commented on #137
Hey @julien-l,

Thanks for reaching out to file an issue.

I agree that this would be an improvement, but unfortunately our internal use of boringssl (via libWebRTC) is not prefixed at this time.

Would it be possible to consume our dynamic framework instead? This would eliminate the possibility for C symbol conflicts, and we've also renamed Objective-C classes from WebRTC to prevent runtime confl

[2020-10-21 18:38] julien-l commented on #137
Hi @ceaglest,

Yes this is what I do for now and this is working. I wanted to switch to the static library to simplify my build process (because I don't use a dependency manager like Cocoapods).

I just wanted to show my interest. I hope it will make it in a future release.

Thanks for your quick answer!

[2020-10-21 18:38] #137 closed, assigned to nobody

[2020-10-21 19:24] DmytroK-iOS commented on #139
Thx a lot! Worked for me.

[2020-10-21 19:24] #139 closed, assigned to nobody

[2020-10-23 12:19] AkrutiPatel1311 commented on #49
@ceaglest any update on Catalyst support for Twilio Voice????

[2020-10-23 12:21] chetan1406 commented on #49
@piyushtank @paynerc @ceaglest any update on Catalyst support for Twilio Voice????

[2020-10-29 09:01] echamussy commented on #138
Very interested in this answer as well. Our experience has been similar to what the original post describes. Most of the time the data channel is reliable but sometimes it skips messages which causes sync problems in our app data layer. Hopefully they folks at Twilio can provide some answers as of how to make the data channel more reliable.

[2020-10-30 14:36] umarniz commented on #77
@piyushtank Is this something that you discussed with Apple engineers?

I notice with iOS 14 my example repo that I shared doesn't work anymore :(

https://github.com/umarniz/video-quickstart-ios/pull/1

[2020-10-30 18:00] piyushtank commented on #77
@umarniz @winstondu
We learned that VoiceProcesing AudioUnit (VPIO) doesn't support true stereo. So if the stereo file is being played by VPIO AudioUnit, it wont be able to play the stereo. Unfortunately, we did not receive any timeline when VPIO will support stereo. If you want to use RemoteIO and you should use software echo cancellation by setting [AudioOptions.softwareAEC](https://twilio.githu

[2020-10-30 23:19] ceaglest commented on #138
Hey @DeTeam,

Sorry for the late response.

Correct. Think of `maxPacketLifeTime` as the amount of time the messages that you send remain relevant. If it isn't possible to send the message by the end of its life then the message expires. You can instead use `maxRetransmits` to enforce some guarantee of reliability that is independent of the connection round trip time between you and the other Part

[2020-10-30 23:21] ceaglest commented on #138
Hi @echamussy,

How large are the messages that you send? Do you add more reliable messages while the Room is in a reconnecting state? It's possible that the send buffer is becoming full and some future messages are being dropped.

Best,
Chris

[2020-10-31 07:07] jigar007 opened #140 "Can not add 4.0.0 using Swift Package Manager"
I'm using Xcode Version 12.1 (12A7403), before the release of 4.0.0-beta2 it was working fine with 4.0.0-beta1, but now I can not add 4.0.0-beta2 using SPM.

<img width="775" alt="Screen Shot 2020-10-31 at 5 59 47 pm" src="https://user-images.githubusercontent.com/9298974/97773427-ba0d8700-1ba3-11eb-88a1-eafed0ec6fc6.png">
<img width="737" alt="Screen Shot 2020-10-31 at 6 00 42 pm" src="https://us

[2020-11-02 14:35] paynerc commented on #140
@jigar007,

I'm sorry to hear that you are having issues consuming `4.0.0-beta2`. When consuming a version that doesn't strictly adhere to SemVer (such as having the `-beta2` suffix), it's best to use an Exact version match rule:

![image](https://user-images.githubusercontent.com/25950/97879648-3ad89a00-1cee-11eb-9484-0b045ae7b1f0.png)

After that is set, you can update the dependency by selectin

[2020-11-02 21:45] azei opened #141 "Record local audio and video"
### Description
Hi,

I'm looking to record each participant's audio and video locally.

Video recording works well (based on https://github.com/ceaglest/video-quickstart-swift/tree/task/renderer-example/VideoRendererExample).

My issue is with recording audio, specifically in how the `TVIAudioSink` is implemented. As mentioned in https://github.com/twilio/video-quickstart-ios/tree/3adfa5e1a6883649

[2020-11-03 10:33] deadmanIsARabbit commented on #110
@nikolausWest  i came across the same issue.
In my case i had disabled the audio track in the iOS App but requested the local audio track in a browser with the JS client. Which caused a crash in the iOS App.
What helped was to disable the local audio track in the browser.

Maybe this information can help you somehow.

[2020-11-03 20:18] paynerc commented on #132
@layanavg,

We have released Twilio Video iOS `3.7.2` which fixes the crash that I believe you are experiencing. Can you please try reproducing this issue with `3.7.2` and let me know if you are still seeing this issue.

Thank you,

Ryan

[2020-11-03 20:20] paynerc commented on #114
Thank you for your patience while we sorted out this crash issue. Today we have released Twilio Video iOS `3.7.2` which resolves these crashes.

Please let us know after you update if you are still experiencing any crashes.

Thank you,

Ryan

[2020-11-03 21:20] mitchtreece commented on #114
@paynerc Awesome! I will update to this release and confirm it's fixed 😄

[2020-11-04 08:38] DeTeam commented on #114
Oh nice, we'll try out the new version in our app, too!
Thanks for the update @paynerc !

By the way, what'd be the best way to get notified automatically about new twilio sdk releases?

[2020-11-04 08:45] pulimento commented on #49
That would be very useful! How we can help?

[2020-11-04 09:03] umarniz commented on #77
@piyushtank thanks for the response.

I see now that as of iOS 14 the `AVAudioSessionModeVideoChat` and `AVAudioSessionModeVoiceChat` are made to be completely mono.

This was not the case on iOS < 14.

I am not sure if you informing about you discussing the mono nature of the VPIO had something to do with it but the timing is certainly interesting ;)

The solution is to enforce the mode to be `AV

[2020-11-04 15:02] paynerc commented on #114
Probably the easiest way is to Star and Watch this repository. For every release, we add a GitHub release object with the Changelog notes for that release. If you are Watching the releases, you will get an email every time we make a new release.

Ryan

[2020-11-05 20:29] azei commented on #134
This is something I'm also very interested in (but for audio & video recording purposes).

[2020-11-06 22:18] ceaglest commented on #134
Hey @mihir-mehta,

At the moment the only way to accomplish this is to operate an `AVCaptureSession` yourself and implement a `TVIVideoSource`. Then you can pre-process the frames using an ML model before delivering them to Twilio.

- [Video Source Guide (see example links)](https://www.twilio.com/docs/video/ios-v3-video-source-apis)

Hi @azei,

If you want to record but not modify the local media

[2020-11-07 12:10] azei commented on #134
Thank you for the info and clarification @ceaglest!

My comment is related to issue #141, more specifically if there is a way to get audio samples from Twilio without a PeerConnection established:

`Known Issues: Local audio samples are not raised until at least one underlying WebRTC PeerConnection is negotiated`

For our use case, we need to record the audio before and after a participant connect

[2020-11-07 17:49] mihir-mehta commented on #134
Thank you @ceaglest ... Infact i am processing the camera feed and passing it to TVIVideoSource currently.... Something on the same line. Thank you for validating that solution. Do i need to tweak any default config or setting if i go with the approach.

[2020-11-09 12:16] nikolausWest commented on #110
Apologies, forgot to let you know how it went. The  "playout only audio device" fixed the issue for me. Thanks for the help!

[2020-11-09 12:16] #110 closed, assigned to piyushtank

[2020-11-13 23:06] theHilikus opened #142 "App store submission is being rejected due to missing NSCameraUsageDescription but camera is not used"
### Description
We have an app that uses the ios Twilio Video sdk 3.7.0 via cocoapods. This app receives **one-way** video streams from a video room. i.e. the user of the app is not sending any video. However, the appstore is rejecting the app saying

This seems like a bug since we are not really using the camera and everything is working as intended. After reading about this problem, it looks lik

[2020-11-17 02:13] piyushtank commented on #77
@umarniz Thanks for sharing your findings on `AVAudioSessionModeDefault` and the branch.

[2020-11-17 02:24] piyushtank commented on #142
@theHilikus Thanks for reaching out. At present the Video SDK packages camera APIs in the xcframework, which means that an app will have to add `NSCameraUsageDescription` in `plist` file even though the app isn't using any Camera APIs. We are discussing internally on how to support view only use case and packaging of it but at present app requires `NSCameraUsageDescription` in plist file as a work

[2020-11-17 15:57] theHilikus commented on #142
perfect. thank you for the info

We'll use a camera usage description in the meantime

[2020-11-18 14:24] estuardoeg commented on #133
@iomark I have similar issue, how did you solve it?

[2020-11-18 14:28] iomark commented on #133
@estuardoeg There was an issue in business logic only, not in Twillio component: the client did not send custom command to data track.

[2020-11-18 15:09] estuardoeg opened #143 "Video connected only over wifi, 4g takes more than 1 minute"
### Description

The call connects, but ony in the same wifi both devices, but when one is in 4g and other in wifi, takes until 2 minutes in connect, in this case call started 08:56:18, but connected video aprox  08:58:19.

### Steps to Reproduce

1. Connect two devices in same room in same wifi
2. Connect two devices in same room, one in 4g other in wifi

#### Code

[code]

#### Expected Behavior

[2020-11-20 19:57] paynerc opened #144 "iOS arm64 Simulator Support"
Ahoy!

With Apple’s release of the M1 processor Macs, the Xcode iOS simulator running on these Macs use binaries compiled for the Mac `arm64` architecture. Currently the Twilio Video iOS SDK does not contain a slice that supports that `arm64` simulator on these new M1 based systems.

We are currently working on supporting the `arm64` simulator first in our internal dependencies and carrying that f

[2020-11-23 09:49] Sunilkumarr opened #145 "Crash: The capture pipeline should have already been created when selecting a device"
[Personally Identifiable Information(PII)](https://www.twilio.com/docs/glossary/what-is-personally-identifiable-information-pii)
or sensitive account information (API keys, credentials, etc.) when reporting an issue.

### Description

Getting the crash this crash i don't know how to fix this.

Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'The capture pipeli

[2020-11-23 13:19] Sunilkumarr commented on #145
Sorry, it was my problem Seems like I was using a different method  `` self.camera selectCaptureDevice:frontCamera ``  in `startPreview` method  i need to use the `` self.camera startCaptureWithDevice ``

It's working fine now.

[2020-11-23 13:19] #145 closed, assigned to nobody

[2020-11-25 11:45] Adilsheikh1 commented on #64
I am getting an error messsage on video call

UserID: 3823  UserType:1  AppVersion: 3.13.44  Time Stamp: 1606289444417 | Date: 25/11/2020 08:30:44  [Call connected view-  Log Type: Error]:  Room disconnected with error:  Optional(Error Domain=com.twilio.video Code=53405 "Media connection failed" UserInfo={NSLocalizedDescription=Media connection failed})

room_sid: RM51c00d99f2887a88a43c414c85257d4

[2020-11-26 09:01] jigar007 commented on #144
+1

[2020-11-27 05:26] Fanpei920 commented on #81
Hi @ceaglest  .

I'm going to implement my next project with SwiftUI and wondering is there any updates on SwiftUI example?

[2020-11-30 21:29] verboomp opened #146 "Contrast problem during screen sharing"
### Description

We are using iOS ReplayKit to screen share the content from our app to a users browser. We are basically following the code provided here: https://github.com/twilio/video-quickstart-ios/tree/master/ReplayKitExample to implement the iOS part. For streaming testing I am using the twilio video-quickstart-js application.
Everything is working fine except for a weird contrast problem.

[2020-12-03 19:46] ceaglest opened #147 "H.264 - Corrupted image after network handoff"
Ahoy!

Twilio Video iOS 4.0 upgrades the version of libWebRTC to 83. While this release includes many improvements to modernize the Video SDK, there is a known issue that can cause image corruption when the H.264 video codec is used in Peer-to-Peer or WebRTC Go Rooms.

### Scenario

**Alice**: Safari, Safari Mobile, or the iOS Video SDK.
**Bob**: iOS Video SDK 4.x.
**Room**: Peer-to-Peer or WebRTC

[2020-12-04 02:06] piyushtank commented on #123
@i-costello I tried using Reflactor 3 (trial mode), and following is what I observed.

On phone screen -

![OnPhoneScreen](https://user-images.githubusercontent.com/17037593/101112343-ec8b1500-3591-11eb-887d-fca7354e1ac9.PNG)

Mirrored screen-

<img width="858" alt="OnMacBookWithReflactor3" src="https://user-images.githubusercontent.com/17037593/101112354-f14fc900-3591-11eb-84ce-3d31a8f6cd43.png">

[2020-12-04 14:39] SergejLogis opened #148 "No camera preview on iOS 13"
### Description

We are using Twilio Video in SwiftUI app. On iOS 14 everything works fine, but on iOS 13 local camera preview stays empty no matter what. There are no errors or warnings in console, both `Camera Source` and `Camera Device` are obtained successfully but `VideoView` stays empty.

#### Code

[code]

[code]

#### Expected Behavior

Camera preview outputs video.

#### Actual Behavior

[2020-12-07 06:32] Fanpei920 opened #166 "The screen broadcast ratio can't be adjusted correctly after rotating the device in ReplayKitExample."
### Description

The screen broadcast ratio can't be adjusted correctly after rotating the device

### Steps to Reproduce

1. Launch ReplayKit example
![Screen Shot 2020-12-07 at 15 24 05](https://user-images.githubusercontent.com/28774156/101316919-cec6f400-38a0-11eb-81e0-0a9f578dc878.png)

2. Rotate deivce
the capture ratio didn't be adjusted as showed in capture below.
![Screen Shot 2020-12-07

[2020-12-10 02:35] apersaud commented on #140
I had this issue when I first added the SPM. After I added it, I closed XCode, deleted DerivedData, opened XCode (workspace), selected "Swift -> Update to Latest Packages", waited until SPM was done, then did a build.

I was using 4.0.0 (not beta)

[2020-12-15 19:33] johnnygao commented on #119
Hi, I thought I'd ask my question here, as it's related to App Clips and iOS 14.

We wanted to implement an App Clip that allows for receiving a video call within it as a proof of concept.
This is currently not really feasible due to the size of the video SDK, but it runs on device via Xcode.

We ran into an issue, where the SDK can't connect to an open room. This seems to be due to App Clips on d

[2020-12-15 20:17] ceaglest commented on #119
Hi @johnnygao,

I looked at your log and the twilio-voice-ios issue.

The App Clip requirement to not use socket streams impacts both the signaling connection (boost/beast), and WebRTC's ability to open TCP and UDP sockets for communication. The signaling issue would be easier to resolve than the media, but both are fairly large efforts.

I think making the WebRTC maintainers aware of the limitati

[2020-12-15 20:21] johnnygao commented on #119
I figured as much :(

Thanks for taking the time to look into it @ceaglest !

[2020-12-16 16:27] janremes commented on #49
@piyushtank Any update on this one? Thanks!

[2020-12-16 17:06] paynerc commented on #49
Folks,

Twilio Video iOS `4.0.0` was released on December 4th and is packaged as a `.xcframework` which also allows us to deliver it as a Swift Package.

We are still investigating what it will take to fully support Catalyst.

Ryan

[2020-12-16 17:36] AhmadDurrani579 opened #150 "In Room some time the RemoteParticipants return empty array and some time it return some value"
Hello Twilio Team From past few days i was stuck in this issue the remoteParticipants array return empty and some time it return some value can you please let me know why is this occuring

Regards
Ahmad

[2020-12-16 18:04] ceaglest commented on #150
Hi @AhmadDurrani579,

The `remoteParticpants` array does not include your own Participant, and is updated each time other Participants join or leave the Room. So, for example if you connect to an empty Room you should expect the array to be empty.

Per the issue template - could you provide a Room SID where you had an empty `remoteParticipants` array but there were Participants in the Room?

Best,

[2020-12-16 18:38] AhmadDurrani579 commented on #150
Hello @ceaglest
Thank you for your reply

RM1164d26a4d9a35de5bf54aa447c45008
RMea6ff0d49dd8c6b0e70537bdeb0edcb5
RM025c7bf43ab36dd22fdcac4d885754e5 ---- 2 participants
RMd0df6642ef71675d8a2ad3d87c8c47c3
RMcea148085eaba97ffc887657912076bf
RMf68ef0b5fa8bfdb7ddec000af794a153
RM597f11395b6becde533422196ef0dcda

Please check the above Room  SID only 1 Room SID have 2 participants

Regards
Ahmad

[2020-12-16 18:40] AhmadDurrani579 commented on #150
Let suppose i am joining the above room what will i get participant array have some value not the empty array sir

[2020-12-16 18:47] AhmadDurrani579 commented on #150
Recently i create the room  in here in one case the participant count is and in other 2 case its one

RMf6254ee79b7ff2d9e4698080db8b6498
RMc452549e32960935aa40749182db6c0f -- 2 participants
RM348f95d61b91f1cb0571149c26966da3

Regards
Ahmad

[2020-12-17 15:07] marcato15 opened #151 "Feature Request: Lite version of SDK to fit inside App Clips"
With the release of App Clips in iOS 14 it’d be nice to offer a basic Video call feature in an App Clip. The uncompressed bundle size is required to be below 10 mb which means including just the current Twilio Video SDK is too big for an app clip. Is there a subset of functionality that could be provided in a lite version of the library to make a basic video call functionality available in an App

[2020-12-17 17:54] ceaglest commented on #151
Hi @marcato15,

App clip support would be a very nice feature to have. There is some discussion about the challenges, both for Twilio and the WebRTC community in [this thread](https://github.com/twilio/twilio-video-ios/issues/119#issuecomment-745542015).

Thank you for filing an issue to track interest in App Clips. Developers, if this is a use case you want please let us know.

Best,
Chris

[2020-12-18 22:43] piyushtank commented on #123
@i-costello Finally I was able to reproduce the problem. Thanks for reporting the bug. We have just shipped 4.0.1 SDK with the fix for this issue. [Here](https://www.twilio.com/docs/video/changelog-twilio-video-ios-latest#401-december-18-2020) are the changelogs. Try it out and let us know if you have any questions.

Best,
Piyush

[2020-12-21 15:35] andreaxricci commented on #81
@ceaglest: I'd also be interested in the SwiftUI example - do you already have an idea of the timelines? I see some competitors have already published tutorials.. I think Twilio is better, but having code examples to follow would speed up the implementation of my team's MVP

[2021-01-04 02:09] SirWellington opened #152 "ITMS-90680: Invalid Directory | Duplicate TwilioVideo.framework in PlugIns and Frameworks folders"
### Description

I am trying to upload a build to the App Store after adding TwilioVideo via spm. However, I am encoutering the following issue:

[code]

It would appear that the Framework is getting added twice.

<img width="1112" alt="Screen Shot 2021-01-03 at 5 57 43 PM" src="https://user-images.githubusercontent.com/992646/103494798-2f3c4900-4ded-11eb-8de4-22648b75bf40.png">

Also when I open

[2021-01-04 06:26] dsngeu opened #153 "iOS device captured video not showing on web but working fine in iOS to iOS and iOS to android"
I am using TwilioVideo 3.2
and we are connecting via  iOS device and  web app.
web app camera captured video is showing properly in iOS device, **but the video captured by iOS device is not showing on web application(safari + chrome web app)**

iOS to iOS/android video conference is working fine

what could be the possible reason.

[2021-01-04 12:30] vdovichenko opened #154 "Crash: EXC_BAD_ACCESS KERN_INVALID_ADDRESS 0x000045596619c0c0"
### Description

We constantly receive crashes on our live app. But I don't have steps to reproduce, only stack trace from Crashlytics

#### Stack trace

Crashed: Thread
0  TwilioVideo                    0x10812d8a0 boost::statechart::processor_container<connections::fsm::ConnectionScheduler, boost::function0<void>, std::__1::allocator<void> >::queue_event_impl(boost::weak_ptr<std::__1::auto_ptr<b

[2021-01-04 18:20] ceaglest commented on #154
Hi @vdovichenko,

That crash is with the WebSocket logic. It is very likely that it is the same crash that was already fixed in [3.7.2](https://www.twilio.com/docs/video/changelog-twilio-video-ios-version-3x#372-november-3-2020).

Can you please update from 3.7.1 to 3.7.2 or newer and let us know if it resolves the crash?

Thanks,
Chris

[2021-01-04 18:24] paynerc commented on #152
@SirWellington,

I am attempting to reproduce this issue locally and am not seeing the issue.

To test this I used the Twilio Video QuickStart application (https://github.com/twilio/video-quickstart-ios). I archived the application and then inspected the `.app` package in the Archive. I then prepared to distribute the application and only see one instance of the framework in the report.

![image](

[2021-01-04 18:39] vdovichenko commented on #154
Hi @ceaglest,
Thanks for the information.
I'll let you know whether crash is resolved after we update Twilio lib in our app.

[2021-01-05 02:32] SirWellington commented on #152
There was no previous 3.x release. We are just adding the 4.x release for the first time.

Let me give the sample project a try.

[2021-01-05 04:53] SirWellington commented on #152
@paynerc

I was able to reproduce the issue. It happens with Apps that have **NotificationServiceExtensions**.

**Steps to reproduce**
1. Taking the Video QuickStart application referenced above

2. Open the project file

<img width="1792" alt="Screen Shot 2021-01-04 at 8 45 01 PM" src="https://user-images.githubusercontent.com/992646/103607426-b95bde80-4ecd-11eb-93b9-21cd828f6866.png">

3. On the

[2021-01-05 17:47] piyushtank commented on #153
Hi @dsngeu - Can you please share a RoomSid to debug the problem? Also can you try upgrading the SDK to the latest.

[2021-01-05 17:51] #123 closed, assigned to ceaglest

[2021-01-05 17:51] #119 closed, assigned to nobody

[2021-01-05 19:35] paynerc commented on #152
Thanks for the reproduction steps. I will try this here shortly and see what we can do to mitigate this issue.

Ryan

[2021-01-05 21:21] timrozum commented on #166
Hi @Fanpei920,

Are you still having this issue?

To start the screen capture are you tapping the "Start Broadcast" or "Start Conference" button?

Thanks!

[2021-01-06 20:49] paynerc commented on #152
@SirWellington,

I have been able to reproduce this issue. This appears to be a bug with Xcode itself when consuming a SwiftPM binary distribution.

Looking at the `Embed App Extensions` build phase, it has no mention of `TwilioVideo.framework` in the files, yet it copies it anyways. Removing this build phase, obviously, eliminates the issue. I added a new copy file build phase and no matter what

[2021-01-06 21:17] paynerc commented on #152
@SirWellington,

Well, it's not pretty, but I do have a workaround that should get you unblocked:

In the VideoQuickstart project's Build Phases, I did the following after I added the `ServiceExtensionTest`:

1. I moved the `Embed App Extensions` build phase to immediately follow the `Embed Frameworks` build phase.
2. I added a new `Run Script Phase` immediately following the `EmbedFrameworks` bui

[2021-01-07 08:29] tuando3i opened #156 "Can we get video frame data CVPixelBuffer?"
#### The Problem

I would like to access video frame data for some image processing but couldn't find the way

#### Solution You Would Like

Can you please let me know whether I can get video frame data in CVPixelBuffer format somehow?

[2021-01-07 11:35] felixliebau opened #155 "dyld: Library not loaded using SwiftPM"
### Description

If I add the SDK to our framework (named RemoteControl) I get the following output/crash immediatly at the launch of our app which is linked to the RemoteControl framework.

In this scenario the app has a dependency to the RemoteControl framework which has the dependency to the SDK.
I think there seems to be an issue with the code signing which I don't know how to resolve.

I foun

[2021-01-07 16:42] paynerc commented on #155
@felixliebau,

You are correct that the SwiftPM bug report you referenced above is indeed the issue. We have support for this in the QuickStart applications but failed to document the requirement in our documentation. I have created tasks internally to update our documentation on the [Twilio web site](https://www.twilio.com/docs/video/ios) as well as updating the `README.md` at the root of this re

[2021-01-07 18:38] paynerc commented on #155
@felixliebau,

I have published the documentation updates both to the `README.md` file in this repository as well as the documentation pages on the Twilio website.

Let me know if you are still experiencing issues after adding the documented workaround or if we can close this issue.

Thank you,

Ryan

[2021-01-07 21:42] paynerc commented on #150
@AhmadDurrani579

I've taken a look at these room sids:

- `RMf6254ee79b7ff2d9e4698080db8b6498` - There was only ever one participant in that room, `5fa6805cf2e8ca4c9cac3133`.
- `RMc452549e32960935aa40749182db6c0f` - Has two participants, `5fa681a3f2e8ca4c9cac3134` and `5fa6805cf2e8ca4c9cac3133`. When `5fa681a3f2e8ca4c9cac3134` connected to the room the remote participants collection would have be

[2021-01-07 21:45] paynerc commented on #140
@jigar007 @apersaud

Have you successfully been able to consume TwilioVideo iOS via SPM?

Ryan

[2021-01-07 21:52] paynerc commented on #132
@layanavg,

I am going to close this issue as `3.7.2` has been out for a few months and should have resolved the crash you were experiencing. Feel free to reopen this ticket if you are still experiencing crashes.

Ryan

[2021-01-07 21:52] #132 closed, assigned to paynerc

[2021-01-07 22:02] paynerc commented on #127
@designzoo-adrian,

Sorry for the late response. I believe that this issue was resolved in `3.7.2` which was released on November 3, 2020. I am going to close this issue, but feel free to reopen it if you are still experiencing this crash.

Ryan

[2021-01-07 22:02] #127 closed, assigned to paynerc

[2021-01-07 23:39] timrozum commented on #136
Hi @Parasmani17,

Can you confirm with the debugger that video frames are received inside the `startCapture` closure?

Does the remote participant see the track but it's just all black and doesn't update?

Also we recently built this in-app screen capture feature into SDK version [4.0.0](https://github.com/twilio/twilio-video-ios/releases/tag/4.0.0) so it requires much less code to implement now.

[2021-01-08 05:41] felixliebau commented on #155
@paynerc,

I have added the workaround and the app launches totally fine now.

Thanks for your quick answer and the updated documentation,

Felix

[2021-01-08 05:41] #155 closed, assigned to paynerc

[2021-01-08 16:28] KurasovAnton opened #159 "TVIVideoView pixelation effect on preview video"
### Description

After migration from v3.7.1 to v4.0.1 I faced the pixelation issue on displaying the preview video(it was implemented following the guidelines https://www.twilio.com/docs/video/ios-getting-started#display-a-camera-preview)

Precondition:
            TVIVideoView used to render the TVILocalVideoTrack
            Same TVILocalVideoTrack was published to TVIRoom TVILocalParticipant

[2021-01-09 20:55] SirWellington commented on #152
Thank you. This worked as a workaround 👍🏽

The manual integration option also worked.

[2021-01-10 11:00] #152 closed, assigned to paynerc

[2021-01-11 17:13] paynerc commented on #152
Just a followup on this one. I created Feedback FB8967517 with  this morning and included a test project that shows this issue, as well as provided a link to this issue for further information. When I hear anything, I will update this issue.

[2021-01-12 05:20] piyushtank commented on #159
Hi Anton,

Thanks for reporting the bug.

I am able to reproduce the problem locally. It's a regression added by a renderer fix we released in Version SDK version 4.0.1 where the native scale factor was not applied to the drawable size. We are working on fixing the problem. And, we should be able to ship the fix very quickly - in a next few days. In the meantime, you can use our 4.0.0 SDK where yo

[2021-01-12 16:34] shai-caazam commented on #120
Hi @ceaglest,

We were expecting the `audioLevel` in the stats reports to be gain of audio channel - between 0 to 1 - like in WebRTC [stats definition](https://www.w3.org/TR/webrtc-stats/#dom-rtcaudiosourcestats) - or volume in AVCaptureAudioChannel in iOS SDK.
The actual values we are receiving are all over the place (78, 10285, 23524, 12, 923) and we are unsure what the units and ranges for thes

[2021-01-12 17:22] ceaglest commented on #120
Hi @shai-caazam,

The range is the amplitude of a signed 16-bit number, so between 0 and 32,767 instead of 0 to 1.

Best,
Chris

[2021-01-13 21:45] timrozum commented on #146
Hi @verboomp,

I did some simple testing and I don't think I am able to reproduce the same problem. I did notice that yellow text on white background seems to degrade more than black text during network issues.

Could you provide the following so I can look into this further?

1. A sample source image that I can drop in `ReplayKitExample` to cause the problem.
2. Screenshots of the problem on Safa

[2021-01-13 21:53] piyushtank commented on #141
Thanks for filing the ticket. Our current audio device and audio sink APIs don't support audio recording out of the box until media is negotiated. We plan to redesign our audio APIs, we have taken this feedback to support the feature in the future.

[2021-01-13 21:58] piyushtank commented on #135
@hpandroid Apologies for the late response.

Are you using CallKit in your app? If the other apps where you have a live audio call, are using callkit you can try using callkit in your app and see if the problem goes away.

[2021-01-13 22:05] ceaglest commented on #131
Hi @igorperekhrest,

Sorry for the late response.

This assertion occurs when you add a TVIVideoRenderer to a VideoTrack twice. To solve the problem, you must balance calls to addRenderer and removeRenderer.

Best,
Chris

[2021-01-13 22:05] #131 closed, assigned to ceaglest

[2021-01-13 22:24] ceaglest commented on #156
Hey @tuando3i,

If you want to access the image data from a CVPixelBuffer then you must first call [CVPixelBufferLockBaseAddress()](https://developer.apple.com/documentation/corevideo/1457128-cvpixelbufferlockbaseaddress). This ensures that the image data is available to the CPU when calling  and that the base address will not change while you access it. When you are done accessing data call `CVPi

[2021-01-14 03:57] tuando3i commented on #156
Hi @ceaglest ,

Thank you for your answer.

I would like to know to get frame data from TwilioVideo framework.

As refer from this question [https://github.com/twilio/video-quickstart-ios/issues/496#issue-619624764](url)

It seems like I can write a custom Camera Source in case I want to own the Camera Session or custom VideoRenderer.

I will try those 2 methods.

By the way thank you.

[2021-01-14 10:00] gertjanjansen commented on #49
Hi Ryan,

It would be really great if you could support Catalyst. Do you have any idea when you will decide about supporting Catalyst or not?

Thanks,
Gertjan

[2021-01-14 15:08] KurasovAnton commented on #159
Hi Piyush,

Thank you for such a fast response.

I'll give you the response as soon as we update the Twilio SDK to 4.1.0.(Approximately in 2 weeks)

Best Regards,
Anton

[2021-01-14 17:28] piyushtank commented on #159
Yes, 4.1.0 has the fix for this issue. [Here](https://www.twilio.com/docs/video/changelog-twilio-video-ios-latest#410-january-13-2020) are the changelogs.

[2021-01-15 06:12] dsngeu opened #161 "Invalid parameter not satisfying videoRenderer != renderer"
**Invalid parameter not satisfying: adapter.videoRenderer != renderer**

   **localVideoTrack?.addRenderer(largeVideoView)**
  I got crash here with following crash line
*Invalid parameter not satisfying: adapter.videoRenderer != renderer*

when I debug  localVideoTrack and largeVideoView(this is view where I want to preview the local video frames)
 po print(localVideoTrack)
**Optional(<TVILocalVi

[2021-01-15 06:34] dsngeu commented on #153
@piyushtank

po print(room.sid)
RM055eb4859393f9aa15963d21d0b83a79

this is the RoomSid.

[2021-01-15 12:17] dsngeu commented on #153
@piyushtank I also update TwilioVideo sdk but issue is still persist.

this is iOS device:

![IMG_0436](https://user-images.githubusercontent.com/6763999/104726387-829d8800-5759-11eb-88cb-46881f479e15.PNG)

this is web:

<img width="1665" alt="Screenshot 2021-01-15 at 5 43 18 PM" src="https://user-images.githubusercontent.com/6763999/104726519-c2646f80-5759-11eb-9b54-6c9166a1b672.png">

<img width

[2021-01-15 12:40] Hamoonist commented on #148
With iOS 14 one of my devices are like this.
So far in my case I have pinpointed the problem to `cameraSource.startCapture(device: cameraDevice, completion:)`
The method is called, but the completion never.
Can you try and put an Xcode break or a print statement inside the completion to see if your problem is the same?

[2021-01-15 21:22] piyushtank commented on #148
The VideoView renderer is a UIView but we haven't tried its integration with SwiftUI yet. We have a task in our backlog to write a sample app with SwiftUI which we plan to address soon.

We will update this ticket when we have more information.

[2021-01-15 21:30] piyushtank commented on #161
@dsngeu The Video SDK throws this exception when the app tries to add the same VideoView twice to a VideoTrack. Please make sure your app doesn't add the same VideoView twice to the same VideoView.

We plan to make the exception message meaningful and more actionable in the future.

[2021-01-15 23:14] piyushtank commented on #20
Closing an old ticket. Feel free to reach out to us if you have any questions.

[2021-01-15 23:14] #20 closed, assigned to ceaglest

[2021-01-15 23:14] piyushtank commented on #25
Feel free to reach out to us if you have any questions.

[2021-01-15 23:15] piyushtank commented on #26
Closing an old ticket. Feel free to reach out to us if you have any questions.

[2021-01-15 23:15] #26 closed, assigned to ceaglest

[2021-01-15 23:16] #39 closed, assigned to piyushtank

[2021-01-15 23:18] piyushtank commented on #42
Closing an old ticket. Feel free to reach out to us if you have any questions.

[2021-01-15 23:18] #42 closed, assigned to piyushtank

[2021-01-15 23:19] piyushtank commented on #68
Closing an old ticket. Feel free to reach out to us if you have any questions.

[2021-01-15 23:19] #68 closed, assigned to ceaglest

[2021-01-15 23:20] piyushtank commented on #47
@Tratar Apologies for not following up on this earlier. Are you still having an issue? We have released 4.x SDK which has new features and bugfixes.

[2021-01-15 23:22] piyushtank commented on #65
Closing an old ticket. Feel free to reopen this or open a new ticket.

[2021-01-15 23:22] #65 closed, assigned to ceaglest

[2021-01-15 23:22] piyushtank commented on #27
Closing an old ticket. Feel free to reopen this or open a new ticket.

[2021-01-15 23:22] #27 closed, assigned to ceaglest

[2021-01-15 23:23] #97 closed, assigned to piyushtank

[2021-01-15 23:25] piyushtank commented on #94
@matiasalvarezaw apologies for not following up on this earlier.

Yes, it is possible by writing your own custom audio device. Take a look at our [ExampleAVAudioEngine](https://github.com/twilio/video-quickstart-ios/blob/master/AudioDeviceExample/AudioDevices/ExampleAVAudioEngineDevice.m) audio device for more information.

[2021-01-15 23:25] #94 closed, assigned to nobody

[2021-01-15 23:25] #96 closed, assigned to piyushtank

[2021-01-15 23:26] #102 closed, assigned to piyushtank

[2021-01-15 23:30] piyushtank commented on #130
@shalem93 Apologies for not following up on this earlier. Were you able to solve the problem? Assigning the correct VideoFormat is the solution for the use case.

[2021-01-15 23:36] piyushtank commented on #112
@PPacie Apologies for not following up on this earlier. You can definitely record audio and video to a file - see this [video rendering](https://github.com/twilio/video-quickstart-ios/pull/286) and [audio recording](https://github.com/twilio/video-quickstart-ios/tree/master/AudioSinkExample) example, but if you can save them in photos library - I have not tried it.
Let me know if you have any furt

[2021-01-15 23:37] piyushtank commented on #104
Closing an old ticket. Feel free to reopen or create a new ticket if you are still having an issue.

[2021-01-15 23:37] #104 closed, assigned to piyushtank

[2021-01-15 23:39] piyushtank commented on #116
@kseniaChugunova  were you able to solve the problem? Our 4.x SDK has changes for how SDK can be used with CallKit.

Also, can you make sure, your app has the following entitlements in info.plist file -
[code]

[2021-01-15 23:41] piyushtank commented on #88
We are working on unified plan support on mobile SDKs. Once the feature is released, this problem should get resolved.

[2021-01-15 23:42] #77 closed, assigned to piyushtank

[2021-01-15 23:43] piyushtank commented on #129
Closing an old ticket but feel free to reopen this or file another ticket if you run into any issues.

[2021-01-15 23:43] #129 closed, assigned to piyushtank

[2021-01-15 23:47] piyushtank commented on #99
@dsngeu were you able to solve the problem? You can change the aspect ratio by setting the video format [APIs](https://twilio.github.io/twilio-video-ios/docs/latest/Classes/TVIVideoFormat.html). Let me know if you have any questions.

[2021-01-15 23:51] piyushtank commented on #154
Closing the ticket as we think the crash is resolved. Feel free to reopen the ticket or open another ticket if you run into any issues.

Thanks,
Piyush

[2021-01-15 23:51] #154 closed, assigned to ceaglest

[2021-01-15 23:52] #114 closed, assigned to ceaglest

[2021-01-15 23:54] piyushtank commented on #138
Closing this ticket as there is no activity in the last 2+ months. Feel free to reopen or open a new ticket if you run into any issues.

[2021-01-15 23:54] #138 closed, assigned to ceaglest

[2021-01-15 23:56] piyushtank commented on #126
Closing this ticket as there is no activity in the last 3+ months. Feel free to reopen or open a new ticket if you run into any issues.

[2021-01-15 23:56] #126 closed, assigned to ceaglest

[2021-01-15 23:57] piyushtank commented on #107
Closing this ticket as there is no activity in the last few months. Feel free to reopen or open a new ticket if you run into any issues.

[2021-01-15 23:57] #107 closed, assigned to ceaglest

[2021-01-15 23:58] piyushtank commented on #98
Closing this ticket as there is no activity in the last few months. Feel free to reopen or open a new ticket if you run into any issues.

[2021-01-15 23:58] #98 closed, assigned to paynerc

[2021-01-15 23:59] #122 closed, assigned to ceaglest

[2021-01-16 00:03] piyushtank commented on #90
We have shipped Bandwidth Profile APIs in our [3.x](https://www.twilio.com/docs/video/changelog-twilio-video-ios-version-3x#bandwidth-profile) and also shipped many more features in our Video SDK. Try out our latest [4.1](https://www.twilio.com/docs/video/changelog-twilio-video-ios-latest#410-january-13-2020) SDK and let us know.

Closing the ticket as it's very old. Feel free to reopen or open a

[2021-01-16 00:03] #90 closed, assigned to ceaglest

[2021-01-18 11:40] dsngeu commented on #153
@ceaglest @piyushtank any suggestion? or solution ?

[2021-01-18 12:44] SergejLogis commented on #148
@Hamoonist unfortunately, I don't have iOS 13 device on hands, and it's impossible to test camera on simulator...

@piyushtank Twilio works like charm with SwiftUI. We have zero issues with iOS 14. However, on iOS 13 the camera preview doesn't work so it's pretty much a deal breaker if you must support iOS 13.

[2021-01-18 18:25] Hamoonist commented on #148
So the problem we had with `cameraSource.startCapture(device: cameraDevice, completion:)` appeared out of nowhere, and got resolved by itself!
I wanted to share the good news 😅

[2021-01-19 05:02] dsngeu commented on #161
@piyushtank thanks for help.

[2021-01-19 05:02] #161 closed, assigned to piyushtank

[2021-01-19 15:05] paynerc commented on #84
Twilio Video iOS 4.0 was released on December 4th and supports distribution via Swift Package Manager.

Ryan

[2021-01-19 15:05] #84 closed, assigned to paynerc

[2021-01-19 15:07] paynerc commented on #34
As mentioned previously, the solution to this will be with the adoption of unified plan. While I cannot give an exact release date for this, I can say that it is actively being developed now. Stay tuned.

Ryan

[2021-01-19 15:25] paynerc commented on #140
I am going to close this ticket. Please feel free to reopen this issue if you are still experiencing issues.

Ryan

[2021-01-19 15:33] paynerc commented on #103
@mmimeault,

It's been a while since we released `3.6.0` with the `NS_ERROR_ENUM` support and am going to close this issue. Please feel free to reopen this issue if you are still experiencing issues.

Ryan

[2021-01-19 15:33] #103 closed, assigned to paynerc

[2021-01-19 16:00] apersaud commented on #140
I have not been able to use TwilioVideo SPM when archiving. I have reverted back to using Cocoapods. The issue above still persists.

[2021-01-19 16:07] paynerc commented on #140
@apersaud,

What happens when you archive? Is it similar to this issue, #152?

Ryan

[2021-01-19 16:58] apersaud commented on #140
Actually just adding the package through SPM provides this error:
![Screen Shot 2021-01-19 at 8 56 24 AM](https://user-images.githubusercontent.com/127068/105067348-756fea00-5a34-11eb-8c2c-be5d47807e82.png)

[2021-01-19 17:15] paynerc commented on #140
@apersaud,

Have you tried resetting the package caches as described above and also doing a clean of the project in Xcode?

Ryan

[2021-01-19 17:20] paynerc commented on #140
@apersaud,

Also, the 2 unhandled files sounds like an issue that was there with one of our beta versions. That has since been resolved before the `4.0.0` release. The latest release is `4.1.0` and it should no longer have that error.

Ryan

[2021-01-19 17:52] apersaud commented on #140
Thanks, it works now - however archiving produces the previous error:
![Screen Shot 2021-01-19 at 9 51 11 AM](https://user-images.githubusercontent.com/127068/105073500-00a0ae00-5a3c-11eb-904d-8339e31fc338.png)

However, this issue can be closed if the Mach-O is being tracked as #152. Thanks.

[2021-01-19 18:33] paynerc commented on #140
@apersaud,

That screen looks like it's related to #152, but the message is a little bit different. When you look at your project build phases, do you other copy file phases in there? There is an issue with Xcode that for every copy phase, it also copies any binary swift packages to that location in the project. In the case of the person reporting #152, they have a notification service extension a

[2021-01-20 11:30] dsngeu commented on #153
@paynerc @piyushtank ??
any update on it?

[2021-01-21 08:02] Arneoldenhave commented on #84
SPM not able to resolve dependency:

Error:
[code]
My Package.swift
[code]

[2021-01-21 08:14] Arneoldenhave opened #162 "SPM not able to resolve versioned dependency :"
SPM not able to resolve dependency:

Error:
[code]
My Package.swift
[code]

_Originally posted by @Arneoldenhave in https://github.com/twilio/twilio-video-ios/issues/84#issuecomment-764455702_

[2021-01-21 14:20] paynerc commented on #84
@Arneoldenhave

The package url is wrong. It should read `https://github.com/twilio/twilio-video-ios.git` for the `TwilioVideo.xcframework` dependency.

The URL you have listed is for the Twilio Video demonstration app.

Ryan

[2021-01-21 14:20] paynerc commented on #162
@Arneoldenhave

The package url is wrong. It should read `https://github.com/twilio/twilio-video-ios.git` for the `TwilioVideo.xcframework` dependency.

The URL you have listed is for the Twilio Video demonstration app.

Ryan

[2021-01-22 10:31] ptsochantaris commented on #144
Thank you for being aware and tracking this issue. As you can probably understand it's getting to be a bit of a blocker, do you have a timeline for when this issue might be fixed?

[2021-01-22 14:58] Arneoldenhave commented on #162
Thanks!

[2021-01-22 17:12] #162 closed, assigned to paynerc

[2021-01-26 03:04] Fanpei920 commented on #166
@timrozum

Yes, I still have this issue.

Following these steps and it can be reproduced.

1. Launch [video-quickstart-js](https://github.com/twilio/video-quickstart-js) in other device's browser and launch ReplayKit-example.
2. Join same room.
3. Start Conference in ReplayKit-example. and launch webview.
4. Rotate the ReplayKit-example's device
5. The stream in the video-quickstart-js' device is

[2021-01-27 12:53] PPacie commented on #112
Hi @piyushtank thanks for pointing out to the issues.
Right now it looks like doable but kind of fragile to be implemented in production.
I would like to know if it will be officially supported by Twilio Video SDK anytime soon and if you think the following issues might be sorted:

- Audio needs to be recorded separately. Will be great if it can be part of the video, or if it can be automatically

[2021-01-27 22:01] timrozum commented on #166
@Fanpei920 thank you very much for reporting this issue!

I am able to reproduce it on the iPad. I don't think it is an issue on the iPhone because orientation is automatically locked by the system when capturing the app screen. I don't know why iOS and iPadOS behave differently. I am looking into a solution.

[2021-01-28 02:53] AttilaTheFun opened #163 "How can I specify room type (P2P vs. Group) when connecting to / creating a room?"
I see in the REST API that you can specify the room type (P2P vs. Group) when creating a room, but I don't see a way to specify this with the client SDK.

Am I overlooking something? Or do I have to use the REST API to create the room in order to specify the room type, and then create an access token to this room from the server for the client?

If it's not currently supported, I'd recommend addin

[2021-01-28 07:52] hardikdevios commented on #144
Any workaround to run on the simulator with cocoa pods ?

[2021-01-28 16:58] ceaglest commented on #163
Hi @AttilaTheFun,

You haven't missed anything - it isn't possible to dynamically select the Room type from the SDK. Our recommendation at this time is to use the REST API to create Rooms if you need to select a type that is different than the default for your account.

We can keep this ticket to track the feature request.

Best,
Chris

[2021-01-28 17:02] paynerc commented on #144
@hardikdevios

We are working towards a release that will bring `arm64` simulator support. I can't state a timeframe for this release, but we are actively working on this at this moment. As soon as I know more about a date, I will update this issue.

Ryan

[2021-01-29 08:38] Sunilkumarr opened #164 "Undefined symbols for architecture arm64 while running pod lib lint using CocoaPods command"
[Personally Identifiable Information(PII)](https://www.twilio.com/docs/glossary/what-is-personally-identifiable-information-pii)
or sensitive account information (API keys, credentials, etc.) when reporting an issue.

### Description

Undefined symbols for architecture arm64 is coming while creating CocoaPods lib project using Twilio video SDK

added the video SDK as   `s.dependency 'TwilioVideo',

[2021-01-29 16:15] paynerc commented on #164
@Sunilkumarr,

This is a duplicate of #144. At the present time we do not offer a arm64 simulator slice. We are working on resolving this, however it requires all of the dependencies of Twilio Video to also be updated. I don't have a timeframe for when this will be released, however this is currently under active development.

Ryan

[2021-01-29 16:19] danielregefalk commented on #141
Thank you for the update @piyushtank. Could you provide any estimates as to when this will be available?

[2021-01-29 16:23] azei commented on #141
Thank you for the update @piyushtank. Could you provide a rough estimate as to when this will be available?

[2021-01-29 16:52] paynerc commented on #164
@Sunilkumarr,

After looking at this issue again, I believe that you are trying to build your own cocoapods library that has a dependency on Twilio Video. If that is the case, you will need to exclude the arm64 simulator in your pod spec definition. Take a look at TwilioVideo's [pod spec file from the 4.2.0 release](https://github.com/CocoaPods/Specs/blob/30143ab44666d568529bf8c4fe11b1c239de0e6e/S

[2021-01-29 16:55] Sunilkumarr commented on #164
@paynerc Thank you for your help will try it out.

[2021-01-29 17:00] paynerc commented on #164
@Sunilkumarr,

Great! Let me know if that solves this issue. And keep an eye on #144. One we ship a release for that you can remove that exclusion from your Podspec file.

Ryan

[2021-01-29 17:11] Sunilkumarr commented on #164
@paynerc It's working now Thanks. Sure will keep eye on #144

[2021-01-29 17:11] #164 closed, assigned to paynerc

[2021-01-29 21:07] piyushtank commented on #153
@dsngeu We aim to release the unified support feature by the end of Q1 or in early Q2. Thanks!

[2021-01-31 10:08] jshivam opened #165 "How to get any kind of notification once the user clicks on "Don't Allow" to camera persimmon alert view."
### Description

I can't find any api exposed by Twillio where i can get any callback once the user clicks on "Don't Allow" to camera persimmon alert view.

How to get any kind of notification once the user doesn't allow the camera permission ?

[2021-02-01 15:51] paynerc commented on #165
@jshivam,

The Camera and Microphone permissions are handled not by Twilio but by Apple via `AVFoundation`. Take a look at [`AVCaptureDevice authorizationStatusForMediaType:`](https://developer.apple.com/documentation/avfoundation/avcapturedevice/1624613-authorizationstatusformediatype?language=objc).

In your app you can do something similar:

[code]

Handling microphone permissions is similar, j

[2021-02-01 16:15] jshivam commented on #165
[code]
@paynerc paynerc
When I call `camera.startCapture` for the first time, it ask for camera persimmon, but when I deny it, it doesn't give me any error in the closure.  I believe it should give me an error in the closure. But it does't.

Note: it gives me the error in the closure when I run the code for the second time. i.e. when it's known that `AVAuthorizationStatus` is either `AVAuthorizati

[2021-02-01 17:06] paynerc commented on #165
@jshivam,

Ah, I see. You are calling `startCapture` and it is returning the closure as it begins to initialize the capturer. However, if you don't allow the camera at that point, you aren't getting any notification that the camera permission was declined. I will take a look to see why a call back isn't raised to let you know the camera capture should be stopped due to lack of permissions.

Ryan

[2021-02-01 20:25] paynerc commented on #165
@jshivam,

From what I am seeing, the first call to `AVCaptureDeviceInput initWithDevice:error:` is what will trigger the Camera permissions dialog to be raised if the permissions have not been previously granted. Doing some further investigation, it turns out that the `AVCaptureSession` is a bit weird on the first run. If you decline camera access, it will then return you black frames during that

[2021-02-02 00:23] timrozum commented on #166
Hi @Fanpei920,

I have transferred this issue to our video SDK repo since the SDK is impacted.

After looking into this more I believe that this problem is caused by an Apple bug. I have submitted a bug report to Apple.

Unfortunately I don't think there is a reliable workaround that we can apply inside the SDK.

You could consider locking the UI orientation during screen capture on iPad to preven

[2021-02-03 19:36] paynerc commented on #165
@jshivam,

We released Twilio Video iOS `4.3.0` which now properly returns an error in the `CameraSource.startCapture()` completion if the user has declined the camera permissions. Please test out your scenario where the user declines camera permissions on the first time permissions are requested when calling `CameraSource.startCapture()`.

Ryan

[2021-02-04 16:59] dpraymond opened #167 "Audio Playback on local device stops working after call disconnects"
We have an application that requires us to play some sound locally during a call.  We are currently using an AVPlayer object to playback the sound on the local device and we are seeing a couple of issues.

When not in a call playing sounds seems to be quite loud and coming from the loudspeaker at whatever hardware volume setting we have set on the iPad.  Once a call is connected, that local audio

[2021-02-04 17:38] yura-kinoo opened #168 "App crashes on answering a call."
Using the implementation of the AVAudioEngineDevice from [ExampleAVAudioEngineDevice.m](https://github.com/twilio/voice-quickstart-ios/blob/master/AudioDeviceExample/AudioDevices/ExampleAVAudioEngineDevice.m)

This happens **rarely**. It looks like an exception is being thrown within TwilioVideo and not handled. Any idea what is going on?

Thread 68 name:  AURemoteIO::IOThread
Thread 68 Crashed:
0

[2021-02-04 18:19] piyushtank commented on #167
@dpraymond Thanks for reaching out.

When VoIP call is running, iOS prioritizes the VoIP audio and suppresses the volume of audio played by AVPlayer. The recommended way is to use mix both audio and play it out. We have AVAudioEngineExample audio device to demonstrate this use case.

We have a work-in-progress PR that demonstrates how to play music even after the call is disconnected - https://git

[2021-02-04 18:25] piyushtank commented on #168
@yura-kinoo Thanks for reaching out. It sounds like the crash is happening due to an underlying implementation bug in the implementation of `TVIAudioDevice`.  Can you please share the steps to reproduce the bug, full stack trace, and the logs? You may want to share these via a support ticket and mention this issue in there.

[2021-02-04 19:03] yura-kinoo commented on #168
Hi, @piyushtank
I contacted the support like you suggested with the crash log and steps to reproduce. Thanks.

[2021-02-04 20:23] dpraymond commented on #167
Thanks for the quick reply, I'm currently working to integrate the AVAUdioEngineExample into our repo, we are using Swift and I've had a few issues with compilation errors around the Bridging header but I'll power through as it seems like this is the only way to get this working.

Do you know if there is any way, other than using .measurement mode to suppress the audio processing on the device?  T

[2021-02-04 21:16] piyushtank commented on #167
@dpraymond If you want to suppress the hardware audio processing, instead of VoiceProcessingIO, you can try using RemoteIO with `AVAudioSessionCategoryPlayAndRecord` category and `AVAudioSessionCategoryOptionDefaultToSpeaker` with `measurement` mode. Personally, I haven't tried it, but it's worth giving a shot, I think.

I want to highlight that not using VoiceProcessingIO in a VoIP call may cause

[2021-02-04 21:50] dpraymond commented on #167
Okay, I believe I saw another thread about that issue, I'll give it a try.

We will make sure people know they should use headphones when in that mode to limit Echo as much as possible.  I've managed to integrate the ExampleAVAUdioEngineDevice and I integrated your patches for continuousMusic.  We aren't playing music per se, but we have a few things that generate sound, one of these is a keyboard

[2021-02-04 22:13] piyushtank commented on #167
@dpraymond Can you confirm you are calling `playMusic` with `continuous` argument set to `true`?

`mixedAudioBufferList` is created [here](https://github.com/twilio/video-quickstart-ios/blob/master/AudioDeviceExample/AudioDevices/ExampleAVAudioEngineDevice.m#L596).

[2021-02-04 22:39] dpraymond commented on #167
@piyushtank To simplify, since I will always require the ability to play local audio when not in a call I hard-coded continuousMusic to be true all the time

[code]

[2021-02-04 23:00] piyushtank commented on #167
@dpraymond Can you change it to lazy instantiation like [this](https://github.com/twilio/video-quickstart-ios/blob/dc9454289a5dab35e5b1342ec9ec67573f2c205b/AudioDeviceExample/AudioDevices/ExampleAVAudioEngineDevice.m#L439-L449) ?
For the first time when you play music, in the patch, we setup and start the AVAudioEngine nodes and then set `continuousMusic` to true. Subsequent music play request, th

[2021-02-05 05:18] dpraymond commented on #167
@piyushtank Thanks so much for the input, I really appreciate it.

I have a final question, since i'm moving the AvAudioEngine into the ExampleAvAudioEngineDevice we were previously using code such as
[code]
to tap into the microphone input for some sound analysis for a tuner application, this no longer works even though I'm using the AudioEngine from the ExampleAVAudioEngineDevice, the tap get's

[2021-02-05 09:25] maidmehic opened #169 "roomDidDisconnect callback"
Hi guys, one simple question: is it normal that the roomDidDisconnect callback gets triggered when the last remote participant left the room? I can't find detailed docs about callbacks.

[2021-02-05 15:29] dpraymond commented on #167
@piyushtank I've implemented the above using your latest commit to ExampleAVAudioEngineDevice and I'm seeing the playMusic call being activated but I still don't hear anything locally while not in a call, not the example music or any of my local sounds, once a call has connected and then disconnected I can continue to play sounds, but on startup there is no sound until connected to a room.

Here i

[2021-02-05 17:59] piyushtank commented on #167
@dpraymond The [PR](https://github.com/twilio/video-quickstart-ios/pull/589) successfully plays audio before connecting a call also. Can you prepare a branch on top of it and share it, I can take a look at the audio device implementation to see where the problem is?

[2021-02-05 18:50] dpraymond commented on #167
@piyushtank What  device implementation are you looking for?  I can't share our whole project unfortunately as the source code belongs to a customer and isn't opening sourcing it.  I'm happy to share any of the Twilio initalization code though, I pasted the assignment of the audioDevice code above and how I plugged in our sampler into the existing AudioEngine ( which seems to work once a call has

[2021-02-05 19:19] piyushtank commented on #167
@dpraymond Given that our sample code is able to achieve the functionality, I suspect the bug is in your app's AudioDevice implementation code. Without looking at the AudioDevice implementation code, it's hard to find the problem area. Can you create a branch top of the PR to replicate the problem?

[2021-02-05 19:24] dpraymond commented on #167
@piyushtank
I'm simply using the defualt ExampleAVAudioEngineDevice from the branch you posted, I removed the two functions I added to expose the audioEngine's and for now am just going with the stock implementation.   There are no differences between the code in my project and the branch

[code]

[2021-02-05 19:31] piyushtank commented on #167
@dpraymond Instead of just calling `[self playMusic:YES]` from `ExampleAVAudioEngineDevice`'s `init`, can you call it asynchronously on main queue -
[code]

[2021-02-05 19:38] dpraymond commented on #167
@piyushtank
I'm seeing the following error in the logs

2021-02-05 14:35:28.805276-0500 [1420:447456]  ca_require: SanityCheck(newDesc) InvalidFormat
2021-02-05 14:35:28.805316-0500 [1420:447456] Could not set stream format on input bus!
2021-02-05 14:35:28.807096-0500 [1420:447456]  ca_require: SanityCheck(newDesc) InvalidFormat
2021-02-05 14:35:28.807133-0500 [1420:447456] Could not set stream f

[2021-02-05 19:50] piyushtank commented on #167
@dpraymond Sounds like your app sets invalid audio format. There is a lot of back and forth on this thread, please create a branch on the audio device to replicate these errors and share. We won't be able to help debug without knowing your implementation of audio device.

[2021-02-05 19:57] dpraymond commented on #167
@piyushtank What code do you need to see?  Just the ExampleAVAudioEngienDevice.m and .h?

[2021-02-05 19:58] piyushtank commented on #167
@dpraymond Yes. ExampleAVAudioEngienDevice.m and .h If you like, you can send me at my email ptank@twilio.com

[2021-02-05 20:05] dpraymond commented on #167
@piyushtank
Thank you for the support, I've sent an email with the relevant code attached including our Twilio handling code.

[2021-02-05 23:05] piyushtank commented on #167
@dpraymond It was great talking to you over the live call. Closing the ticket as the issue has been resolved.
Feel free to reach out to us if you have any questions.

[2021-02-05 23:05] #167 closed, assigned to piyushtank

[2021-02-09 12:05] dsngeu commented on #153
@piyushtank is there any solution for now? Because we have release next month.

[2021-02-09 18:04] ceaglest commented on #153
Hi @dsngeu,

Can you provide us a Room SID where you are having an issue with the updated SDK?

In your previous Room SID a Group Room was used, so I am not sure that mobile SDKs adopting unified plan is going to solve your problem. It is more likely that your application is not handling track publication or track subscription events.

Best,
Chris

[2021-02-10 12:30] dsngeu commented on #153
@ceaglest @piyushtank

Room Sid: RMd196db362eb66ec35a2aed455fcf1b85
version : 'TwilioVideo', '~> 4.1'

[2021-02-12 03:32] zachmarion commented on #81
@JacopoDaeli or @ceaglest, would either of you mind elaborating on the change you made to successfully compile? Thank you!

[2021-02-12 04:13] adroitdev1 commented on #153
Hi,
We are also getting the same issue. We opened a support ticket and awaiting a response from Twilio. Wondering if there is any solution or guidance for us?

**Our project is halted due to this issue.**

Thanks

[2021-02-13 00:31] ceaglest commented on #153
Hi @dsngeu,

version : 'TwilioVideo', '~> 4.1'

I looked at the Room SID and I don't see anything wrong with it. Both Participants are able to connect, subscribe to each other's tracks and then exchange media. We need more information to help out, including what callbacks were raised in the JavaScript side.

If it would be possible to even try your demo app it might help us get to the bottom of th

[2021-02-13 00:35] ceaglest commented on #153
Hi @adroitdev1,

Are you using Peer-to-Peer / Go or Group Rooms when media is not being sent? If it is the former then the best solution to the problem is for the mobile SDKs to adopt unified plan. If it is the latter, I think the issue might be related to not handling all callbacks raised.

If you could share your support ticket we can continue the discussion there. For Peer-to-Peer/Go Rooms ther

[2021-02-13 01:09] adroitdev1 commented on #153
We used both types of Peer-to-Peer / Go or Group Rooms but the issue is still the same.
Support Ticket # 5830951

[2021-02-13 02:21] ceaglest commented on #153
Support Ticket # 5830951

Very interesting. I will reach out on the support ticket for more info.

[2021-02-13 22:09] mrkvans commented on #152
Solved -- with a workaround...

From the Xcode Archives screen, right-click on the file to be distributed and select 'show in finder' ... then, "show package contents" and navigate to the nested 'plugins' folder...

delete the "TwillioVIdeo.framework" folder inside the plugins folder.. it's identical to the one that is in the "Frameworks folder.

this got me unstuck, should get you unstuck as well

[2021-02-14 10:09] Hamoonist commented on #119
Hi, I'm using version 4.3.0 and it asks for Local Network permission.
Is it an expected behaviour?
If so, how can I stop it from asking the permission? Because I have noticed it is working fine even when the permission is denied!

[2021-02-15 00:43] piyushtank commented on #119
@Hamoonist Thanks for reaching out.

By default, TwilioVideo doesn't access the Local Area Network. Can you confirm the following -
1. Can you check your app is not explicitly setting `connectOptions. networkPrivacyPolicy` while connecting to a Room?
2. In your app, code other than TwilioVideo is not triggering the popup. The easiest way to verify is to try out with our [quickstart sample app](htt

[2021-02-15 14:26] adroitdev1 commented on #153
Hi Chris

Wondering if you got a chance to check the support ticket 5830951. We are able to run the https://www.twilio.com/code-exchange/video-collaboration but that will take time to integrate. The Quick-Start twilio-video-ios still does not work.
We've go-live at the end of the current week so any help is appreciated.

Thanks

[2021-02-16 01:42] ceaglest commented on #153
Hi @adroitdev1,

I responded on your support ticket.

My first read of the problem is that your JavaScript app is not appropriately configured for 1:1 video conferencing and you are also using a far away media region. As a result, video from the iOS SDK is being switched off and not sent to the JS app.

Best,
Chris

[2021-02-16 02:43] ceaglest commented on #153
Hi @dsngeu,

I see the same problem in your Group Room SID. If your JS app is for 1:1 consultations there is no need to use **collaboration** mode. It can result in video being switched off and not sent to your JS participant.

[code]

In the code where your JavaScript app connects, you can really simplify your BandwidthProfile. Also, there is no need for Vp8 simulcast in 1:1, this might actually

[2021-02-17 13:07] adroitdev1 commented on #153
Hi Chris
Followed the instructions to Grid Mode, Set bandwidth, etc.  Android works great as before but iOS still gives blank video.
We've uploaded our Windows and iOS codes into the support ticket. Appreciate your help in this regard. It's a big headache to see a working code stop a week before go-live.
Thanks.

[2021-02-18 08:13] Adilsheikh1 opened #170 "After network resume, We are unable to reconnect room"
### Description

After network resume, Twilio we are not getting for room reconnected instead of that we are getting signaling timeout

### Steps to Reproduce

1. Make a call iOS to iOS
2. After successful call connection, assume anyone participants network is not available for 11 to 15 sec ( Turn off the internet for 15 sec & turn it on again)
3. We get a call back from Twilio network-level 0 eve

[2021-02-18 08:15] PshrivastavaMoreYeahs commented on #170
I am also facing same issue.

[2021-02-18 15:34] VictorPapyshev commented on #49
Hello Ryan,

If you are able to provide one, an update on the status of Catalyst support with Twilio Video would be much appreciated!

Best,
Victor

[2021-02-18 18:53] paynerc commented on #153
I followed up in the Twilio support ticket, but I will also post that answer here for anybody else that may be seeing this same issue when attempting to use the iOS Quickstart applications with the Twilio Video React demonstration application.

Please let me know if you are still experiencing issues after changing the case of the video track name in the iOS Quickstart.

Ryan

[2021-02-19 14:26] marcato15 opened #171 "Expose Participant Identity when receiving a Data Track Messages"
Is there a way to make it easier to see the Twilio identity of the participant who sends a data track message? Currently you have to keep track of the data track that each participant publishes and then when a message comes in compare the data track id that the message comes in on to the list of published data tracks for participants.

[2021-02-23 16:24] ukudala commented on #49
Hi Ryan! I would like to add another vote of excitement and desire for Twilio Video Catalyst support. I can see this thread has been long active, and it's my hope that you guys are nearing a release. Thank you for bringing Twilio Video to Mac Catalyst ❤️

Best regards,
Jordan, Scorebreak

[2021-02-24 06:46] odieatla commented on #8
Has anyone verified this on iOS 14? I'm still having trouble to have audio through when app is in the background. The error message I received is "-CMSUtilities- CMSUtility_IsAllowedToStartRecording: Client sid:0x25aec, <private>(2525), 'prim' with PID 2525 is in the background and doesn't have the entitlement to start recording in the background." I'm not using CallKit.

[2021-02-26 08:26] mweyamutsvene commented on #49
Hi Ryan,
Just to piggy back on this thread, are there plans to also have Twilio Conversation Catalyst support as well?

~tommy

[2021-03-02 10:59] Adilsheikh1 commented on #170
waiting for the response

[2021-03-02 15:12] paynerc commented on #165
@jshivam,

Just checking in to see if this has solved your issue. I will close this issue, but feel free to reopen it if you are still experiencing issues.

Ryan

[2021-03-02 15:12] #165 closed, assigned to paynerc

[2021-03-03 04:54] dsngeu commented on #153
@paynerc @ceaglest

when I change **Camera** to **lowercase camera**, video track start appearing on web app, and its working fine.
but video broadcast from iOS device it is still not visible to web app.

**I also check to name Screen to lowercase screen name but no luck.**

class SampleHandler: RPBroadcastSampleHandler {
    override func broadcastStarted(withSetupInfo setupInfo: [String : NSObje

[2021-03-03 12:15] hudsonblack opened #172 "didDisconnect calls when connect to room"
After connecting to room this delegate method calls immediately
`
 func participantDidConnect(room: Room, participant: RemoteParticipant)
`

[2021-03-03 20:34] ceaglest commented on #170
Hi @Adilsheikh1,

Sorry for the slow response.

I am investigating the Room SID that you provided. It does seem like the server may not be sending a message that was required to reconnect your iOS participant. I will reach out if we need more info like client side logs to diagnose.

Thanks,
Chris

[2021-03-03 20:44] ceaglest commented on #170
Hi @PshrivastavaMoreYeahs,

Sorry I did not reach out sooner.

Which kind of Rooms are you using, could you provide a Room SID? The issue we are tracking internally impacts reconnection to a Group or Small Group Room.

Thanks,
Chris

[2021-03-03 20:55] ceaglest commented on #171
Hey @marcato15,

That's a fair point.

Would raising messages on TVIRemoteParticipantDelegate help, or including the Participant's SID or identity in TVIRemoteDataTrackDelegate callbacks?

Best,
Chris

[2021-03-03 20:56] ceaglest commented on #172
Hi @hudsonblack,

Could you restate the question?

`participantDidConnect` is called for each remote participant that connects to the Room after your local participant.

Best,
Chris

[2021-03-03 21:00] ceaglest commented on #125
Hi @simbara,

The codec settings provided at connect time are used for all video tracks that you publish.

Yes, you can choose wether to treat your custom VideoSource content as either screen or regular video content using `-[TVIVideoSource isScreencast]`. As of 4.0.0 our SDK supports simulcasting of either screen or normal video content using VP8.

- [TVIVideoSource.screencast](https://twilio.git

[2021-03-03 21:00] #125 closed, assigned to ceaglest

[2021-03-04 04:38] hudsonblack commented on #172
@ceaglest Thanks for your quick response
I'm sorry. I meant `participantDidDisConnect` calls after room creation.

[2021-03-04 13:10] patrikwlund opened #173 "Question: Which WebRTC version is used for a given version of the SDK?"
Hi, I'm wondering if there's a way to find out which WebRTC version is built in to a given version of the SDK. I've seen that you sometimes include such information in the release notes, but it seems like a rare occasion.

So for concrete questions:
1. Do you always post WebRTC upgrades in your release notes?
2. Can I find out from the SDK release package or in runtime which WebRTC version it is b

[2021-03-04 18:09] ceaglest commented on #172
Hey @hudsonblack,

Could you provide a Room SID so we can have a look? One possibility is that your participants are not using identities that are unique within the scope of a Room.

Best,
Chris

[2021-03-04 20:49] marcato15 commented on #171
I think it might be simplest to return the participant identity in the `TVIRemoteDataTrackDelegate` callback.

[2021-03-05 18:41] ramapal opened #174 "[P2P][Chrome 89][iOS 3.x][Android 5.x] Mobile Participants cannot see or hear Chrome Participants."
Please see the details of this known issue and the solution [here](https://github.com/twilio/twilio-video.js/issues/1409).

[2021-03-06 05:39] PshrivastavaMoreYeahs commented on #170
Hi Chris thanks for replying,

we are using  Room Type: Group-Small  with max 2 Participant.

Thanks,
Prashant

[2021-03-08 06:37] ceaglest commented on #170
Hi @PshrivastavaMoreYeahs,

It does sound like the same issue with a delayed server response. Could you share a recent Room SID by any chance?

Best,
Chris

[2021-03-10 07:04] PshrivastavaMoreYeahs commented on #170
please have a look into:
room sid: RM12e4ebf3750826dc6dd8d5c585756f74
As per our internal logs for this call, showing internet level was above 4 (very good internet level) but we got signalling disconnection.

[2021-03-11 14:54] magneticrob opened #176 "Upgrading from 3.7.2 -> 4.3.0 has stopped sound from being sent and received"
### Description

I have an app which uses the twilio video sdk to communicate with a web app, running the javascript video sdk. On 3.7.2, everything works correctly, and has done for some time on versions prior.

After upgrading to 4.3.0, video works, but sound does not. Has something changed in terms of how audio tracks should be handled in between these versions that I've missed? I can't see any

[2021-03-11 15:19] magneticrob commented on #176
Since I opened this I checked the quickstart app out again and noticed its also setting some `preferredAudioCodecs` in the builder. I've tried setting these and it doesn't seem to have had any effect.

[2021-03-11 20:38] ramapal commented on #174
Closing the issue since it has been resolved.

[2021-03-11 20:38] #174 closed, assigned to nobody

[2021-03-12 16:19] ceaglest commented on #170
Hi @PshrivastavaMoreYeahs,

In the Room SID that you provided the ios 12.5.1 device was losing signaling connectivity about once a minute and reconnecting to the server. Eventually the reconnection failed, but I don't think that this is the same root cause as the original poster of this issue.

I am pretty sure you are experiencing this issue (https://github.com/twilio/twilio-video-ios/issues/113)

[2021-03-12 17:38] PshrivastavaMoreYeahs commented on #170
Hi @ceaglest thanks for reply,
 I have updated SDK to 4.3.0 and released build to our production. if user will get the same on latest sdk, I will post for similar issues in future.
Thanks,
Prashant

[2021-03-17 11:44] dmd-pro opened #177 "How to show a synchronized call duration for two room participants?"
Hello everyone!

Thanks for developing this great Twilio SDK for video calls!

Currently, in our audio/video calling app, we need to show the duration of the call. There can be a maximum of two participants in the call. We've implemented it using a timer that updates call duration every second as shown bellow:

`callDurationTimer = Timer.scheduledTimer(timeInterval: 1, target: self, selector: (#se

[2021-03-17 13:26] Tratar commented on #47
Hello @piyushtank
Yes, we are still encountering the issue with 4.x SDK.

2021-03-17 16:23:51.201483+0300 mfmv4[2957:549121] Difference: 2.206865
2021-03-17 16:23:51.201743+0300 mfmv4[2957:549121] Took greater than a second!
2021-03-17 16:23:53.105465+0300 mfmv4[2957:549121] Difference: 0.845838
2021-03-17 16:23:55.447408+0300 mfmv4[2957:549121] Difference: 1.300346
2021-03-17 16:23:55.447632+0300

[2021-03-18 20:52] rpescador opened #178 "Dominant speaker not working properly"
### Description

Cannot identify properly the dominant speaker in a Twilio Room

### Steps to Reproduce

1. Connect into Twilio room as Participant1 (wait for second participant to join)
2. Participant2 connects, Participant 1 (on its Twilio room delegate) receives a message on `dominantSpeakerDidChange` delegate method with Participant2 identity)
3. Regardless any audio update in any of sides (ta

[2021-03-18 21:30] paynerc commented on #178
@rpescador,

Are both participants joining using the Swift code attached?

Can you provide a RoomSID for a room where this occurred so we can begin to troubleshoot the issue?

Thank you,

Ryan

[2021-03-18 21:53] rpescador commented on #178
@ paynerc
Yes, that is the code used by both clients to connect.
This is the info for the room I performed the last testing:
`room: us.4fef86b4-c9b5-42ba-85e3-8762f669c725, roomSID: RM3e4c6a87b78b22d9e771d5bd30518841`

Rgds!

[2021-03-19 03:53] TwiUser opened #179 "Could not use TVIScreenCapturer"
I am trying to implement screen sharing feature in iOS. I checked with the Twilio screen share documentation and samples code.When I tried to use the TVIScreenCapturer class , TVIScreenCapturer is unavailable in sdk. Do I need to use updated screen capturing class? I followed the following Twilio documentation link.

https://www.twilio.com/docs/video/ios-v1-screen-capture

     let capturer: TVIVi

[2021-03-19 04:49] #179 closed, assigned to nobody

[2021-03-19 13:41] paynerc commented on #178
@rpescador,

I took a look at the roomSid and one thing I noticed is that you have three clients that connected to the room:

[code]

The two iOS clients are connecting with Dominant Speaker enabled, however the web client is not. First step would be to enable it also on the Web user and see if that changes your results.

Second, debug level logging for both iOS clients would be very helpful in tr

[2021-03-19 15:52] paynerc commented on #178
@rpescador,

Also, the Dominant Speaker functionality is relative to the local participant. If there are only two people in the room, P1 will see P2 as the dominant speaker from their perspective and P2 will see P1 as the dominant speaker. Add a third participant with Dominant Speaker functionality enabled and you should see the delegate being invoked when the dominant speaker is changed.

Have a

[2021-03-19 19:18] rpescador commented on #178
@paynerc
I collected the logs from both iPad clients connecting to:
room: us.c4ac878e-1b4e-4045-8747-f27f9326a8d0, roomSID: RMa0109ce6bd7c8ae8f62a64c72fe9509b
The third participant in the call is a JS client, with dominantSpeaker enabled
[TwilioHost.log](https://github.com/twilio/twilio-video-ios/files/6173489/TwilioHost.log) (P1)
[TwilioParticipant.log](https://github.com/twilio/twilio-video-ios/

[2021-03-24 14:27] paynerc commented on #178
@rpescador,

Sorry for the delay in getting back to you. I wanted to make sure I had a chance to talk to our backend folks before responding to make sure I was correct in my response.

The Dominant Speaker functionality is implemented on the media server side. The media server performs the calculations to determine which remote audio track is the active speaker for each participant. Even when no p

[2021-03-25 12:16] janremes commented on #144
@paynerc

Hi, just checking in, it's two months since the last update. Is there any progress or time estimate?
It's also a bit blocker for our team. Since more and more people are using M1 macs.
Thanks for update!

[2021-03-26 12:56] magneticrob commented on #176
Any ideas? It's been two weeks.

[2021-03-26 13:57] paynerc commented on #176
@magneticrob,

Sorry for the delay in getting back to you on this issue. There should be no changes for Audio track handling between `3.x` and `4.x` releases. A few questions for you. You stated that you are connecting with a web app running the JavaScript SDK. Can you provide the version of the JS SDK as well as what browser you are using and its version? I want to run this by the JS folks as wel

[2021-03-26 15:17] paynerc commented on #173
@patrikwlund

We announce when we upgrade the version of WebRTC that Twilio Video iOS consumes in the Release Notes. With that said, Twilio Video iOS, `3.7.2` is built with WebRTC-67. Twilio Video iOS `4.0.0` was upgraded to WebRTC-83.

Ryan

[2021-03-26 21:45] mrkvans commented on #144
@paynerc While support for Simulator on the Apple Silicon M1 macs is pending, does the  Twilio Video iOS 4.x SDK work with an attached iPhone? I'm having trouble compiling the code on the M1 period - Which means I haven't been able to use my MacBook for development on Twilio Projects since we added it as a dependency 2 mo ago...

Any updates on timing/progress are greatly appreciated.

[2021-03-30 02:41] #156 closed, assigned to ceaglest

[2021-03-30 20:06] patricktemple commented on #88
Is there an update on this, or an expected timeframe for release of the new Unified Plan version? Thanks!

[2021-03-30 22:53] piyushtank commented on #88
@patricktemple Our team is currently working on Unified Plan support, I dont have any specific timeframe, but should be out soon, may be in Q2. We will keep you posted.

[2021-04-02 16:20] Innocuousjoe opened #180 "Rotate Outgoing Video Streams"
I'm sure I'm missing something obvious, but I've looked all over the API docs and the quickstart repo to no avail, so here I am.

Our app only supports portrait, but when a user, in a view controller with a number of other `RemoteParticipant`, across a variety of platforms (web, android, iOS) rotates their phone to landscape I want to be able to send a rotated version of that stream so it shows up

[2021-04-06 09:07] ptsochantaris commented on #144
@mrkvans For what it's worth, we are able to compile fine on M1 Macs for devices, and also for running as a Mac app (i.e. without the Sim) - so if you are having issues there it may be a configuration issue worth investigating.

That said, there's no substitute for debugging apps in the Sim, and in a month it's going to be a year since Apple released Xcode betas with support for ARM Sim slices in

[2021-04-06 17:12] ceaglest commented on #180
Hi @Innocuousjoe,

If you use `VideoView` to render the `RemoteParticipant` video it should take care of any orientation tags and render the video with the correct orientation.

If you are using CameraSource for iOS publishers then yes, the source does track the user interface orientation by default.

- Check out the [CameraSourceOptionsBuilder.orientationTracker](https://twilio.github.io/twilio-v

[2021-04-06 18:00] Innocuousjoe commented on #180
Hey Chris!

Thanks for getting back to me.  I WAS previously using the `builder.orientationTracker` but `UIApplication.shared.keyWindow!.windowScene!` was giving me an error, that `keyWindow` was deprecated, despite me having `UIApplicationSupportsMultipleScenes` set to `false`.

In lieu of that I Googled around and found this slightly awkward workaround to find the right scene:

    let keyWindow

[2021-04-06 21:05] dericpr opened #181 "Cannot get Twilio to route Audio to Bluetooth headphones"
I've been working on integrating the ExampleAVAudioEngineDevice with mixed results, it's mostly working for what we need it for, which is mixing local audio into the stream for both local playback and playing back into the stream going to the remote client.

We have a few issues though which are still causing some problems.

1) Cannot get bluetooth headsets to work.

Here is the setup for our audi

[2021-04-08 17:34] paynerc commented on #144
@mrkvans,

I am very sorry to have not gotten back to you. I did have a response typed but I guess I didn't actually post it 😞. The answer is yes, you can definitely build and debug on device using an M1 Mac. I do have an M1 Mac here for development and testing and this definitely works.

@ptsochantaris,

Yes, I totally understand the frustration regarding not being able to run on the simulator on

[2021-04-12 16:41] Innocuousjoe commented on #180
Hey @ceaglest, any additional thoughts there?  It's not super high priority, but I wanted to check in before the week kicks off and things get busy!

[2021-04-14 16:44] Innocuousjoe commented on #180
This issue appears to accomplish exactly what I'm trying to do, but no longer seems to exist?

[#324](https://github.com/twilio/video-quickstart-ios/issues/324)

[2021-04-15 17:17] ceaglest commented on #180
Hey @Innocuousjoe,

Sorry for the abbreviated response, let me see if I can help.

Yes, this is pretty much exactly what you want to do. What do you mean when you say that it doesn't exist? I can view the issue, and the orientation tracking API still exists in 4.0.

Best,
Chris

[2021-04-15 18:03] Innocuousjoe commented on #180
@ceaglest Well, the orientation tracking API exists but the manual update is gone, is what I meant.

The issue I'm having, and have been going back and forth with the Twilio Support Team about, is that I have landscape mode disabled and the orientationTracker doesn't seem to be registering shifts back and forth to landscape as a result, but listening for `orientationDidChangeNotification` DOES see

[2021-04-16 07:02] caglarcakar commented on #116
We are dealing with the same problem since 3.x.SDK. We updated the sdk to 4.x but it is not solved. The entitlements are already added by the way. Any progress with this bug @piyushtank ?

[2021-04-16 12:54] markmadlangbayan commented on #147
Hi @ceaglest, I see that this is tagged to 4.0 milestone.   Is there an approximate date?  We're still on 3.x as we rely on H.264.  Thanks!

[2021-04-16 17:17] ceaglest commented on #147
Hi @markmadlangbayan,

Our upcoming release with Apple Silicon simulator support is based upon WebRTC m88. I will retest to see if this issue is resolved there. At this point it is likely that the root cause needs to be fixed in the libwebrtc, or the decoder implementation patched to disallow the bad bitstreams with gaps.

As the next step, I will let you know if the issue will be fixed in an upco

[2021-04-20 23:41] Armenm commented on #152
Thanks @paynerc for the workaround, it worked well.

I also had to add this line, as we have a Watch extension as well.
`rm -rf "${CODESIGNING_FOLDER_PATH}/Watch/TwilioVideo.framework"`

Couldn't find equivalent of `BUNDLE_PLUGINS_FOLDER_PATH` for Watch folder path.

[2021-04-22 18:57] dericpr commented on #181
Discovered that even though the AVAudioSession is being setup in ExampleAVAudioEngineDevice we still have to use the AVAudioSession.sharedInstance().setCategory call from within our Swift application as well to get this to work.

[code]

in our init handler before the application finishes allows bluetooth connections to function.

[2021-04-26 09:57] floriangbh commented on #156
Hello @tuando3i,

Did you successfully retrieved video frame from the Twilio SDK?

I'm also looking at getting video frame (in CVPixelBuffer format) to make some rendering on it?

Thanks

[2021-04-26 23:13] erisvaldojunior opened #182 "Remote audio not working on Apple Silicon (M1)"
### Description

If you generate an .app for Apple Silicon and try to call an iPhone or iPad (running the same app), everything works great, except that the MacOS user can't listen to the mobile one (remote audio doesn't work).

### Steps to Reproduce

1. Open Xcode and Run app on My Mac (Designed for iPad) / product -> archive it as a Mac app on a Apple Silicon machine
2. Make a video call with a

[2021-04-27 12:06] Goule opened #183 "Choose VideoFormat error"
Hello,

### Description

I'm trying to force quality for the camera. But I have an error when I'm trying to do it.
By default there is very low frame size of 640x360 is captured and sent to receivers, whereas I'm on iPhone XS back camera and really goog connexion.

How to force a quality up to 720p or 1080p with good network quality?

#### Code

Code modified from the sample.

[code]

#### Expecte

[2021-04-27 12:07] Goule opened #184 "Get video frame from participant"
Hello,

I would like to retrieve the video frame received from a participant but I can't find how to do it.

It looks like TVIVideoFrame is what I need to get frame but how to get it from the participant?

Usecase: my user needs to select one of the participants to broadcast it to the RTMP destination.

Thanks

[2021-04-28 17:51] paynerc commented on #184
@Goule

What you can do is implement a custom [`TVIVideoRenderer`](https://twilio.github.io/twilio-video-ios/docs/latest/Protocols/TVIVideoRenderer.html) and add it to the [`TVIVideoTrack`](https://twilio.github.io/twilio-video-ios/docs/latest/Classes/TVIVideoTrack.html) via the [`addRenderer`](https://twilio.github.io/twilio-video-ios/docs/latest/Classes/TVIVideoTrack.html#//api/name/addRenderer:

[2021-04-28 17:56] paynerc commented on #183
@Goule

Take a look at the [`TVICameraSource supportedFormatsForDevice:`](https://twilio.github.io/twilio-video-ios/docs/latest/Classes/TVICameraSource.html#//api/name/supportedFormatsForDevice:) method. This will return all the valid [`TVIVideoFormat`](https://twilio.github.io/twilio-video-ios/docs/latest/Classes/TVIVideoFormat.html)s support by the specified camera. Iterate through the formats r

[2021-04-29 10:34] Goule commented on #183
Hello @paynerc ,

Thanks for you response, it work fine !

Here is an exemple to catch 1080p :
[code]

Thanks

[2021-04-29 10:34] #183 closed, assigned to paynerc

[2021-04-29 11:17] Goule commented on #184
Thanks @paynerc, it's working !

[2021-04-29 11:17] #184 closed, assigned to paynerc

[2021-05-01 16:34] Goule opened #185 "Get UIImage from VideoFrame"
Hello,

I'm trying to get the video frame for some participant to re-broadcast it to another destination but I can't find how to do it.
In fact what I need is a `CVPixelBuffer` in `kCVPixelFormatType_32ARGB` to give it to my RTMP broadcaster.

I tried to firstly get an image from the buffer to test.
Here is the sample code to pass from buffer to CIImage (the format needed in my use case) :
[code]

[2021-05-03 03:36] slli opened #186 "Request: Add a License file to the project"
Due to company's policy, we can't use this library without a license file.

[2021-05-04 22:43] ceaglest commented on #185
Hi @Goule,

In fact what I need is a CVPixelBuffer in kCVPixelFormatType_32ARGB to give it to my RTMP broadcaster.

I would ask your broadcaster if they could accept `kCVPixelFormatType_420YpCbCr8BiPlanarFullRange` or `kCVPixelFormatType_420YpCbCr8BiPlanarVideoRange` since this tends to be the preferred format for raw 8-bit SDR video on iOS. However, if you have to convert to `kCVPixelFormatType_3

[2021-05-05 15:42] Goule commented on #185
Thanks @ceaglest !

Have you any code sample to convert VideoFrame data with `vImageConvert_420Yp8_Cb8_Cr8ToARGB8888`?
I tried but this is really complicated for me to manipulate this...

Thanks

[2021-05-06 15:25] marcato15 commented on #120
How expensive is the `getStats` operation? We are wanting to show an audio indicator for a VOIP app and so will need to run it probably every 500 ms. Is there a potential for this to introduce a significant amount of lag?

[2021-05-06 15:29] marcato15 commented on #120
Is that call to `getStats` on the room expensive? We'd like to show an audio indicator to show when someone is speaking, but I'm worried that running that every 500 ms will introduce lag.

[2021-05-06 17:25] ceaglest commented on #120
Hi @marcato15,

The call can be expensive because it requires synchronization with components of the media pipeline in order to gather stats. I wouldn't recommend calling it more often than every second at this point. Future releases will improve performance of stats gathering since they will use the W3C standardized stats APIs internally.

Best,
Chris

[2021-05-07 00:39] mrkvans commented on #144
@paynerc
Do you have any new information about support for ARM64?

Based on Apple's last earnings call (April 28), M1-based Macs are the "majority of Mac sales."

Thanks for any additional information or timelines you're able to provide.
Mark

[2021-05-07 12:24] Goule commented on #185
Another solution is to force the H264 in Twilio settings if you are using Group room :

<img width="780" alt="Capture d’écran 2021-05-07 à 14 20 47" src="https://user-images.githubusercontent.com/21126201/117448982-b63a3300-af3f-11eb-9113-118187ac4b4b.png">

[2021-05-07 15:30] #185 closed, assigned to ceaglest

[2021-05-07 16:12] paynerc commented on #144
@mrkvans,

Unfortunately I do not have much further information regarding this. Our team is actively working on this endeavor. Internally we also require this work to be completed as these updated dependencies are critical to further feature development. I know this isn't an answer that anybody wants to hear but the best I can offer at this time is the right people are aware of the critical nature

[2021-05-07 16:41] ceaglest commented on #185
Hi @Goule,

Yes if you are okay to use H.264 for all your Participants then this solution will work. It's important to note that video from `TVICameraSource` is always `kCVPixelFormatType_420YpCbCr8BiPlanarFullRange` if you render it locally. The remote video is from a decoder, and the H.264 decoder does decode to `kCVPixelFormatType_420YpCbCr8BiPlanarFullRange`.

Best,
Chris

[2021-05-10 22:00] jeffd opened #188 "macOS Cocoa/AppKit Support"
Are there any plans to add AppKit/Cocoa support (not Catalyst) support to the framework?

[2021-05-13 23:38] ceaglest commented on #186
Hi @slli,

We added license information in https://github.com/twilio/twilio-video-ios/pull/187. Did this PR resolve the issue for you?

Best,
Chris

[2021-05-13 23:40] ceaglest commented on #172
Please reopen if you can provide a room or participant SID for analysis.

The `participantDidDisconnect` is called when a participants connection to the room fails and can't be recovered, or if they disconnect from the room manually.

[2021-05-13 23:40] #172 closed, assigned to nobody

[2021-05-17 09:22] emreond commented on #144
Hello,

Our projects also rely on this SDK and we are unable to run the project natively (without Rosetta etc..) on Simulator right now. Any update will be appreciated. Thank you.

By the way; You can run it on Xcode 12.2 with Rosetta. I know this is not best approach but what we have right now.
P.S: Remove all derived data before doing this.

[2021-05-18 19:45] trustfall commented on #144
This is also an issue for our team as well as we have multiple people on M1.

[2021-05-19 20:26] kyledotmp3 commented on #144
This is a large issue for our team and our CI pipeline that includes UITesting

[2021-05-20 10:16] ptsochantaris commented on #144
To add to the existing issues mentioned above, this is additionally hindering our adoption of SwiftUI; given that SwiftUI previews build as Sim binaries, which fails if we include an SDK which doesn't support that target on new Macs.

[2021-05-25 14:45] vdovichenko opened #189 "Crash: twilio::media::FineAudioBuffer::deliverRecordedData(signed char const*, unsigned long, int, int) + 40"
### Description
Our video chat application frequently crashes. We use AVAudioEngineDevice from video-quickstart-ios example for audio sharing.

Here's stack trace:
Crashed: AURemoteIO::IOThread
EXC_BAD_ACCESS KERN_INVALID_ADDRESS 0x0000000000000068

0  TwilioVideo                     0x106e2511c twilio::media::FineAudioBuffer::deliverRecordedData(signed char const*, unsigned long, int, int) + 40
1

[2021-05-26 08:02] SergejLogis opened #190 "[SPM] Artifact of binary target "TwilioVideo" failed extraction"
### Description

We recently have updated our `TwilioVideo` integration from manual to SPM. It works fine (better than manual, definitely), however, we have adopted a new annoying and time-consuming issue - every time we switch a Git branch we need to do `Reset Package Cache` in SPM for project to compile. Needless to say, that it "eats" a significant amount of time and is annoying as hell! 😅

###

[2021-05-26 10:58] Ashok28 commented on #144
Hi,

seems crazy to me, that Apple is on its way to release a second generation of ARM computers in coming days, yet we're still yet to receive an updated version of this SDK. This has been a major pain for us in a last few months, would really love some update.

Thank you!

[2021-05-26 13:57] dericpr commented on #189
We had similar issues with random crashes when using ExampleAVAudioEngineDevice, the fix for us was to remove the else block inside startRendering and startCapturing which reloads the audio system when there is a format mismatch.

we had to add this check back in to handle format changes when Bluetooth devices are added / removed so I added a flag that is checked in ExampleAVAudioEngineDevicePlayo

[2021-05-26 19:11] erisvaldojunior commented on #182
Any news regarding this? Thanks

[2021-05-28 15:22] Goule opened #191 "Force frame size"
Hello,

### Description

As mentioned in this issue https://github.com/twilio/twilio-video-ios/issues/183 I'm now able to choose a preferred format like this :
[code]

As result, the received frame has the MAX of the preferred format passed through the `startCapture`.

But sometimes the received frames have a really low frame size than the preferred format. It's probably because of the webRTC oper

[2021-06-02 14:28] alfredomerino commented on #190
I have the same issue with the same setup except its happening with Twilio-chat-ios. We moved Chat from CocoaPods since it was causing some headaches with git lfs. I created a very similar issue on TwilioChat and linked your issue on mine in case we get some action. Best of luck in getting this resolved
[https://github.com/twilio/twilio-chat-ios/issues/28](url)

[2021-06-02 15:47] SergejLogis commented on #190
Thanks! 🤜🤛

On 2021-06-02, Wed at 17:28, Alfredo Merino ***@***.***>
wrote:

[2021-06-02 15:54] paynerc commented on #190
@SergejLogis  && @alfredomerino,

Thanks for reporting this. I am thinking this is more of an Xcode bug with SPM packages that use Binary dependencies, however I will dig into this to see if I can come up with a solution.

Ryan

[2021-06-03 15:50] SergejLogis commented on #190
@paynerc @alfredomerino I have found a workaround for this issue (kind of). If I close Xcode before switching branches - this issue doesn't appear (tested it few times). Knowing the fact, that Xcode is the kind of beast that LIKES to be restarted as often as possible, I'd say it's a pretty feasible solution for the time being (until Apple fixes it, hopefully 🤞). 😅

[2021-06-03 16:02] paynerc commented on #190
Yeah, that's what I am seeing. It doesn't seem to be an issue specific to the Twilio packages, but in general with binary SPM packages. I still need to do a bit more searching on this issue and if it is not noted anywhere, I will file an  Feedback. Feel free to also file an  Feedback. The more people that report it, hopefully it will get looked at.

Ryan

[2021-06-08 09:04] Goule commented on #191
I have finally crop the image to the destination with CIFilter

[2021-06-08 09:04] #191 closed, assigned to nobody

[2021-06-08 09:08] Goule opened #192 "Image is freezing at connect"
Hello,

### Description

When I make a connection with a room the preview and phone are freezing for a quick time.
Is there a way to avoid this? Connect in the main thread?

#### Code

[code]

#### Expected Behavior

[What you expect to happen]

#### Actual Behavior

[What actually happens]

#### Reproduces How Often

[What percentage of the time does it reproduce?]

### Versions

All relevant ver

[2021-06-09 15:42] paynerc commented on #182
@erisvaldojunior,

Are you able to send logs from the application that is running on the Apple Silicon Mac? I am looking into an issue that appears to be similar, but I would like to verify that this is the same root cause.

Thank you,

Ryan

[2021-06-09 17:13] alfredomerino commented on #190
Looks like Xcode 13 beta is working for my similar issue with TwilioChat. @SergejLogis , I'm interested if it can work for you too?

[2021-06-09 17:34] SergejLogis commented on #190
Thanks for note! I didn't have time to play with Xcode 13 yet, though 🤓

On 2021-06-09, Wed at 20:13, Alfredo Merino ***@***.***>
wrote:

[2021-06-09 20:47] paynerc commented on #144
All,

I would like to announce that we have released Twilio Video iOS `4.6.0-beta1` which includes support for running the simulator on Apple Silicon devices. The release is in beta as there are still a few known issues that we are working to resolve, but wanted to get this into your hands sooner rather than later.

Please see the [Changelog entry](https://www.twilio.com/docs/video/changelog-twili

[2021-06-10 02:14] ceaglest commented on #144
For example apps that use the beta see: [video-quickstart-ios/tree/4.6.0-beta](https://github.com/twilio/video-quickstart-ios/tree/4.6.0-beta).

[2021-06-16 11:44] Mustafa-Ezzat opened #193 "TwilioVideoSDK.connect Crash in release mode only"
Date/Time:        2021-06-16 00:19:55.249 +0200
End time:         2021-06-16 00:22:09.937 +0200
OS Version:       iPhone OS 14.6 (Build 18F72)
Architecture:     arm64
Report Version:   32
Incident Identifier: D6279959-EFAD-4490-B6D2-2CB301C4CCF4
Share With Devs:  Yes

Data Source:      Microstackshots
Shared Cache:     0A3898DD-1C5C-3B0D-8097-F887CCB9AD8A slid base address 0x18c554000, slide 0xc55

[2021-06-16 17:45] gregschwartz opened #194 "Cannot load v4.5 via Pods"
### Description

Error when trying to load v4.5 via pods. However, if I downgrade the Podfile version to `pod 'TwilioVideo', '~> 4.4'` it works.

### Steps to Reproduce

1. Add `pod 'TwilioVideo', '~> 4.5'` to `Podfile`
2. Add `source 'https://github.com/CocoaPods/Specs'` to `Podfile`
3. Run `pod install` in console

#### Code

Here's my Podfile:
[code]

#### Expected Behavior

Expected to see pod

[2021-06-16 17:54] timrozum commented on #146
@verboomp I am going to close this issue but feel free to respond here if you have more issues. Thanks!

[2021-06-16 18:21] paynerc commented on #194
@gregschwartz

That is actually correct behavior at this time as `4.4.0` is the latest GA release of Twilio Video. The [releases page](https://github.com/twilio/twilio-video-ios/releases) shows that `4.4.0` is the latest release with `4.6.0-beta1` being available as a prerelease as it is the release which has support for the M1 Mac simulators.

The `4.5.0` release is still in progress with other f

[2021-06-16 18:25] paynerc commented on #193
@Mustafa-Ezzat,

Can you comment on which version of TwilioVideo iOS you are using and on which device? Does this crash happen all the time or is it intermittent?

Thanks,

Ryan

[2021-06-16 18:33] gregschwartz commented on #194
Thanks for the quick response Ryan! I'm a bit confused then. Why does the documentation have code to use 4.6, since that will always fail?

Docs:
<img width="854" alt="Screen Shot 2021-06-16 at 11 32 27 AM" src="https://user-images.githubusercontent.com/206568/122273721-9c710180-ce96-11eb-9b7f-a06ab84cb834.png">

[2021-06-16 18:36] paynerc commented on #194
Good catch. Looks like some of the release automation didn't take into account the beta pre-release qualifier when we released the Beta.

I will revert that change right now as that should never have been updated and will create an internal ticket to check and correct the automation script.

[2021-06-16 18:40] paynerc commented on #194
The `README.md` file has been updated with the correct version.

[2021-06-16 18:44] gregschwartz commented on #194
Got it, thank you!

[2021-06-16 18:44] #194 closed, assigned to paynerc

[2021-06-16 19:57] Mustafa-Ezzat commented on #193
4.4.0

iPhone 6s

14.6

yes all the time on the release mode

[2021-06-17 16:15] paynerc commented on #193
Looking at attached report, this doesn't appear to be the crash report but the report that is generated when the OS kills an app in the background that is consuming too many resources.

Can you walk me through the scenario that is occurring when the crash happens? Is the app in the background? Etc?

I have dug out an iPhone 6s and am waiting for it to charge enough to start and I will do some test

[2021-06-17 17:10] ceaglest commented on #193
I just wanted to mention that there is a scenario where backgrounding while receiving multiple video tracks can exceed the CPU usage limits on an iOS device. In these logs the resource usage assertion is not about CPU time but rather CPU wakeups.

[2021-06-23 19:54] ceaglest commented on #192
Hi @Goule,

This is primarily a sample code issue, I am filing an internal escalation to track it.

The problem is this line of code:

[code]

Which is then blocking on:

[code]

Using `NSURLSession` to make an asynchronous call would prevent blocking the main thread.

- Example: https://www.raywenderlich.com/3244963-urlsession-tutorial-getting-started

Best,
Chris

[2021-06-23 20:02] ceaglest commented on #189
Hi @vdovichenko,

Thank you for filing an issue. We do believe that there is a bug in the example code which is causing the crash to occur.

Hi @dericpr,

Thank you for the feedback about the fix that you tried.

Best,
Chris

[2021-06-23 20:50] Goule commented on #192
Ok thanks 🙏🏻

[2021-06-23 20:50] #192 closed, assigned to ceaglest

[2021-07-09 17:22] #173 closed, assigned to paynerc

[2021-07-09 17:24] #140 closed, assigned to paynerc

[2021-07-09 17:26] #190 closed, assigned to paynerc

[2021-07-09 17:26] #186 closed, assigned to paynerc

[2021-07-09 17:29] #193 closed, assigned to paynerc

[2021-07-09 17:29] #178 closed, assigned to paynerc

[2021-07-09 17:31] #176 closed, assigned to paynerc

[2021-07-22 08:55] janremes opened #195 "Microphone indicator is flashing, when someone else starts talking."
### Description

We see an issue, where participant is muted and someone else start talking, system microphone indicator flashes for a brief moment.

It could be similar to this issue:
https://stackoverflow.com/questions/58194401/status-bar-shows-mic-icon-for-a-moment-when-pausing-stopping-avaudioengine-in-io
But hard to guess

### Steps to Reproduce

1. create a room
2. Connect at least two parti

[2021-07-22 16:16] Goule opened #196 "Best settings for quality usage"
Hello,

I'm working on an app that permits to broadcast of church events on socials networks from a phone.
Twilio permit us to link multiple cameras to a production phone with different video angles.

WebRTC seems to be designed for resilience and the received resolution from participants in a room can be really low just if the phone is moving. The quality upgrade during the stream makes a lot of

[2021-07-22 16:18] sjmadsen commented on #144
Thank you for making this beta available.

What is the status of an official release? The `-beta1` suffix on the framework's version string blocks TestFlight submissions because it doesn't follow Apple's requirements:

`Error Domain=ITunesTransporterErrorDomain Code=-18000 "error: App Store Connect Operation Error. ERROR ITMS-90060: "This bundle is invalid. The value for key CFBundleShortVersionSt

[2021-07-23 16:53] ceaglest commented on #196
Hi @Goule,

An interesting use case.

Twilio permit us to link multiple cameras to a production phone with different video angles.

Yes, is there some software that allows you to control the cameras and receive frames from them?

The quality based scaling can be a bit aggressive at times. For now, if you're writing your own TVIVideoSource you could mark the content as screen content by returning t

[2021-07-23 17:30] ceaglest commented on #195
Hi @janremes,

This is an issue with how our SDK (and WebRTC under the hood), are configuring the `AudioUnit` responsible for capturing and playing back audio. Microphone capture is enabled when the audio unit is started but the captured samples get dropped on the floor when recording is not requested.

We are aware of this issue and hope to have a fix by the time iOS 15 is released. The app track

[2021-07-23 17:32] ceaglest commented on #195
See #182 which we believe has the same root cause.

[2021-07-28 10:15] eigenl opened #197 "Question about SDK determining whether custom audio device supports capturing"
### Description

Using a custom audio device. Occasionally we get the following exception thrown by instantiating a LocalAudioTrack:

`Cannot create a TVILocalAudioTrack because the supplied AudioDevice does not support audio capturing.`

My question is how does the SDK determine this so that we could handle this case before it reaches the LocalAudioTrack initializer, which isn't marked as throwin

[2021-07-28 15:32] ceaglest commented on #197
Hi @eigenl,

You can return `nil` for [captureFormat](https://twilio.github.io/twilio-video-ios/docs/latest/Protocols/TVIAudioDeviceCapturer.html#//api/name/captureFormat) to indicate that you do not support audio capturing. This is what the SDK is looking for to determine if your custom device supports creating LocalAudioTracks or not.

Best,
Chris

[2021-07-28 17:02] Goule commented on #196
Hello @ceaglest,

Thanks for your help.

I've just tested, with `isScreencast` the resolution is great and hight, but the frame rate seems to be too lower and I can see some twitch on the screen :'(
I guess we don't have the hand on it and this is WebRTC behavior.

Florian

[2021-07-28 20:13] eigenl commented on #197
Interesting. I will investigate how or why could capture format be nil. Thank you for your response.

[2021-07-28 20:13] #197 closed, assigned to ceaglest

[2021-07-30 17:44] abhishekthanvi8 opened #198 "ITMS-90809: App rejection due to UIWebView usage"
[code]

The app is getting rejected for an issue with the build I tried to with this command  `grep -r "UIWebView" .`
and found this

**Binary file ./Pods/TwilioVideo/TwilioVideo.xcframework/ios-i386_x86_64-simulator/dSYMs/TwilioVideo.framework.dSYM/Contents/Resources/DWARF/TwilioVideo matches
Binary file ./Pods/TwilioVideo/TwilioVideo.xcframework/ios-arm64_armv7/dSYMs/TwilioVideo.framework.dSYM/C

[2021-07-30 18:20] ceaglest commented on #198
Hi @abhishekthanvi8,

I'm sorry to hear about the app rejection, we are investigating it.

Our SDK doesn't explicitly use UIWebView, but that being said it appears that WebRTC has some internal references to it. Could you provide a little more information requested in the issue template?

1. Which version of our SDK are you using? (It looks like 4.x).
2. Does your app require iOS < 11 support (the

[2021-07-30 20:26] triplrrr commented on #153
Having a similar issue with iOS devices. I had an iOS device that was on iOS version 14.4.x and it succeeded. After update to 14.7.1, the issue appeared. Using the javascript for browsers library but could be related.

[2021-07-30 22:45] ceaglest commented on #198
Hello,

In 4.0 we began packaging Twilio Video as an XCFramework including DWARF debugging symbols (dSYM) so that users can symbolicate stack traces which include SDK code. It appears that the references to UIWebView are included in the .dSYM files even though they are not present in the main binaries. This is true for our most recent releases 4.4.0, and 4.6.0-beta1.

For now, it's possible if you

[2021-07-31 05:35] abhishekthanvi8 commented on #198
How to remove dSYM files? Any steps?

[2021-07-31 05:36] abhishekthanvi8 commented on #198
1. Which version of our SDK are you using? (It looks like 4.x). **YES IT IS 4.0.0**
2. Does your app require iOS < 11 support (the armv7 and x86_64 slices)? **NO, IT REQUIRES IOS SUPPORT 12**

[2021-07-31 22:55] KrisConrad commented on #49
Any movement, or any kind of update at all for those of us that have been eagerly awaiting Catalyst support?

[2021-08-02 16:30] ceaglest commented on #198
Hi @abhishekthanvi8,

Thank you for the info.  Based upon this and my own checks of the artifacts I can see that all versions since 4.0.0 are impacted by this issue.

I haven't been able to confirm yet but you might just be able to delete each of the .dSYM files while we work on a fix.

[code]

I apologize for this unexpected app rejection. We are making it a top priority to patch the issue.

Best

[2021-08-03 12:39] vdovichenko opened #199 "CRASH twilio::Logger::getModuleLogLevel in 3.8.0"
### Description
Application is randomly crashes, so I can't provide steps to reproduce. I found similar open ticket https://github.com/twilio/twilio-video-ios/issues/127 where it's said that crash should be fixed in 3.7.2 version, but we use 3.8.0 and it's still happening

Here's stack traces for some of the crashes:

Crashed: MediaFactoryImpl::signaling
0  TwilioVideo                    0x10a0ab1

[2021-08-04 06:42] dathu7728 opened #200 "Twilio framework files is too large for GitHub."
In the latest update, twilio framework files is too large for GitHub.

After integration twilio, we push the code into github getting below issue, can you help this one @Fanpei920 @timrozum

File Pods/TwilioVideo/TwilioVideo.xcframework/ios-arm64_armv7/TwilioVideo.framework/TwilioVideo is 149.68 MB; this exceeds GitHub's file size limit of 100.00 MB

[2021-08-04 14:54] timrozum commented on #200
Hi @dathu7728, here are some options for you:

1. Add `Pods` directory to `.gitignore` so it is not added to git and have team members run `pod install` whenever they change branches.
2. Use this git extension so that larger files can be stored in git: https://git-lfs.github.com/

Option 1 is probably the better practice but I understand that this may not be possible for some projects.

Let me kno

[2021-08-04 17:15] bobiechen-twilio commented on #198
Hi @abhishekthanvi8,

Bobie here and I work with Chris on the iOS SDK team.
While @ceaglest was investigating the symbols in the dSYM file and making sure the SDK does not use any deprecated APIs, we also used our internal app (which uses the iOS SDK) and uploaded the archive for App Store submission.

During the process we tried instantiating a `UIWebView` object in the app, which did not have an

[2021-08-04 21:15] abhishekmukherg commented on #198
I think you meant for @abhishekthanvi8  (just in case it didn't ping them)

[2021-08-10 11:06] quentinhayot opened #201 "SwiftUI support ?"
Hi !

Is there any official instructions on how to use this SDK with SwiftUI ?
The iOS 13 migration guide only says that "Twilio is evaluating SwiftUI"... and iOS15 is around the corner.

I'm currently building an app which includes video calls. And I'd like to know if I should delay the implementation of this SDK or if nothing new is coming short term and I should find a way to make it work as it

[2021-08-11 13:05] vishalgabani opened #202 "Video Stabilization for local video track"
### Description

I tried to find method/property to set video stabilisation mode for local video track but do not find in documentation or online forum. So I would like to know if twilio support Video Stabilization for local video track?
If no, would it be possible to set the mode using AVCaptureConnection?

#### Video iOS SDK
4.4.0 via CocoaPods

#### Xcode
12.4

#### iOS Version
14.3

[2021-08-16 08:38] ATrotsenko opened #203 "Compile for IOS simulator produce linker error"
### Description
When I try to build for IOS Simulator I get fail compile from Xcode, for  a real device everything compile without any problems

### Log form xcode
ld: warning: ignoring file /Users/aleksey/Library/Developer/Xcode/DerivedData/Squirrel-gwhzxajsootpnugfmufhrhqufgrb/Build/Products/Debug-iphonesimulator/XCFrameworkIntermediates/TwilioVideo/TwilioVideo.framework/TwilioVideo, missing req

[2021-08-16 18:09] ceaglest commented on #202
Hi @vishalgabani,

Video stabilization isn't supported at the moment. It could be enabled by adjusting the `AVCaptureConnection.preferredVideoStabilizationMode` but `TVICameraSource` is managing that connection and needs to be made aware of any requests for stabilization.

I will categorize this as a feature request. If possible, could you describe your use case? Are you planning on using stabiliz

[2021-08-16 18:10] ceaglest commented on #203
Hi @ATrotsenko,

The linker error is due to lack of arm64 simulator support in our current SDKs. This is added in 4.6.0-beta1 - see https://github.com/twilio/twilio-video-ios/issues/144.

Best,
Chris

[2021-08-16 18:10] #203 closed, assigned to nobody

[2021-08-16 18:15] ceaglest commented on #200
Hi @dathu7728,

Did @timrozum's answer resolve the problem pushing commits to GitHub?

The binaries on disk are pretty large due to the bitcode requirement from Apple. We aren't able to significantly reduce it, and are in fact increasing the on disk binary size in order to add arm64 simulator support in 4.6.0.

Best,
Chris

[2021-08-17 11:41] vishalgabani commented on #202
Hi @ceaglest,

Thank you for your suggestion. I am not able to see `AVCaptureConnection` related property or method for `TVICameraSource`. Can you please provide link for it?

Yes, we have video chat application where we want to use stabilisation for default wide rear camera.

Best,
Vishal

[2021-08-17 14:38] hsavit1 commented on #135
@hpandroid were you able to solve this?

[2021-08-17 16:19] vani2 commented on #86
I try do the same thing. But I've got crashes or don't hear another side.

What was changed from example code:

[code]
and

[code]

Do you have some ideas why does it happened? @cjcomputers @piyushtank

[2021-08-17 16:49] cjcomputers commented on #86
Hey @vani2 . The first part looks right, but I think you may have commented out the incorrect piece for the second part. Should be the piece regarding AVAudioSessionModeVideoChat that gets commented out. Here is a copy of my setupAVAudioSession function.

`- (void)setupAVAudioSession {
    AVAudioSession *session = [AVAudioSession sharedInstance];
    NSError *error = nil;

    if (![session setPr

[2021-08-17 17:00] vani2 commented on #86
Interesting, I deleted this chunk too

[code]

but must use `[session setCategory:AVAudioSessionCategoryPlayAndRecord withOptions: AVAudioSessionCategoryOptionDefaultToSpeaker| AVAudioSessionCategoryOptionAllowBluetooth | AVAudioSessionCategoryOptionAllowBluetoothA2DP error:&error]`

instead of `[session setCategory:AVAudioSessionCategoryPlayAndRecord error:&error]` to control volume of bluetooth

[2021-08-18 08:38] vani2 commented on #86
I noticed a crash `AURemoteIO::IOThread (49): EXC_BAD_ACCESS (code=1, address=0x68)` at this call `TVIAudioDeviceWriteCaptureData(context->deviceContext, audioBuffer, audioBufferSizeInBytes);`.
If I wrap up by `TVIAudioDeviceExecuteWorkerBlock` it doesn't crash but I don't hear any sound.

<img width="1221" alt="Screenshot 2021-08-18 at 11 38 16" src="https://user-images.githubusercontent.com/4734

[2021-08-18 18:19] ceaglest commented on #198
Hi @abhishekthanvi8,

Did Bobie's response help you get to the bottom of the UIWebView usage?

I did attempt to eliminate the references to UIWebView in the .dSYM files with narrowly scoped includes but I did not succeed. I think we have done the best we can which is to determine that our binary files do not include any references to UIWebView and that we are able to submit an app using the Voice

[2021-08-19 17:26] eigenl commented on #199
Can concur. Has been happening over a year with all versions.

[code]

[2021-08-19 17:31] ceaglest commented on #199
Hi @eigenl, @vdovichenko,

I believe we have a fix for this logger crash coming up in 4.5.0. I will double check with the team and get back to you.

Best,
Chris

[2021-08-19 18:42] ceaglest commented on #177
Hi @dmd-pro,

I apologize that we did not respond to your question. In case you are still interested:

I think the most reasonable and easy to implement timer would be based upon the condition that both Participants have entered the Room. However, it is not guaranteed that these events are delivered at the exact same time to all Participants. How do you handle the second Participant's timer? Do yo

[2021-08-20 09:02] moribaleta opened #204 "Audio on call was removed when a media sound played or notification shows"
[Personally Identifiable Information(PII)](https://www.twilio.com/docs/glossary/what-is-personally-identifiable-information-pii)
or sensitive account information (API keys, credentials, etc.) when reporting an issue.

### Description

Hi whenever an audio was played the call audio automatically drops
but no disconnection to the audio was called

### Steps to Reproduce

1. Start a call
2. Play an a

[2021-08-20 18:00] ceaglest commented on #199
Hello,

I can confirm that the 4.5.0 release does include fixes for logging related crashes. I will update this issue with a link to the release when available (should be Monday).

Best,
Chris

[2021-08-20 18:03] ceaglest commented on #159
I hope the update to 4.1.0+ went as expected, thanks for reporting this bug.

[2021-08-20 18:03] #159 closed, assigned to piyushtank

[2021-08-26 23:30] ceaglest commented on #199
Hi @eigenl and @vdovichenko,

We have now released [4.5.0](https://www.twilio.com/docs/video/changelog-twilio-video-ios-latest#450-august-26-2021) which includes logger crash fixes. There were some cases of uninitialized memory and other memory management problems that the were diagnosed and resolved in our C++ core library.

Please give it a try and let us know if this fixes crashes for you. If y

[2021-08-27 08:27] vdovichenko commented on #199
hi @ceaglest
Thanks for the information!

[2021-09-01 06:46] janremes commented on #182
@ceaglest Please any news on fix availability? Thanks

[2021-09-01 17:46] ceaglest commented on #182
Hi @janremes,

I'm looking into a similar issue regarding use of the microphone (#195) for our next release 4.6.0. The only M1 machine I have available to test is a Mac Mini, but I can say that audio does not function correctly with the arm64 simulator in 4.6.0-beta1 due to a requirement to use both input and output.

At this point archiving an arm64 iPad app to run on an M1 Mac is not a supported

[2021-09-06 03:58] anonyome-michael commented on #49
Hi, is there any update on Catalyst support for TwilioVideo?

[2021-09-06 05:22] ukudala commented on #49
Hi Ryry, adding another vote for Catalyst support here!! UIKit ❤️❤️

[2021-09-08 01:04] kaniza opened #205 "Network Quality API does not work."
[Personally Identifiable Information(PII)](https://www.twilio.com/docs/glossary/what-is-personally-identifiable-information-pii)
or sensitive account information (API keys, credentials, etc.) when reporting an issue.

### Description

I have configured the room the network quality api enabled, but participant delegates never called.

### Steps to Reproduce

1. Set up the room with Network Quality

[2021-09-10 08:47] vani2 opened #206 "EXC_BAD_ACCESS (BUS_NOOP) crash in TVIFineAudioBuffer.mm"
### Description

App crashed after a call or during a call.

### Steps to Reproduce

1. Beginning a call.
2. Ending a call.

#### Reproduces How Often

Reproduced randomly, about 5% of the time.

[code]

#### Video iOS SDK

4.3.0 cocoapods

#### Xcode

12.5

#### iOS Version

14.7.1

#### iOS Device

iPhone 11

[2021-09-10 15:08] ceaglest commented on #206
Hi @vani2,

[code]

Based upon the call stack it looks like you are using a custom audio device to deliver audio samples. Could you confirm, and if so provide more information about the custom audio device that you are using with 4.3.0? It looks like delivering the recorded samples is causing a bad memory access in the audio buffer.

There are also a few crashes that have been reported based upon

[2021-09-10 16:00] vani2 commented on #206
Yep, we are using a custom audio device from [your](https://github.com/twilio/video-quickstart-ios/blob/master/AudioDeviceExample/AudioDevices/ExampleAVAudioEngineDevice.m) example.

[2021-09-10 16:36] ceaglest commented on #206
Understood, thank you. I'm sorry to say but there are a few other issues related to crashes with ExampleAVAudioEngineDevice. This needs to be investigated further to fix the issue in the example code.

[2021-09-10 17:06] vani2 commented on #206
Also found this similar crash

[code]

[2021-09-10 17:11] ceaglest commented on #206
Thank you again for pointing it out. This looks like the same memory corruption issue but for playback instead of recording.

[2021-09-13 19:59] callum-code opened #207 "Dependency Conflict with WebRTC"
[Personally Identifiable Information(PII)](https://www.twilio.com/docs/glossary/what-is-personally-identifiable-information-pii)
or sensitive account information (API keys, credentials, etc.) when reporting an issue.

### Description

Heyo Twilio,

We've been going through our implementation of `WebRTC` and rename spacing all of the objective c types, similar to the process you'd kindly outlines [

[2021-09-13 22:16] ceaglest commented on #207
Hi @callum-code,

Does the conflict with RTCDisplayLinkTimer also occur in 4.5.0? I believe we changed to using the `RTC_OBJC_TYPE` macro internally for renaming in 4.x, but in 3.8 it was a different renaming solution applied at build time.

Best,
Chris

[2021-09-13 22:45] callum-code commented on #207
Hi Chris, thanks for the quick reply. Updating to `4.5` resolved the warning for `RTCDisplayLinkTimer`, but introduced a new one for  `RTCWrappedEncodedImageBuffer`.

[2021-09-13 23:14] ceaglest commented on #207
Roger. Our upcoming 4.6 release is based on a newer version of libwebrtc, let me get back to you. If it doesn't fix the collision we might be able to land a change upstream to make sure the macro is being used.

[2021-09-14 00:57] callum-code commented on #207
Cheers!

[2021-09-15 17:24] paynerc commented on #205
Are you using Group or P2P rooms?

[2021-09-15 17:34] paynerc commented on #205
Also, did you set the delegate on the remote participant object when the remote participant connects?

[2021-09-15 17:44] ceaglest commented on #205
Hi @kaniza,

You do need to connect to a Group or Small Group Room in order to receive network quality events. I couldn't tell based on the logs provided which kind of Room it was.

Also, in the logs I do see some connectivity issues. If it isn't possible to connect to the media server then you will never get the first network quality event. We can investigate this further with a Room SID or logs

[2021-09-20 07:02] eigenl commented on #199
Seems to be still happening in some cases. Using TwilioVideo 4.5.0

[code]

[2021-09-20 22:20] ceaglest commented on #144
Hi Developers,

We have made the 4.6.0 release with arm64 simulator support available. Please have a look at:

* [SDK - v4.6.0](https://www.twilio.com/docs/video/changelog-twilio-video-ios-latest#460-september-17-2021)
* [Video App - v0.82](https://github.com/twilio/twilio-video-app-ios/releases/tag/v0.82)
* [Quickstart](https://github.com/twilio/video-quickstart-ios)

Thank you for this feedback,

[2021-09-28 11:09] mukesh-ebpearls opened #208 "Audio playing via receiver speaker instead of loud speaker"
**TwilioVideo SDK v4.4.0 via cocoapods**

In my App i've used TwilioVideoSDK to implement a video call and i need to play dialing tone on callers side after the voip notification is sent successfully till the remote user joins the room or call is ended.

I've also implemented toggling on and off the loudspeaker functionality by implementing the block initializer provided by DefaultAudioDevice insi

[2021-09-29 02:43] kaniza commented on #205
@ceaglest I connected P2P room, and now I understand the API is not available on P2P rooms.
Thank you.

[2021-09-29 02:43] #205 closed, assigned to ceaglest

[2021-09-29 15:04] ceaglest commented on #205
Yep, sorry about that. You can still call [Room.getStats()](https://twilio.github.io/twilio-video-ios/docs/latest/Classes/TVIRoom.html#//api/name/getStatsWithBlock:) in any Room but then its up to you to present this information to the user in a meaningful way.

[2021-09-30 01:07] cvcoder1 commented on #49
This would be a fantastic spec to finish. I know 20+ teams that would implement immediately. Any way to beta test or help support, let me know.

[2021-10-03 16:43] KrisConrad commented on #49
Yeah, count me in on a beta if that happens. I've been hoping for Catalyst support for quite a while, my project and our users are very ready!

[2021-10-04 09:44] vani2 opened #209 "Crash on end call"
### Description

Crash after ending a call.

### Steps to Reproduce

1. Call from one device to another.
2. End call on any side.

#### Code

Configuration on a start

[code]

A line that crashed

[code]

#### Expected Behavior

The call ended correctly.

#### Actual Behavior

[code]

#### Reproduces How Often

100%

#### Logs

[code]

[code]

### Versions

#### Video iOS SDK

4.5.0

#### Xcode

1

[2021-10-08 08:42] shaibt opened #211 "Interop issue between iOS SDK 4.6 and Chrome 94"
### Description

Using `TwilioVideo` ver 4.6 (latest iOS version) and Chrome browser (94 on OSX) using `twilio-video-js` ver 2.13.1.
In P2P room, Chrome browser side video and audio is not received on iOS (intermittently) and logs show Client is unable to create or apply a local media description.
Results in iOS side unable to hear/see Chrome side

[Opened originally](https://github.com/twilio/twi

[2021-10-10 13:50] mcorner commented on #170
@ceaglest We are on p2p rooms (I posted #113).  Do you have any suggestions about getting more information about signalling disconnections and failures to connect?  We have users whose calls failed midstream, or failed to connect in the first place.  The errors are a variety of:

ios user: roomDidFailToConnect {"error":"Signaling connection error","roomName":"production-76t0qKd"}

ios user: roomRe

[2021-10-11 15:56] ceaglest commented on #211
Hi @shaibt,

Thank you for capturing this issue.

I was indeed able to reproduce this problem with real devices, and in unit tests with mocks of Chrome M94 SDPs. A fix to the mobile SDKs was agreed to with the team last Friday and I am working on it this week (though today is Thanksgiving holiday in Canada). Due to the nature of the bug it does need to be fixed on the mobile SDKs and can't be reso

[2021-10-13 12:29] #196 closed, assigned to ceaglest

[2021-10-14 09:19] AbhishekJ17 opened #212 "iOS: Thumbnail VideoView in landscape is not rotating"
Hi,

In landscape thumbnail **VideoView**  is not rotating

- Integrate **TwilioVideo** through cocoapods and using **4.6** version.
- I have followed this documentation - https://www.twilio.com/docs/video/ios
- I have created all video conferencing views programmatically everything is working fine expect VideoView is not rotating in the landscape.

[2021-10-15 12:14] vani2 commented on #209
Seems like I don't need to call

`audioDevice?.stopCapturing()` manually.

[2021-10-15 12:14] #209 closed, assigned to nobody

[2021-10-15 19:08] nickfishman commented on #45
Hey all, sorry to bump an old discussion -- I'm happy to create a new issue for this if you'd prefer.

Are there any new best practices for obtaining log output from the Twilio Video SDK? We're working on an active support case (7123317) related to this library, and we were asked to set the log level as mentioned [above](https://github.com/twilio/twilio-video-ios/issues/45#issuecomment-488814862)

[2021-10-15 23:24] ceaglest commented on #211
Hi @shaibt,

We have just released [4.6.1](https://www.twilio.com/docs/video/changelog-twilio-video-ios-latest#461-october-15-2021) which should resolve the interoperability issue with Chrome 94. Would you mind trying it and confirming that it fixes the problem in your app?

Best,
Chris

[2021-10-17 11:12] shaibt commented on #211
Hi @ceaglest ,

Can confirm we cannot reproduce the issue between iOS 4.6.1 and Chrome 94.
Thanks for the quick turnaround on this issue.

[2021-10-17 11:12] #211 closed, assigned to ceaglest

[2021-10-17 18:24] abdullahumer commented on #8
I am facing this same issue. Anyone have a solution? Please help. Is this issue closed without a fix?

[2021-10-22 18:00] nickfishman commented on #45
In case it helps anyone reading this in the future: we chose to follow the approach of intercepting stdout and stderr as outlined in [this post](https://medium.com/@thesaadismail/eavesdropping-on-swifts-print-statements-57f0215efb42) with some tweaks. This can be rather noisy depending on what else is going on in your app. We added a filter for the text `DEBUG:Twilio` in the handler callback, then

[2021-10-27 17:29] resetnic opened #213 "Audio Input issue. Input device is always bottom microphone( even if I set it to use the front one)."
### Description

Audio Input issue. Input device is always the bottom microphone even if I set it to be the front, back, etc.

I followed the steps from [this](https://www.twilio.com/docs/video/ios-v2-configuring-audio-video-inputs-and-outputs) tutorial.

#### Code

[code]

[2021-11-03 06:35] Mustafa-Ezzat opened #214 "the remote Video Track first goes to be dim for a few seconds and then completely dark"
### Description

After about 30 seconds the remote video track view seems to go to sleep during a call.

- The remote video track view first goes dim for a few seconds and then completely dark for the actor.
- Slightly following that, the picture freezes momentarily for the remote participant.
- The picture unfreezes and then the screen goes black for the remote participant as well.

Audio is unin

[2021-11-04 13:17] #214 closed, assigned to nobody

[2021-11-05 15:09] resetnic commented on #213
@ceaglest Can you help me?

[2021-11-05 18:25] sammyfdm opened #215 "Audio stops being shared by iOS device: audio codec shows as null"
### Description

Non-deterministically the iOS device’s audio stops transmitting to a connected Room.

**Context:**
We use TwilioVideo embedded in our iOS app to connect a user to a Room while a locally downloaded video plays on the screen. A user of our web app may also be connected to the room, so that they can see the iOS user’s camera and talk to and guide them.

The downloaded video is manage

[2021-11-08 08:56] hungMta commented on #8
I faced this issue and I tried to investigate the problem. Finally, I fixed in my case but hope it helps.
**Problem**: Can't receive audio when the app is locked
**Reason**: I waited for all the connections, room and many thing setup completed before trigger call answerAction.fullfill()
**CallKit**: when answer action is fulfilled then the AudioSession changes to didActive status => you can hear t

[2021-11-08 12:11] petrpavlik opened #216 "ITMS-90562: Invalid Bundle - When using Swift Package"
### Description

Integrating twilio video swift package seem to work when added directly into the app project file, but throws en error when adding into another swift package that is added into the app. It almost certainly has something to do with the fact that it's distributed as a binary package.

### Steps to Reproduce

1. Create a new app
2. Create a swift package VideoChat and import it into

[2021-11-08 18:17] ghost commented on #49
Any movement on this? It would be fantastic!

[2021-11-08 18:18] ghost commented on #49
Hi Ryan,

Could you please provide an update on this?

[2021-11-09 20:16] ceaglest commented on #216
Hi @petrpavlik,

Thank you for reaching out. We haven't started looking into this issue yet but we did hear your request and will post and update when we have information to share.

ITMS-90562: Invalid Bundle - One or more dynamic libraries that are referenced by your app are not present in the dylib search path.

I'm pretty sure that you are correct. From what I've seen so far the paths to `Twili

[2021-11-10 14:26] SaurabhBajaj commented on #213
Any update on this would be appreciated

[2021-11-12 16:48] resetnic commented on #213
I have added [sample test repo](https://github.com/resetnic/Twillio-Audio-Video-Test/tree/9c9949dffd1e488f62083add7c2f9d59cdf9abc7) Twilio video quick start with some audio modification([contains the above code](https://github.com/resetnic/Twillio-Audio-Video-Test/blob/9c9949dffd1e488f62083add7c2f9d59cdf9abc7/VideoQuickStart/ViewController.swift#L129)) and it behaves in the same way. The microphon

[2021-12-03 20:48] sugeetgoyal opened #217 "Want to Broadcast my Device screen in the same Room which is connected"
I want to implement share screen functionality in one to one call using Replay Kit. I have seen into the Replay Kit Example project where the BroadcastExtension is used and it create another Room when user want to share the screen.

In my case I have already a connected room and in the same room I want to share the Device Screen. Please help me to get this done if possible.

### Steps to Reproduce

[2021-12-03 21:24] timrozum commented on #217
Hi @sugeetgoyal I have a few questions:

1. So you have a single app that has the main app connect the user to the video room and then the broadcast extension is used to share the screen to the same video room correct?
2. Just to make sure, have you verified that the main app and the broadcast extension are using the same room name in the connect options?
3. How are you generating access tokens fo

[2021-12-03 21:32] sugeetgoyal commented on #217
Hi Tim

Thanks for the reply.

1. Yes
2. Yes I want to use the same Room so I am giving the same name
3. I am using the same access token since I have one one access token for
one user to join any room, this access token I am fetching from API call.

I don't have to fetch 2 access tokens for the same user in my app. Is there
a way to link the screen share track into the existing room of the user ?

[2021-12-03 21:56] timrozum commented on #217
Ok I think probably what is happening is that when the broadcast extension participant connects to the video room the main app participant is disconnected because they have the same user identity.

I know in reality it is the same user but because there are 2 connections to the room there are basically 2 video room participants connecting from the same device.

One option is to use different acces

[2021-12-03 22:25] sugeetgoyal commented on #217
Can you please provide more info on the Option 2. It will be good if we can get some example on it.
Our requirement is to share the screen using same access token in a same room.

[2021-12-03 23:11] timrozum commented on #201
Hi @quentinhayot,

We now have an example that uses SwiftUI. This was how `VideoView` was bridged: https://github.com/twilio/twilio-live-interactive-video/blob/main/apps/ios/LiveVideo/LiveVideo/Views/Stream/SwiftUIVideoView.swift

The bridging was relatively simple and we didn't encounter any major problems.

[2021-12-06 16:17] timrozum commented on #217
@sugeetgoyal I have emailed you some details for this that should point you in the right direction. I cannot provide example code for this solution.

[2021-12-06 17:05] sugeetgoyal commented on #217
Thanks, I'll check it out.

On Mon, 6 Dec 2021 at 9:47 PM, Tim Rozum ***@***.***> wrote:

--
*Thanks & Regards*
*Sugeet Goyal (**iOS Developer)*
*Mobile- 9739535002*

[2021-12-07 15:15] sugeetgoyal commented on #217
Hello, can we receive remote participant audio while screen sharing using broadcast extension method ?

[2021-12-07 19:17] timrozum commented on #217
Yes you should be able to receive remote participant audio in the main app while the broadcast extension is capturing the screen.

[2021-12-08 21:49] sugeetgoyal commented on #217
Hello, I have implemented the screen sharing using the Option 1 suggested here in the comments above.
Now I want to set the screen share track priority to high and I tried below things but it is not working. Can you please help me on this ?

**In my App Extension SampleHandler.swift class I have done following code :**

        screenTrack = LocalVideoTrack(source: videoSource!,

[2021-12-09 13:03] ghost opened #218 "Function "didSubscribeToVideoTrack" not calling with Android to iOS video calling. iOS to iOS working fine"
Android SDK Version: 7.0.3, iOS SDK version: 4.6.2

[2021-12-09 13:05] DeveloperV3Cube commented on #218
Android SDK Version: 7.0.3

[2021-12-09 16:03] timrozum commented on #217
It seems like this should work. How are you determining if it is working or not?

@piyushtank thoughts?

[2021-12-09 16:05] sugeetgoyal commented on #217
@timrozum
I checked in my remote participants who is sharing screen.

func didSubscribeToVideoTrack(videoTrack: RemoteVideoTrack, publication: RemoteVideoTrackPublication, participant: RemoteParticipant) {
participant.remoteVideoTracks.first?.publishPriority
}

It shows Standard Priority only.

[2021-12-09 20:21] sugeetgoyal commented on #217
@timrozum
I was looking for the help to set the screen broadcast video track priority to high. Please suggest me anything which can be done to do that. In Android we are able to set and working.

In case of iOS since the priority is not getting set to High its not showing the screen shared track in correct container of web App.

[2021-12-09 20:45] timrozum commented on #217
@sugeetgoyal can you collect debug logs from the video SDK when this happens? See `TwilioVideoSDK.setLogLevel`. Thanks.

[2021-12-09 21:14] timrozum commented on #217
@sugeetgoyal I'm going to check with some others about using track priority on the local participant.

However in our video reference app we use track priority so that the server can optimize bandwidth allocations for **remote** video tracks. So that the server can optimize video that a particular device is displaying. And then we use things like track name (to detect screen track) and dominant sp

[2021-12-10 10:15] sugeetgoyal commented on #217
@timrozum Thanks a lot for being with me for so long here. Thanks for your support.

As mentioned in above code sample in the comments by me, I tried the same way. But don't know When I set priority for the
local participant why it is still not updated and not reflecting to the remote participants.

Just after connecting to the room, when the roomDidConnect calls I am setting the room localpartici

[2021-12-14 07:01] morninng commented on #59
@ceaglest

Is this still valid way to control the quality of video?
or using network badwidth pofile can do the same effect?

I want to know the best way to achieve `high quality images over a high frame rate`

[2021-12-15 16:03] sugeetgoyal commented on #217
Hello @timrozum any update on this ?

[2021-12-24 15:27] sugeetgoyal commented on #217
Hello @timrozum, as you said before did you get a chance to check this issue with others. We are not able to move forward with our screen sharing feature because of this issue. Please help us out to make it done.

Thanks

[2021-12-25 12:57] melike-ertas1 opened #219 "" callKitProvider.invalidate()" When I call this method for video call, the video call is closed at the first time. When I remove this method, there is no sound during the call."
**Description**

I am using TwilloVideo SDK.
'TwilioVideo', '~> 4.4'

" **callKitProvider.invalidate()**"

1. When I call this method for video call, the video call is closed at the first time. When I click on the call notification for the second time, it opens.

2. When I remove this method, there is no sound during the call.

**iOS Device**
All Device

**Code**

import UIKit
import TwilioVideo
i

[2021-12-30 07:23] miteshgajjar03 commented on #218
@DeveloperV3Cube Did you find any solution? I am having the same problem. Not able to see video from android to iOS. iOS to iOS and iOS to Android working fine. But Android to iOS not working.
In iOS i am using TwilioVideo (3.7.2).

[2021-12-30 14:32] KrisConrad commented on #49
Soooooooo 🦗🦗🦗?

[2022-01-04 23:10] timrozum commented on #217
@sugeetgoyal I reached out to other SDK engineers and they said they would need to investigate this more. They are tracking this internally but I can't really provide a timeline for more information. It seems that adjusting the priority of a local track may not be a common solution.

The best recommendation I can provide at this time is to use track name instead of track priority to determine how

[2022-01-05 21:26] wolfspy commented on #213
Using the `DefaultAudioDevice` as in the VideoQuickStart app does not support different microphone orientations. Instead you must roll your own audio device as shown in the `AudioDeviceExample` app in order to provide the settings necessary to be able to change microphone orientations.

Specifically you’ll need to roll your own `AVAudioEngineDevice` that uses the `kAudioUnitSubType_RemoteIO` `comp

[2022-01-05 21:26] #213 closed, assigned to nobody

[2022-01-07 09:59] dharap-itpathsolution opened #220 "iPhone Safari issue "Repeatedly redirect for video call""
I have facing issue for video calling in iPhone 11 and X (OS - 15.1).

please help me.

![Screenshot_1](https://user-images.githubusercontent.com/76988662/148527095-a254efa1-dbd6-43cb-a6f3-343d81c4bbce.png)
![Screenshot_2](https://user-images.githubusercontent.com/76988662/148527101-786f6f2f-f847-4ed4-a229-712a419a2a9c.png)

[2022-01-07 12:57] SinaTaavon opened #221 "No Audio is being transmitted on iOS 15 and later."
### Description

Broken Audio on iOS 15, 15.1 and 15.2.

The video transmission is fine and working on both legs of the call. Audio on the other hand is broken on the receiving end, essentially the Application that uses the Twilio Video SDK is not sending the audio out.

### Steps to Reproduce

To reproduce these steps, make sure all the dependencies are up to date, especially the Video SDK which

[2022-01-11 18:17] gsbernstein opened #222 "Cocoapod listing: domain suspended"
[Personally Identifiable Information(PII)](https://www.twilio.com/docs/glossary/what-is-personally-identifiable-information-pii)
or sensitive account information (API keys, credentials, etc.) when reporting an issue.

### Description

When you visit the cocoapod listing for this pod it says "this domain has been suspended"
https://cocoapods.org/pods/TwilioVideo

<img width="1576" alt="Screen Shot

[2022-01-11 23:08] virbedi opened #223 "App Crashes after turning Video on/off multiple tims"
[Personally Identifiable Information(PII)](https://www.twilio.com/docs/glossary/what-is-personally-identifiable-information-pii)
or sensitive account information (API keys, credentials, etc.) when reporting an issue.

### Description

After getting on a video call, toggling the Video on/off button 3 times causes the call to freeze and app crashes.
This crash was being experienced on 4.6.2
Revertin

[2022-01-12 15:10] wolfspy commented on #217
@sugeetgoyal
 We are not able to reproduce the problem as you described it. We verified the SDK is behaving as expected in this project and the Quickstart project as well https://github.com/twilio/video-quickstart-ios (it might be easier for you to test this bit of code in that project), so let's go through the working process.

1. Join a room with your first device and set the `LocalVideoTrack` p

[2022-01-12 15:10] #217 closed, assigned to timrozum

[2022-01-12 16:25] wolfspy commented on #221
We are not able to reproduce the issue after confirming audio transmission works across multiple iOS 14 - iOS 15.2 iphone and iPad devices connected to a room using SDK v4.6.3 through test apps https://github.com/twilio/video-quickstart-ios and https://github.com/twilio/twilio-video-app-ios

We also have not had any other reports of this issue. Please try the sample app projects and then another d

[2022-01-12 16:25] #221 closed, assigned to nobody

[2022-01-20 13:04] naresh-kumar-ios opened #224 "Application is getting crashed if we continuously publish / unpublish the audio or video track."
### Description

Actually, in my application I am publishing and unpublishing the audio and video tracks when user mute / unmute audio and enable / disable the camera. After 2 three continues tap the application is getting crashed.

I tried to disable the mic button interaction until the audio is not published, as we get callback in **localParticipantDidPublishAudioTrack** but for un-publish there

[2022-01-20 13:12] naresh-kumar-ios commented on #223
@virbedi are you publishing & unpublishing the video on tap ?

[2022-01-27 19:42] callum-code commented on #207
@ceaglest Had this made it into 4.6?

[2022-02-01 17:54] mrgerych commented on #169
same question.

[2022-02-08 16:19] wolfspy commented on #216
@petrpavlik

We are not able to reproduce the issue following the steps to reproduce using the latest Xcode 13.2.1 and Video SDK 4.6.3. Using the following setup, uploading to the App Store succeeds and the build processes without errors.

<img width="1297" alt="Screen Shot 2022-02-07 at 12 22 00 PM" src="https://user-images.githubusercontent.com/1680433/153025366-7bd83ddf-12d8-42d9-b27a-c3d9aa990

[2022-02-08 19:35] petrpavlik commented on #216
Thanks, we'll try again when we have a chance and raise a new issue if it still doesn't work for us.

[2022-02-08 21:34] #216 closed, assigned to nobody

[2022-02-09 12:19] vdovichenko commented on #199
hi @ceaglest. Crash is still happening. Lib version is 4.6.3

Crashed: Thread #1
EXC_BAD_ACCESS KERN_INVALID_ADDRESS 0x5f5f73640000294c

Crashed: Thread
0  TwilioVideo                    0x2e8af0 twilio::Logger::getModuleLogLevel(twilio::LogModule) const + 28
1  TwilioVideo                    0x176c14 void boost_1_73_0::asio::detail::strand_executor_service::dispatch<boost_1_73_0::asio::io_context

[2022-02-10 18:37] piyushtank opened #225 "Smart cover on iPad running iOS 15 may cause audio issue by audio interruptions"
### Description

On iPads running iOS 15, while in a live video call, if you use smart cover, the remote participant may observe no audio. This is an iOS behavior where it interrupts audio capture from the microphone for VoIP calls when smart cover is used.

### Steps to Reproduce

1. iPad running iOS 15 having smart cover
2. Connect to a Room and observe the bi-direction audio
3. Use smart cover

[2022-02-14 20:29] wolfspy commented on #182
This issue is partially resolved with the release of Twilio Video iOS SDK 5.0.0:

The issue is resolved in cases where you unpublish your local audio track from the M1 simulator. This isn't much but it's a start.

[2022-02-14 20:31] wolfspy commented on #222
We do not control the content on https://cocoapods.org/pods/TwilioVideo

Cocoapods has resolved their internal domain issues and the page is returned to normal.

[2022-02-14 20:31] #222 closed, assigned to nobody

[2022-03-08 10:21] magneticrob opened #226 "Video Effects (Portrait) on iPad does not appear in control centre"
### Description

I have an app that uses the Twilio Video SDK for video calls. On iPads that support Centre Stage and Portrait blur, in my app it appears that only Centre Stage is available, whereas on Facetime and other video apps, both Centre Stage and "Portrait" are available (see screenshots)

Facetime:
<img width="849" alt="Screenshot 2022-03-08 at 09 56 32" src="https://user-images.githubuse

[2022-03-17 17:49] ceaglest commented on #226
Hi @magneticrob,

It could be that the 3.7.2 SDK being built against iOS 13 is preventing the Portrait effect from being offered in Control Center. The 5.0 releases are built against iOS 15 where the Portrait video effect is available.

@wolfspy do you know if upgrading would resolve the issue?

Best,
Chris

[2022-03-18 15:37] wolfspy commented on #226
Using the Video App https://github.com/twilio/twilio-video-app-ios consuming the iOS Video SDK v5.1 on an iPad Pro 11inch 3rd gen - portrait mode is available.

Update to v5.1 first to see if that solves the issue. If it does not then you'll need to compare how you're consuming the SDK with https://github.com/twilio/twilio-video-app-ios to find the differences preventing portrait mode from showing

[2022-03-18 15:37] #226 closed, assigned to nobody

[2022-03-26 16:09] colincavil112 commented on #49
@piyushtank - Hi, is there any update on this? It has been nearly three years since it was first mentioned, and clearly by the looks of the thread it has highly desired.. my team and I are waiting on this and now must seek (in the interim) TwilioVideo alternatives, unfortunately because it is the only third party library out of 30+ we use which is not compatible..

[2022-03-27 12:45] ghost commented on #49
Has this really not been updated to support Catalyst yet? Yikes.. no wonder people are starting to use other frameworks, it's sad to see Twilio fall apart like this.

[2022-04-12 06:06] polszacki-tooploox opened #228 "Double-quoted include "TVIAppScreenSource.h" in framework header, expected angle-bracketed instead"
### Description

TwilioVidoe SDK causes 100+ warnings when added as a Swift Package using Xcode 12+. The warnings `Double-quoted include "XXX" in framework header, expected angle-bracketed instead` are coming from `#import` statements.

In Xcode 12 new type of warning was introduced -  Quoted Include in Framework Header. When frameworks use double quotes instead of angle brackets it causes a warni

[2022-04-21 11:38] andschdk opened #229 "Failing to publish data track - Sender already exists for track"
### Description

I discovered that sometimes the local participant is successfully publishing data according to the LocalParticipantDelegate, while no data is being sent on the track. From the Twilio log, I see related errors and wonder if you can help pinpoint the root cause for this.

### Steps to Reproduce

I am not consistently able to reproduce this, but this is what happens:

1. Connects to

[2022-04-21 17:28] GevaZeichner opened #230 "Issues getting binary target"
Hi, anyone else experiencing issues with SPM trying to retrieve the binary target?
It seems that for our CI it keeps blocking it because of keychain prompts.
I was able to workaround it by pointing directly to the asset url: https://github.com/GevaZeichner/twilio-video-ios/commit/c03b8e3174f58fe4d0ab2dbf6dd9a0b11efc8a44

[2022-04-25 16:51] wolfspy commented on #198
Running the grep command locally on our internal Video SDK project yields no actual usages in the codebase. Any reference to UIWebView in just the dSYM files will not trigger app rejection.

[2022-04-25 16:51] #198 closed, assigned to ceaglest

[2022-05-09 18:14] Sephaq commented on #167
Hello I understand this conclusion was reached however not denoted here, I'm currently facing the same issue, Our app s using v4.6.0 of the TwilioVideo.
When we open the LocalAudioTrack we lose access to sound in other parts of the app, when simply playing a sound file.
I've tried adding the AVAudioEngineExample but it did not help and I'm currently lost.
I've tested this by disabling the LocalAud

[2022-05-19 01:24] cecruzmo commented on #201
For reference, this repo is based on SwiftUI: https://github.com/twilio/twilio-video-app-ios

[2022-05-22 09:00] iOSDevGarg opened #231 "Audio Route Doesn't change: Support needed - Mute, Microphone, Speaker and BLE Device"
Hi Folks,
i have been using twilio video SDK for video call purpose with in my two projects, Both has nearly same issue. When i try to switch the Audio Routing to specific device like Any BLE Connected or to Built in Speaker, Built in Ear Piece or try to mute the audio. This doesn't work and Audio keeps coming through the Speaker of iPhone.

Code Used:
[code]

Setting UP Audio Session

[code]

Can

[2022-05-26 22:36] #177 closed, assigned to ceaglest

[2022-05-26 22:38] #163 closed, assigned to ceaglest

[2022-05-26 22:39] #151 closed, assigned to ceaglest

[2022-05-26 22:40] #150 closed, assigned to ceaglest

[2022-05-26 22:41] #147 closed, assigned to ceaglest

[2022-05-26 22:42] #144 closed, assigned to ceaglest

[2022-05-26 22:42] #134 closed, assigned to ceaglest

[2022-05-26 22:43] #120 closed, assigned to ceaglest

[2022-05-27 21:48] #95 closed, assigned to ceaglest

[2022-05-27 21:50] #74 closed, assigned to ceaglest

[2022-05-27 21:53] #59 closed, assigned to ceaglest

[2022-05-27 21:57] ceaglest commented on #54
Hello,

Stopping and starting a recording can be accomplished with the recording rules [API](https://www.twilio.com/docs/video/api/recording-rules).

Best,
Chris

[2022-05-27 21:57] #54 closed, assigned to ceaglest

[2022-05-27 22:02] #38 closed, assigned to ceaglest

[2022-05-27 22:07] #34 closed, assigned to ceaglest

[2022-05-27 22:09] #25 closed, assigned to ceaglest

[2022-05-27 22:12] #17 closed, assigned to ceaglest

[2022-05-30 14:15] vdovichenko opened #232 "Crash TwilioVideo vpx_codec_enc_init_multi_ver"
### Description

Crash happens inside TwilioVideo library

### Steps to Reproduce

No exact steps to reproduce. Crash is found in Crahslytics

#### Reproduces How Often

10 crashes in last 90 days

#### Video iOS SDK

pod 'TwilioVideo', '5.0.0'

#### iOS Version

iOS version 15.0+

#### iOS Device

iPad

#### Stack trace

https://gist.github.com/vdovichenko/6d393d3b13ea57a7dfff39e1ea63b288
Crashed

[2022-05-31 13:59] vdovichenko opened #233 "Crash twilio::video::RemoteParticipantImpl::onDataTrackUnsubscribed(std::__1::basic_string<char, std::__1::char_traits<char>, std::__1::allocator<char> > const&)"
### Description

Crash happens inside TwilioVideo library

### Steps to Reproduce

No exact steps to reproduce. Crash is found in Crahslytics

#### Reproduces How Often

10 crashes in last 90 days

#### Video iOS SDK

pod 'TwilioVideo', '5.0.0'

#### iOS Version

iOS version 15.0+

#### iOS Device

iPad

#### Stack trace

https://gist.github.com/vdovichenko/03f07188495d10960754fa0ba41fccf1

Crashe

[2022-06-09 15:00] timrozum commented on #201
I think since our main reference app is now mostly SwiftUI, as @cecruzmo nicely pointed out, we can close this ticket.

Glad to hear feedback that SwiftUI examples are useful!

[2022-06-09 15:00] #201 closed, assigned to timrozum

[2022-06-10 19:52] vani2 opened #234 "Attempted to dereference null pointer. Crash on a start call."
### Description

The start call device crashed after initialising a call.

### Steps to Reproduce

1. Start a call.
2. Answer a call.

#### Code

#### Expected Behavior

Not a crash.

#### Actual Behavior

App crashes.

#### Reproduces How Often

Deviates, we face it around 20%.

#### Logs

It happens on production build.

[code]

### Versions

Twilio 5.1.0. There are no crashes at 4.6.3.

#### Vi

[2022-06-21 17:07] toseefahmedMP commented on #182
Hi Folks,

I am also facing a similar kind of issue in the latest **TwilioVoice SDK (v6.4.1)** where I am able to initiate a call successfully. Still, I am unable to hear audio on either side. It's like it is a similar issue where I installed the **iPad application on silicon MAC** where the voice is not audible.

 It will be really great If someone throws any light on this issue.

[2022-06-23 10:33] sherbondy opened #235 "Support for Picture in Picture (PiP) [iOS 15+] and Multitasking Camera Access [iOS 13.5+]"
### Description

Related to:
https://github.com/twilio/video-quickstart-ios/issues/237

I thought it'd be worthwhile to file a dedicated issue in the Twilio Video iOS SDK project to capture these gaps, since I do think the iOS SDK would have to surface new capabilities in order to implement this functionality.

Without direct access to the underlying `AVCaptureSession` (for camera access) and some