[2018-01-05 22:26] ceaglest opened #2 "Test Issue"
### Description

Carthage is the best!

### Steps to Reproduce

None!

[2018-01-05 22:27] ceaglest commented on #2
`pod deintegrate`

[2018-01-05 22:27] #2 closed, assigned to nobody

[2018-03-14 16:55] dannycohn opened #3 "Capturing popover?"
I'm capturing a view and attaching as a track to a room. When I display popovers, because they are a separate view, they are not captured. Is there an easy way to capture them as well?

[2018-03-14 19:01] paynerc commented on #3
Hey @dannycohn,

Are the popovers subviews of the view that you are capturing or a totally separate view altogether? When capturing, it should be capturing the view hierarchy from the view downward.

Can you provide some more information about what view you are capturing and where the popovers are in relation?

Thanks,

Ryan

[2018-03-14 19:35] dannycohn commented on #3
I am creating them using the standard popover APIs, which I believe create them as a separate window floating over the main window. This is why it's not captured. I'm wondering if there's some trick to capturing it.

[code]

[2018-03-15 14:21] paynerc commented on #3
@dannycohn,

Thanks for the info. I am going to need to do some testing here to see how best to make this work. I will try to work on this later today and hopefully either have an answer for you, or a plan on what we would need to do to be able to capture the popovers as well.

Stay tuned!

Ryan

[2018-03-19 09:08] aastlind opened #4 "No transportId in TVIIceCandidateStats"
### Description

We're fetching stats reports and want to be able to get TVIIceCandidateStats from active TVIIceCandidatePairStats, but the TVIIceCandidateStats objects doesn't have any value set to the property transportId which is needed to be able to filter this list.

### Steps to Reproduce

1. Connect 2 participants to a peer-to-peer room
2. Call getStatsWithBlock:-method from the room object

[2018-03-20 00:58] ceaglest commented on #4
Hey @aastlind,

I'm sorry about this bug. Though it was addressed as a part of other work, I believe that the `transportId` property is set in version 1.3.10+ and 2.0.0-preview9+. Since you reported using 2.0.0-beta2 I will double check this and get back to you.

Best,
Chris

[2018-03-20 04:31] aastlind commented on #4
I’m sorry!
Tested 2.0.0-beta2 again and transportId is set! I’ve tested plenty of versions lately so I most probably remembered wrong.

Thank you for your answer, this issue can be closed.

[2018-03-20 04:31] #4 closed, assigned to ceaglest

[2018-03-21 17:34] dannycohn commented on #3
Hey Ryan,

Sorry to be annoying, but curious if there's any status update on this? Even if it's just "on the docket" but not tackled yet, anything would be helpful. If we need to start rebuilding all of our popovers, the sooner we know the better we can plan.

Thanks,

Danny

[2018-03-21 17:51] paynerc commented on #3
Danny,

Sorry for the lack of communication on this. I have been focused on wrapping up our `2.0.0-beta3` release which is coming out today. Once we have that out, I will definitely get you an answer on how to proceed.

Thanks for your continued patience,

Ryan

p.s. You're not being annoying at all. Thank you for keeping me honest. 😄

[2018-04-11 10:58] andyboyd opened #7 "Twilio in Broadcast Upload Extension"
Hi,

I'm trying to implement a Broadcast Upload Extension using Twilio and I seem to be having issues with memory usage causing the extension to crash due to memory pressure.

I've created a custom TVIVideoCapturer class based off your example, with the main difference being that since this is an upload extension, I'm being provided with sample buffers, rather than having to grab frames off a view

[2018-04-11 18:43] ceaglest commented on #7
Hi @andyboyd,

Thanks for writing in.

I've used ReplayKit2 to capture video from within an application, but not in a Broadcast Upload Extension. I had tried earlier versions of ReplayKit in iOS 10.x in an extension and didn't see the almost immediate memory warning and crash that you experienced. However, without published sample code or automated tests of this use case, I can't claim with certai

[2018-04-12 08:47] andyboyd commented on #7
I've done a bit more investigation on this now. It looks very much like it's the memory usage of the capture consumer (or something beneath it) that's causing the extension to crash. The scenario that was crashing immediately for me was by just passing the raw CVImageBuffer contained in the CMSampleBuffer to the capture consumer, which is quite a high resolution, so I tried ignoring that and passi

[2018-04-12 16:33] ceaglest commented on #7
Hi @andyboyd,

Thank you for the information, this is really helpful.

There is a betterment to save memory in our video pipeline. If you choose H.264 then we will use VideoToolbox internally to encode the video, in some cases scaling it down as available bandwidth demands in our VTCompressionSession. The problem is that the video pipeline needs to support software codecs like VP8 as well, and we

[2018-04-13 09:28] andyboyd commented on #7
I've managed to get something up and running. I ended up resizing the CVImageBuffers from the CMSampleBuffers down to 1/4 (i.e. half width and half height) their original size, and it seems to be working pretty well. I do think it's just a case of tuning the input resolution of the frames being sent to Twilio to control the memory usage.

I guess my issue is pretty much resolved now, so thanks for

[2018-04-13 21:36] ceaglest commented on #7
Hi,

Yes, we are considering letting the developer provide cropping and/or scaling information to `TVIVideoCaptureConsumer`. This would allow us to allocate smaller buffers when using the software (VP8, VP9) pipeline, and skip the extra step of your capturer having to perform scaling up front.

When using VTCompressionSession our goal is to feed frames directly into it if possible. However, there

[2018-04-20 15:07] carayolthomas opened #8 "No audio when answer from background"
Hello there,

### Description

I am currently working on a POC for a chat application between two users. We are creating twilio rooms in our backend and then, we communicate through our API the room id and the access token needed to connect both users in the created room. It works pretty well (audio & video) when both applications are active.
On the called side, I am trying to answer a call with C

[2018-04-20 15:44] carayolthomas commented on #8
I found a potential fix for my issue. It's not about Twilio but CallKit.

We need to setup the `AudioSession` before reporting a new incoming call from CallKit.

Something like this

[code]

You can close this issue :)

Have a good day!

[2018-04-20 15:55] paynerc commented on #8
@carayolthomas,

You beat me to it. I was writing up a response to ask you where and when you were running these methods.

Glad you got it resolved!

Ryan

[2018-04-20 15:55] #8 closed, assigned to nobody

[2018-04-29 12:02] kboy-silvergym opened #9 "`UI API called from background thread Group` has occurred in Twilio Video 2.0.0"
Hi! Thank you for your SDK!

I use your SDK in my iOS app that using ARKit in Japan.

When I use Twilio Video 2.0.0, The following alert has occurred!
Please check.

### Description

When `participantDidDisconnect` , The alert (`UI API called from background thread Group`) has occurred.

### Steps to Reproduce

1. connect to twilio room

[code]

2. disconnected by partner exited

[code]

3. Then,

[2018-04-30 07:00] piyushtank commented on #9
@kboy-silvergym Thanks for reaching out. Can you answer following  -

1. Can you make sure the is not calling `[TVIRemoteVideoTrack removeRenderer:]` or `[TVILocalVideoTrack removeRenderer:]` on a background thread?

2. How are you destroying the remote video track? Are you explicitly destroying them on the background thread?

3. Is it possible to provide the logs to debug this problem. You can en

[2018-04-30 10:57] andyboyd commented on #7
Hi again Chris,

A bit of a follow up question for you.

I'm trying to add Audio to my stream, and I've been able to publish a local audio track successfully, but it's not receiving any content. I don't think the extension has a default audio session the way the audio track is expecting, because it gives me the raw audio samples in the processSampleBuffer callback.

I get the feeling the way to do

[2018-05-01 10:19] andyboyd commented on #7
I've made some progress, but still in need of a bit of help.

So far, I've created my own TVIAudioDevice, I'm calling TVIAudioDeviceFormatChanged() in startCapturing(), and keeping a reference to the context. Then, when I receive audio samples from ReplayKit, I'm calling TVIAudioDeviceWriteCaptureData(). I am successfully publishing an audio track, and audio is coming through on it, but it's all g

[2018-05-01 16:38] ceaglest commented on #7
Hey @andyboyd,

Sorry for the late response, I was out of office yesterday.

You are on the right track by creating your own TVIAudioDevice. Unfortunately, this is a case where we don't have sample code specific to ReplayKit yet. Have you had a look at [AudioDeviceExample](https://github.com/twilio/video-quickstart-swift/tree/master/AudioDeviceExample)?

It's a matter of making sure the TVIAudioFo

[2018-05-02 02:04] kboy-silvergym commented on #9
@piyushtank

Thank you for your reply👍
I'll answer only No.4 anyway.

I have used TwilioVideo SDK since `2.0.0-beta2`, but it was the first time to be occured in `2.0.0`.
It always reproduces in `2.0.0`.

I will let you know when I have more information about question 1, 2, 3.

[2018-05-02 09:10] andyboyd commented on #7
Thanks Chris,

Coincidentally, I did get the mic audio streaming successfully about half an hour before you replied! Isn't that always the way!

The key in the end was related to the buffer size being sent to TVIAudioDeviceWriteCaptureData(). I had been sending through the buffer size from the audio device's capture format every time, but I needed to send through the smaller value of that and mDat

[2018-05-02 15:49] ceaglest commented on #7
Awesome, it's great to hear that you've got an AudioDevice up and running with ReplayKit.

[2018-05-09 05:59] ceaglest commented on #9
Hey @kboy-silvergym,

We found that in 2.0.0 there were some cases where invalidating a TVIVideoView (which is itself a TVIVideoRenderer) could cause UIKit accesses on a background thread. This could occur when removing a TVIVideoView from a TVIVideoTrack off the main thread, or providing your own delegateQueue to TVIConnectOptions, and causing the Track to be invalidated with renderers still pres

[2018-05-10 06:06] kboy-silvergym commented on #9
@ceaglest

I have ensured that the alert was not occured in ver. 2.0.1.
Thank you for support!! 👍

[2018-05-10 06:09] #9 closed, assigned to piyushtank

[2018-05-10 18:00] piyushtank commented on #9
Thanks @kboy-silvergym for closing the ticket. Let us know if you run into any issues while using the video SDK.

[2018-05-18 11:05] kboy-silvergym opened #10 "TwilioVideo's main thread use rate is large."
Hello! Thank you for resolving the issue https://github.com/twilio/twilio-video-ios/issues/9 before this!

This time, I am facing with the problem. Not reporting a bug.

### About

As you can see the below image, TwilioVideo SDK's Main thread use rate has a large percentage.

<img width="438" alt="2018-05-18 19 05 13" src="https://user-images.githubusercontent.com/17683316/40230009-04f4303e-5ad1-1

[2018-05-19 01:14] piyushtank commented on #10
@kboy-silvergym  Thanks for reaching out.

On iPhone 7 Plus, I ran our sample app [Quickstart](https://github.com/twilio/video-quickstart-swift/tree/master/VideoQuickStart) on time profiler. I ran bidirectional audio + video call for about 2 to 3 minutes. The main thread usage is around 5%. See the image below -

<img width="1438" alt="screen shot 2018-05-18 at 5 51 19 pm" src="https://user-images

[2018-05-19 02:53] kboy-silvergym commented on #10
@piyushtank  Thanks!

I will try to compare my app with the sample app. Then, I will tell you the result of comparison.

[2018-05-24 04:23] kboy-silvergym commented on #10
@piyushtank

I have figured out why my app's main thread is occupied by TwilioVideo!

In my code, `SceneView` (ARSCNView)  is passed into `TVIScreenCapturer`.
Like this→ `let capture = TVIScreenCapturer(view: sceneView)`

**This is the reason.**

If I delete this code & stop to pass the capture into videoTrack, the main thread is not occupied so much 👍

I'll share my code below.

[code]

I want to

[2018-05-24 06:50] piyushtank commented on #10
@kboy-silvergym Thanks for reaching out. Using screen capture for video is definitely not efficient.  Have you got a chance to take a look at our [ARKitExample](https://github.com/twilio/video-quickstart-swift/tree/master/ARKitExample)? It implements custom capturer which receives frames from `ARSCNView` and provides frame to SDK.  You should see some improvement with `ARKitExample` however, pleas

[2018-05-24 07:32] kboy-silvergym commented on #10
@piyushtank

 I have just used [ARKitExample](https://github.com/twilio/video-quickstart-swift/tree/master/ARKitExample) as a reference & tried to fix my issue.

**In conclusion, the performance has been better!**

But, because `CADisplayLink` for capturing should be repeated in the main thread, it still occupied the main thread. But I has tuned the CADisplayLink's fps & it has became better.

By

[2018-05-29 20:20] piyushtank opened #12 "TVIVp8Codec 's `isEqual` ignores `simulcast` property"
[Personally Identifiable Information(PII)](https://www.twilio.com/docs/glossary/what-is-personally-identifiable-information-pii)
or sensitive account information (API keys, credentials, etc.) when reporting an issue.

### Description

TVIVp8Codec 's `isEqual` ignores  `simulcast` property

### Steps to Reproduce

1. Create an instance of Vp8 video codec by calling TVIVp8Codec(). By default simulca

[2018-05-30 07:44] andschdk opened #13 "TVIRoom delegate property is readonly, but can be initialized with no delegate"
I am currently trying to take a completely reactive approach to an implementation of a video chat. I am extending twilio with RX using the same approach as `RxCocoa` using [DelegateProxy](https://github.com/ReactiveX/RxSwift/blob/master/RxCocoa/Common/DelegateProxyType.swift). This means that the delegate is set whenever someone subscribes. If there are multiple subscribers the delegate is shared.

[2018-05-30 08:27] andschdk opened #14 "TwilioVideo.connect can return nil according to docs but that is not possible"
I believe the `TwilioVideo.connect` method could return `nil` once, but that is not the case anymore and the documentation needs an update.

The case where `nil` was returned previously is now going to the delegate I assume?

From the public header file:
[code]

#### Video iOS SDK

[2.0.0 via CocoaPods]

[2018-05-31 01:10] ceaglest commented on #14
Hey @andschdk,

Thanks for filing an issue. It appears that the documentation for `@return` is incorrect. We will fix this in an upcoming release.

Regards,
Chris

[2018-05-31 01:36] ceaglest commented on #13
Hey @andschdk,

This is a good question. Originally, the reason for keeping the delegate as readonly was to make our implementation simpler and reduce API surface area. However, since the delegate is weak it can be nil'd out at any time so that argument is not terribly convincing.

Honestly, I would prefer to to accept a nonnull delegate in the factory method to keep the API contract simpler. Howe

[2018-05-31 07:12] andschdk commented on #13
Hi @ceaglest,
Thank you for the quick reply.

Not taking my use case into consideration I still believe that the delegate should follow common practice. It might not seem as simple as enforcing/providing the delegate in the factory method, but considering that most iOS developers are used to how delegates work (set at any time after init) it should still be a simple API to understand. Additionally

[2018-06-01 22:30] ceaglest commented on #13
Hey @andschdk,

You make some very good points. After discussing with the team we've decided to go ahead and make `Room.delegate` a read/write property.

Expect this to land in our 2.2.0 release.

Best,
Chris

[2018-06-04 08:17] andschdk commented on #13
Thanks @ceaglest,
Looking forward for the release.

[2018-06-07 11:55] andschdk opened #15 "Difference between Publish methods returning BOOL an delegate callback methods"
Hey, this is more a "help-wanted" issue.

`- (BOOL)publishVideoTrack:(nonnull TVILocalVideoTrack *)track` and similar methods (video/audio/data) on `TVILocalParticipant` all return _BOOL_ indicating success

On the other hand we have the `TVILocalParticipantDelegate` methods for indicating success
`- (void)localParticipant:(nonnull TVILocalParticipant *)participant publishedVideoTrack:(nonnull TVI

[2018-06-08 14:16] paynerc commented on #14
The documentation was been corrected in the `2.2.0` release which was released yesterday.

Thanks again for reporting this discrepancy!

Ryan

[2018-06-08 14:17] paynerc commented on #13
As of the `2.2.0` release, which shipped last night, the `Room.delegate` property is now read/write.

Let us know if you have any further issues with this. Thanks!

Ryan

[2018-06-12 11:53] andschdk commented on #13
Thanks, just updated the sdk and updated/removed my current work around. It seems like it works like it should 👍
Again, thanks for changing this. Much appreciated.

[2018-06-12 14:13] #13 closed, assigned to ceaglest

[2018-06-18 14:52] #14 closed, assigned to ceaglest

[2018-06-20 16:19] yahmad opened #16 "Memory issues in broadcast upload extensions when using VP8"
### Description

We are encountering memory issues in broadcast extensions when trying to create P2P rooms with:
- an iOS participant providing the video track through a broadcast extension
- a couple of participants just viewing the video track (all participants have preferred video codecs set to H.264)
- at least one participant subscribing to the video track on an Android device which does not

[2018-06-20 16:23] yahmad opened #17 "iOS max encoders limitation issue"
This issue is mentioned in the Twilio [changelog](<https://www.twilio.com/docs/video/changelog-twilio-video-ios-version-2x>) under known issues:

I just wanted to have this tracked against an issue, and to find out what the status is? (I can't find a related open issue). Sorry for being a nuisance. 😉

The issue is quiet severe, as it limits the ability to create cross-platform multi-party P2P room

[2018-06-20 17:32] piyushtank commented on #12
Closing the ticket as we released the fix in version 2.2.0.

[2018-06-20 17:32] #12 closed, assigned to piyushtank

[2018-06-20 17:41] ceaglest commented on #17
Hi @yahmad,

Not at all, there was no pre-existing Github issue.

The limitation on creating 3 encoders exists in VideoToolbox.framework and is hardware specific. From what we've been told by Apple engineers the iPhone X is not subject to this fixed limit, and multiplexes the hardware resources if you ask for many simultaneous encoders. We have a test case which we will update to validate this on

[2018-06-20 17:54] ceaglest commented on #15
Hi @andschdk,

Sorry for the delayed response.

That is correct, there are some preconditions which are checked synchronously. If the preconditions are met but negotiation with the signaling/media server fails then you will receive the failure delegate callback.

Correct.

Yes, the delegate callback will not be invoked in this case.

Best,
Chris

[2018-06-20 17:57] ceaglest commented on #16
Hi @yahmad,

Thanks for writing in. Let me consult with @piyushtank before writing a full answer to your inquiry.

In the meantime, we have discussed broadcast uploader extensions and some of the challenges in this issue: https://github.com/twilio/twilio-video-ios/issues/7

Best,
Chris

[2018-06-20 18:03] ceaglest commented on #10
Awesome, I'm glad to hear things are working well!

Closing the issue.

[2018-06-20 18:03] #10 closed, assigned to piyushtank

[2018-06-20 19:21] yahmad commented on #17
@ceaglest Thanks for the quick response - and the useful feedback!

I will make a note to test on the iPhone X, and keep an eye out for the preview to give it a test. 👍

[2018-06-20 19:35] yahmad commented on #16
Thanks @ceaglest, look forward to hearing back.

I *think* we have got a working solution (or at least good enough within iOS limitations) for some of the problems mentioned in the other issue. I am hoping there might be some codec specific information / suggestions that might shed some light. 🤞

[2018-06-21 01:17] piyushtank commented on #16
@yahmad, As you already figured,  the memory grows beyond max limit. As mentioned as a known issue in our [changelogs](https://www.twilio.com/docs/video/changelog-twilio-video-ios-version-2x#221-june-20-2018), 1280x720 resolution @ 30fps is not currently supported with H.264.  By default, ReplayKit provides pixel buffers with native size of the screen. e.g 1080x1920 for iPhone 6s plus. If you down

[2018-06-21 02:14] ceaglest commented on #16
Hey @yahmad,

Some feedback before I leave the office, to compliment what Piyush posted.

It depends on the type of Room you are in. In a Peer-to-Peer Room you encode a distinct stream for each Participant, but this is not the case in a Group Room.

[code]

It's not feasible to share a single encoder when different rates are being requested on different media connections. Ultimately, its a questio

[2018-06-21 06:52] andschdk commented on #15
Hi @ceaglest,
Thank you for clarifying this. Much appreciated, thanks.

[2018-06-21 06:52] #15 closed, assigned to ceaglest

[2018-06-21 08:42] yahmad commented on #16
Cheers @piyushtank , we are currently at least halving our resolution, but not sure about the specific resolution so I will find out if we can reduce it further.

@ceaglest Thanks, I figured this was how the encoders were probably working.

Having a sample app will be really useful - thanks for providing this and for responding so quickly!

[2018-07-06 20:27] piyushtank commented on #16
We have an open which demonstrates ReplayKit broadcast service with TwilioVideo SDK - https://github.com/twilio/video-quickstart-swift/pull/287
The PR demonstrates ScreenSharing while connected to a Room using ReplayKit broadcast service extension. Please note it is a work in progress PR and we plan to complete the TODOs items soon.
Let me know if you have any questions.

[2018-07-09 08:59] yahmad commented on #16
Thanks, we will take a look!

[2018-07-18 18:48] wenxin3262 opened #18 "Rename WebRTC classes inside TwilioVideo"
### Description

When installing TwilioVideo with another WebRTC framework together, Xcode compiler will complain about duplicate objc class names.

Our app is running fine since we are trying to use the smiliar version of the WebRTC that included in your library.

My request is change all WebRTC symbols to something unique to your framework. e.g. TwilioRTCXXX

### Steps to Reproduce

1. Use quick

[2018-07-18 22:55] jocelynlih opened #19 "Bluetooth audio through CallKit stops after device goes to sleep"
### Description

Bluetooth audio through CallKit stops after device goes to sleep

### Steps to Reproduce

1. Device 1 is using bluetooth headphones, lock the screen to make sure the call is answered through CallKit
2. Device 2 calls Device 1. Call connects as expected. On Device 1's CallKit screen, it should show the audio is going through bluetooth headphones.
3. Let Device 1 go to sleep or simp

[2018-07-19 01:04] ceaglest commented on #18
Hi @wenxin3262,

Thanks for filing an issue.

This conflict is something that we've wanted to address for a long time. I'm happy to report that we are currently making improvements to our CI process which will allow us to rename the conflicted `RTC` classes. If all goes to plan our next `2.3.0-preview2` release will include a version of WebRTC built with these changes.

I'll keep you updated as we

[2018-07-19 01:25] piyushtank commented on #18
@wenxin3262  Also, please note if you are running `TwilioVideo.framework` iOS 12 Beta, since `WebCore.framework` includes webrtc's Objective-C classes, due to the same issue of Objective-C class name conflicts, the runtime errors are thrown. see [[this](https://bugs.chromium.org/p/webrtc/issues/detail?id=9500)]. As @ceaglest mentioned that we are working on fixing it in our Video SDK and planning

[2018-07-19 16:09] ShaheenHabash opened #20 "End the video call before didActivate function is called"
#### Description
I am working on a video call application so I using Twilio for that in the app every things work fine except one thing .. that when I start to connect two person with each other and before the  didActivate function is called I click the home button of the phone so this make the didActivate not called .. and then I do the following to close the connection in the code (swift 4) and

[2018-07-19 17:34] ceaglest commented on #20
Hey @ShaheenHabash,

Can you reproduce the "call failed' state via our [CallKit QuickStart](https://github.com/twilio/video-quickstart-swift/tree/master/VideoCallKitQuickStart), or just in your application code?

I'm going to assume that you are using version 2.2.1 then, unless your spec repo/Podfile.lock is out of date. Is this correct?

Best,
Chris

[2018-07-19 19:44] jocelynlih commented on #19
so we are able to identify the root cause in `TVIDefaultAudioDevice.h` file, line 62-64
[code]

By commenting out above code, we can no longer reproduce this issue. We are still doing testing to see the side effect of this change, meanwhile, can we get some insight on the purpose of setting preferred sample rate for audio session?

[2018-07-19 19:56] ceaglest commented on #19
Hi @jocelynlih,

Thanks for letting us know about this issue. We set a preferred sample rate because the default audio device functions most reliably at 48 kHz. In some cases it can get confused and allocate incorrectly sized audio buffers in some sample rate / IO buffer duration combinations and drop audio entirely.

[code]

I'm glad to hear that this change solves your immediate problem. I'm goi

[2018-07-19 23:12] jocelynlih commented on #19
Updated finding: so the fix we had only works when it's caller device with bluetooth headphones and we are still having lost audio issue with bluetooth headphones if receiving an incoming call through CallKit and lock the screen.
I've updated the steps to reproduce it in the issue. Hope to hear from you soon. Thx.

[2018-07-23 02:48] piyushtank commented on #19
@jocelynlih I tried to reproduce the problem using our `VideoCallKitQuickStart` application on iPhone 6 running iOS 11, and iPhone 7S Plus running iOS 12 Beta3. But I am not able to reproduce the problem.

Here is what I tried -

1. User Bob is already connected to a Room.
2. User Alice is running `VideoCallKitQuickStart` on iPhone.  Alice's phone's audio is routed to a Bluetooth device.
3. After

[2018-07-23 16:47] jocelynlih commented on #19
@piyushtank Hi thank you for getting back to me.
So I figured out the root cause.
The original code we used to route audio is
[code]

Now we rewrite the audio device block to use `AVAudioSessionModeVoiceChat` directly.

[code]

The bluetooth device is working fine now.

[2018-07-23 17:40] piyushtank commented on #19
@jocelynlih Awesome. Yes, VoIP call requires `AVAudioSessionCategoryPlayAndRecord` category to be set on `AVAudioSession` with the mode and options set.

I am closing this ticket as the problem is resolved but feel free to reach out to us if you run into any issues.

[2018-07-23 17:40] #19 closed, assigned to piyushtank

[2018-07-24 17:04] nsillik opened #21 "App hangs in `-[TVICameraCapturePipeline applicationWillEnterForeground]`"
### Description

When an app which has an open video connection, is put in the background, and re-launched from a notification the app hangs at `-[TVICameraCapturePipeline applicationWillEnterForeground]`.

### Steps to Reproduce

1. Launch application
2. Get into a video session with another user
3. Background app
4. Get a remote notification
5. Tap on remote notification, attempting to launch ba

[2018-07-24 17:39] theandrewmack commented on #3
Hey Ryan,

I am working on the same development team that Danny was on. I am wondering if you have had any progress on this item. Please let me know.

Thanks,
Andrew

[2018-07-24 20:03] ceaglest commented on #21
Hi @nsillik,

Thanks for reporting this issue, and for the detailed description of the problem.

I wonder if it would be possible to reproduce this with a UILocalNotification as well? As you said, I'm not sure if the push notification code would be easy to share.

Is it also reproducible on other device models, and OS versions (like iOS 11.4.1)?

Best,
Chris

[2018-07-24 20:07] nsillik commented on #21
Actually, our notification's are silent, so the displayed notification center notification *is* actually a LocalNotfication. Here's the code, it's pretty boring:

[code]

We also aren't doing anything different on being launched from a notification as compared to just being launched from the home screen.

I'm not sure, I'll keep testing and let you know.

[2018-07-24 20:26] nsillik commented on #21
An update: I reproduced this on an iPhone X running iOS 11.4.1

[2018-07-31 09:29] andyboyd commented on #7
Hi again @ceaglest

I have another question on this issue, not sure if it's something I'm misunderstanding, or if it's a limitation of the way the Twilio SDK currently works.

The mechanism for getting the captureContext/renderContext  on the TVIAudioDevice is to call TVIAudioDeviceCaptureFormatChanged()/TVIAudioDeviceRenderFormatChanged(), which triggers a query to the audio device's captureForma

[2018-08-03 02:06] piyushtank commented on #18
@wenxin3262 We have just released 2.3.0-preview2 where you use the Video SDK side by side with any other Chromium WebRTC based dependency in the same application.  [[Here](https://www.twilio.com/docs/video/changelog-twilio-video-ios-version-2x#230-preview2-aug-2-2018)] are the 2.3.0-preview2 changelogs.

Let us know if you have any questions.

Best,
Piyush

[2018-08-03 02:21] ceaglest commented on #7
Hi @andyboyd,

Sorry for the delayed response.

Unfortunately a `TVIAudioDevice` can only work with a single capture and recording format at a time. Your capturer should deliver a continuous stream of raw audio samples, with format changes only when needed. A format change causes other elements of the audio pipeline to be reconfigured, so it shouldn't be done for every slice of audio.

In this cas

[2018-08-08 18:04] ceaglest commented on #17
Hi @yahmad,

We have now released [2.3.0](
https://www.twilio.com/docs/video/changelog-twilio-video-ios-version-2x#230-august-7-2018) which is based upon WebRTC 67. While I didn't get a chance to work on this bug directly, the updated WebRTC internals give us a lot more power over how video codecs are managed. I still think this problem is solvable, so I'll be doing some more investigation on it n

[2018-08-09 09:35] yahmad commented on #17
Thanks for the update, Chris. A fix for this would be very useful.

Yasir

[2018-08-09 14:04] KBoucherChi commented on #3
Hi @paynerc,

Hope you're well. I'm on the same dev team as Andrew, I was wondering if you have any updates on this issue?

Regards,
Ken

[2018-08-09 14:59] souvickcse opened #23 "Unable to share AVCaptureVideoPreviewLayer with screenshare"
Hi, I am trying to share one view with small camera feed in it, but it is not rendering the camera feed, I am using AVCaptureVideoPreviewLayer for the camera feed, is there any thing else I need to do, or it is not possible. If it is not possible is there any wayaround?
Here is my code:

    let capturer: TVIVideoCapturer = TVIScreenCapturer.init(view: sharedView)
        if localVideoTrack != nil

[2018-08-09 16:29] ceaglest commented on #23
Hi @souvickcse,

Are you using ReplayKit to capture the screen?

I haven't tried this use case personally, but my guess would be that Apple doesn't allow capturing of an `AVCapturePreviewLayer` via ReplayKit. One thing you could do is render the camera's video with a `TVIVideoView` instead.

Best,
Chris

[2018-08-09 16:41] souvickcse commented on #23
Hi @ceaglest,
Thank you for your quick reply.
I am using TVIScreenCapturer I am not sure it is using ReplayKit internally or not. And are you suggesting I should replace AVCapturePreviewLayer with TVIVideoView for my custom camera preview?

[2018-08-10 00:37] paynerc commented on #3
@KBoucherChi, @theandrewmack, @dannycohn,

My apologies for letting this slip off of my radar. I will dig back into this issue tomorrow morning when I get in and hope to have a resolution for you very shortly.

Thank you,

Ryan

[2018-08-10 02:11] ceaglest commented on #23
Hey @souvickcse,

TVIScreenCapturer does not use ReplayKit, but I'd imagine the technique used to snapshot the contents of a UIView is not compatible with AVCapturePreviewLayer. If you want to stick with your current solution of TVIScreenCapturer then you should use TVIVideoView to render the TVILocalVideoTrack while you are also recording the screen.

Best,
Chris

[2018-08-10 07:16] souvickcse commented on #23
Hi @ceaglest ,
As per your suggestion I have tried to use TVIVideoView as a super view of my AVCapturePreviewLayer, but it is making the AVCapturePreviewLayer view nil, whenever I am trying to access the AVCapturePreviewLayer it is nil.

[2018-08-10 07:18] souvickcse commented on #23
Can I use MTKView for the TVIScreenCapturer? I can change my AVCapturePreviewLayer with MTKView for the camera feed.

[2018-08-10 11:05] souvickcse commented on #23
Hi, I have tried with MTKView with TVIScreenCapturer, it is working fine. Thank you for your help.

[2018-08-10 11:05] #23 closed, assigned to ceaglest

[2018-08-10 16:05] paynerc commented on #3
Good morning,

Sorry for the late response on this. Doing some investigation, a popover window is not contained in the same view hierarchy as the view it is being sourced from, which is why when you it is not rendered in the capturer.

The immediate solution that I have found to make this work (and it may not be applicable to your use case) is by capturing your application's `keyWindow`. This will

[2018-08-13 14:29] KBoucherChi commented on #3
Thanks for the update Ryan, much appreciated!
We'll try the above and let you know how we get on with that.

Cheers,
Ken

[2018-08-13 20:56] MilanNosal opened #24 "Size of TwilioVideo.framework"
After including Twilio Video pod in my app the size of the app ballooned to over 200MB. After inspecting I noticed that TwilioVideo.framework file is 160MB. Is this normal? Is there anything that can be done to reduce it?

[2018-08-14 18:40] piyushtank commented on #24
@MilanNosal Thanks for reaching out. The Video SDK is built for armv7, arm64, x86 and x86_64 architectures with Bitcode slices for armv7 and arm64 devices. We recommend strip simulator architectures for running app on device, and before submitting the app to the app store. See [[this](https://www.twilio.com/docs/video/ios)] for more information on strip architectures.

Bitcode slices takes a big p

[2018-08-15 10:04] #24 closed, assigned to piyushtank

[2018-08-23 18:27] ceaglest commented on #18
Now that [2.3.0](
https://www.twilio.com/docs/video/changelog-twilio-video-ios-version-2x#230-august-7-2018) has been live for some time and includes the prefixing changes I'm going to close this ticket. @wenxin3262 if you have any issues adopting the new releases please let us know.

[2018-08-23 18:27] #18 closed, assigned to ceaglest

[2018-08-28 16:56] KBoucherChi commented on #3
Hey Ryan,

We managed to fix it modifying the example in the ScreenCaptureExample and capturing the entire window, it now properly shows the popovers as expected.

Thanks for your input with this, much appreciated!

Ken

[2018-09-04 14:22] paynerc commented on #3
Awesome news. Please let us know if you have any other questions or issues.

Ryan

[2018-09-04 14:22] #3 closed, assigned to paynerc

[2018-09-13 20:21] julien-l commented on #7
Hi,
Do you have updates on code samples for using ReplayKit with the TwilioVideo SDK?
Thanks

[2018-09-13 20:38] piyushtank commented on #7
@julien-l  We are discussing prioritizing our ReplayKit sample code ticket and getting it into the next sprint. We have a work-in-progress PR available which demonstrates how to use ReplayKit with TwilioVideo - https://github.com/twilio/video-quickstart-swift/pull/287
We were side tracked by other high priority issues with our Voice and Video SDKs. Internally we are discussing to work on the `TODO

[2018-09-19 09:52] souvickcse commented on #23
Hi @ceaglest
Can you please look into this :  https://github.com/twilio/video-quickstart-swift/issues/303

[2018-09-20 13:50] andyboyd opened #25 "Peer-to-Peer Rooms: Mic Capture in background gets disabled when Room is empty"
### Description

When capturing the mic in an app that supports background audio connected to a Twilio room, the mic will be deactivated as soon as the app goes to the background if no one else is currently in the room.

### Steps to Reproduce

1. Enable Background Audio modes in the app
2. Connect to a Twilio room on device A
3. Connect on another device (device B) and verify that device A's mic

[2018-09-20 13:56] andyboyd commented on #25
Note: this only happens on P2P rooms. Group rooms work fine, but we want to use P2P rooms.

[2018-09-20 17:13] ceaglest commented on #25
Hi @andyboyd,

You are correct about the behavior in P2P Rooms, at least when using `TVIDefaultAudioDevice`. The problem when you're in an empty Peer-to-Peer Room is that there is no underlying PeerConnection open, and thus no audio actually being played/recorded by the device. I could imagine a workaround where we always play silence, even in an empty Room where we aren't being asked to play and/

[2018-10-03 22:28] aastlind opened #26 "Freeze last "successful" video frame"
This is not an issue, but I'm reaching out for some help. If this isn't the right place to ask for help you can close this issue.

My question:
Is it possible to fetch the last known successful video frame (both local and remote) and convert it to a CIImage to do some image processing? My goal is to have a greyed out frame when losing/disabling video instead of showing a black screen.
In my head i

[2018-10-05 07:00] Perachi opened #27 "Live screen sharing in iOS"
Hi ,

https://drive.google.com/file/d/1laasE2uC6OFulKqrh3e3SaItiUi-E01v/view?usp=sharing

In this video, we have called android phone and during the call, an Android device has shared its screen(using Twilio) and during screen iOS device can see every actions and activity of android. We want to implement the same things in iOS. How iOS can share or broadcast its mirror screen to other devices?
We

[2018-10-05 16:01] ceaglest commented on #27
Hi @Perachi,

The only way to capture the entire screen (including home, and other apps) is to use a ReplayKit broadcasting extension. We are just getting ready to merge a PR which adds this example.

Please have a look. https://github.com/twilio/video-quickstart-swift/pull/287

Regards,
Chris

[2018-10-24 17:55] julien-l opened #28 "Detect loss of connection"
### Description

How to detect disconnection from an empty room with the Twilio SDK upon a loss of Internet connection?

For when the room is not empty, I can monitor the number bytes/packets received returned by `getStatsWithBlock()`; when they stop increasing, I can assume a loss of connection. But I was unable to find any useful stats when the room is empty.

Certainly related to known issue "P

[2018-10-24 18:09] piyushtank commented on #28
@julien-l With our current implementation, the Video SDK internally runs SIP signaling session timer of 120 seconds. If the network is lost completely, the SDK waits upto the session timer expiry for network connection establishment. This is a similar [issue](https://github.com/twilio/video-quickstart-swift/issues/99) it takes upto 120 seconds for remote participant to detect the disconnect.

We a

[2018-10-24 18:14] #28 closed, assigned to piyushtank

[2018-10-30 16:23] awerudev commented on #27
Hi Chris,

I have integrated the Twilio Video iOS SDK for multi-video chat app.
It is working great.
I am just wondering when the screen sharing would be implemented using ReplayKit.

Looking forward to hearing from you as quickly as possible.

Best,
Urban

[2018-10-30 17:34] ceaglest commented on #27
Hi @myProductBucket,

We have an example app which uses ReplayKit available now. We aren't immediately planning on adding a dedicated ReplayKit capturer to our SDK, but we do encourage you to try the sample code, and consider using it in your application.

https://github.com/twilio/video-quickstart-swift/tree/master/ReplayKitExample

Thanks,
Chris

[2018-10-31 09:49] awerudev commented on #27
Hi Chris,

Thank you for your info!
I have been building the app using Objective-C.
Could you let me know the example app for Objective-C?
Anyway let me check the ReplayKitExample quickly.

Regards,
Urban

[2018-11-05 19:22] awerudev commented on #27
Hi Chris,

https://github.com/twilio/video-quickstart-swift/tree/master/ReplayKitExample

Is there any Objective-C example ?

Thanks,
Urban

[2018-11-05 20:43] ceaglest commented on #27
Hi @myProductBucket,

Sorry for the slow response.

Unfortunately we do not have an Objective-C example demonstrating integration with ReplayKit. While I do ❤️ Objective-C (and write a lot of Objective-C++), the iOS team does not have the resources to maintain each of our examples in multiple languages at this time. You'll notice that some of our Swift examples include audio classes written in Obj

[2018-11-05 20:47] awerudev commented on #27
Hi Chris,

Thank you for your reply!

I was trying to create <ReplayKitVideoSource> class for Objective-C.
By the way, I am not sure about some code lines.
var downscaleYPlaneBuffer: UnsafeMutableRawPointer? // --

Could you help me?

Regards,
Urban

[2018-11-05 21:03] awerudev commented on #27
Actually, I want the class ReplayKitVideoSource for Objective-C

[2018-11-05 22:42] awerudev commented on #27
Hi Chris,

Please help me.
Looking forward to hearing from you as soon as possible.

Thanks,
Urban

[2018-11-08 18:28] jeffpoulton opened #29 "Disconnected from room at 1:30 when answer via CallKit and device remains locked"
### Description

When answering an incoming call via CallKit, if the user does not unlock the device after accepting the call, the call will drop after 1:30 (one minute and thirty seconds).

### Preconditions
* Ensure Device B has a device passcode enabled.

### Steps to Reproduce

1. Run an instances of VideoCallKitQuickStart on two devices
2. On Device A, join the designated room (e.g. Room 5)
3

[2018-11-08 19:41] ceaglest commented on #27
Hi Urban,

We are working on a new generation of Video capturing APIs, so I don't want to take the Swift example into our SDK at this time. Once we have introduced the new APIs later this quarter, we will consider your request.

var downscaleYPlaneBuffer: UnsafeMutableRawPointer? // --

In the meantime I would suggest that, if you want to convert the example capturer to Objective-C then you should

[2018-11-09 15:21] paynerc commented on #29
Good morning, @jeffpoulton,

I am trying to reproduce this issue but as of yet, have been unsuccessful. I am following the steps you have listed:

* Device A, an iPhone 6Plus joins a room sharing audio and video.
* Device B, an iPhone X, is set to join via the CallKit notification. I then lock the phone.
* When the CallKit notification triggers, I answer the call.
* I have both devices connected t

[2018-11-09 15:53] paynerc commented on #29
@jeffpoulton,

Also, another thing. Can you enable debug logging in the app and send that to support as well? You can do this by placing the following in your `application(application:, didFinishLaunchingWithOptions launchOptions:)` delegate method:

[code]

This would help us diagnose what is happening with your signaling connection.

Thank you!

Ryan

[2018-11-09 17:37] paynerc commented on #29
@jeffpoulton,

I created an internal ticket to update the sample code to raise the disconnection error to the CallKit framework so the user gets notified. We will get that updated soon.

Also, when you do send the logs and RoomSid to the support email, drop a note here that you have done that as well so I know look for it.

Thanks again!

Ryan

[2018-11-12 16:56] paynerc commented on #29
@jeffpoulton,

Just wanted to let you know that we added better handling for when the call is disconnected due to an error (https://github.com/twilio/video-quickstart-swift/pull/327).

Ryan

[2018-11-13 17:12] paynerc commented on #29
@jeffpoulton,

Just checking in to see if you have had a chance to collect that debugging information and sent it over in a support email?

Ryan

[2018-11-13 20:58] jeffpoulton commented on #29
@paynerc Sorry for the radio silence. I wasn't getting notifications of your comments and just checked in to see if there was any activity.

As for not being able to replicate, are you ensuring that Device B remains locked upon answering the incoming call? That is the key step with this issue; otherwise, if Device B gets unlocked upon answering, the call does not disconnect.

I will do a new build

[2018-11-13 21:00] paynerc commented on #29
@jeffpoulton,

No worries about the silence. Just  was making sure you weren't being blocked by this. Yes, I have not touched the phone other than to answer the CallKit call. I had a call go on for 45 minutes and it never dropped.

Leet me know when you send the RoomSid and I will look for it in the system and we can go from there. Also, check out the latest example. We are better handling when th

[2018-11-13 21:29] jeffpoulton commented on #29
RoomSid and debug log have been sent to the support email address.

[2018-11-13 21:36] jeffpoulton commented on #29
@paynerc I'm emailing a 2nd log file that was generated from an instancing that includes your bug fix in twilio/video-quickstart-swift#327.

[2018-11-13 21:55] paynerc commented on #29
@jeffpoulton,

Thank you for sending this. I have begun to dig though this and will let you know what I come up with.

Ryan

[2018-11-14 17:04] paynerc commented on #29
@jeffpoulton,

Thank you for sending this. I have begun to dig though this and will let you know what I come up with.

Ryan

[2018-11-14 19:30] ceaglest commented on #26
Hi @aastlind,

Yes, you could add your own renderer and simply hold a strong reference to the `TVIVideoFrame` that we provide you. This is roughly how `TVIVideoView` works. It holds on to the last fame and when its CADisplayLink timer fires it draws any new frame to screen using {OpenGL ES, Metal}.

We don't have an example in place, but you could look at ExampleSnapshotRenderer in this work in pr

[2018-11-19 11:03] spacedema commented on #29
I have the same issue. At 1:28-1:30 caller device get notified that receiver device has left the room. Receiver device is locked all the time. (Call answered from standard CallKit screen)

If receiver device get unlocked - everything is fine, so maybe receiver device not sending heartbeat if device is locked? (Heartbeat timeout = 88 sec)

[2018-11-20 06:50] piyushtank commented on #29
@jeffpoulton  Thanks for reporting the issues and providing logs.
@spacedema Thanks for reporting the issues.

Yes, I am able to reproduce the problem. What you have reported is a bug in Video SDK in group room scenario.

The Video SDK terminates the signaling connections upon creating the SDP answer for the offer received from the room signaling server, and while applying the answer, media engine

[2018-11-20 07:09] spacedema commented on #29
@piyushtank Thanks for the answer!

[2018-11-20 21:29] etown commented on #27
@ceaglest so great to hear about the next gen capturing APIs coming soon!
Can you confirm you guys are on track for releasing in Q4? Very much looking forward to it!

[2018-11-20 21:37] etown commented on #7
@andyboyd
“The key in the end was related to the buffer size being sent to TVIAudioDeviceWriteCaptureData(). I had been sending through the buffer size from the audio device's capture format every time, but I needed to send through the smaller value of that and mDataByteSize of the CMBlockBuffer contained within the sample buffer.”

Could you possibly share some example code?   Thanks you!

[2018-11-21 00:10] piyushtank commented on #27
@etown This week @ceaglest is out on vacation, he will be back on Monday. I work with Chris in iOS Video SDK team.

Yes, we are currently working on new Video Source based capturer APIs, and we are planning to ship the first preview release with new APIs in a few days (most likely early next week). We have a work-in-progress [PR](https://github.com/twilio/video-quickstart-swift/pull/328) for updat

[2018-11-27 17:18] jeffpoulton commented on #29
@piyushtank thank you for the update and for the quick turnaround!

[2018-11-29 14:53] SandeepKhore opened #30 "Video not rendering on caller side"
Description:

We have implemented Twilio ios SDK. After connecting to room video is not rendering at caller end. We are using call kit with VoIP notification to get the call from the caller. User A makes to User B. User B receives notification, on receiving notification we have a custom delegate from which User B makes an API call and that API return Twilio video token and User B connects to the r

[2018-12-04 19:35] ceaglest commented on #27
Hi @etown,

Can you confirm you guys are on track for releasing in Q4? Very much looking forward to it!

You are in luck, we have recently published [2.6.0-preview1](https://www.twilio.com/docs/video/changelog-twilio-video-ios-version-2x#260-preview1-december-3-2018) which introduces the new `TVIVideoSource` APIs. We have updated the ReplayKit Example and will be working on others during the previ

[2018-12-04 19:38] ceaglest commented on #27
Hi Urban,

With our preview release and the Video Source APIs, we are one step closer to moving ReplayKit capture into our SDK. This is still something we are considering but I do not have any concrete plans to share at this time.

However, you mentioned that you were having trouble writing an Objective-C class for capturing. You should take a look at our updated Swift [example](https://github.com

[2018-12-04 19:41] ceaglest commented on #16
Hello @yahmad (and other ReplayKit Developers),

We have released [2.6.0-preview1](https://www.twilio.com/docs/video/changelog-twilio-video-ios-version-2x#260-preview1-december-3-2018), with new Video Source APIs that significantly improve the performance of streaming ReplayKit content. You can try our updated [example](https://github.com/twilio/video-quickstart-swift/tree/2.6.0-preview/ReplayKitE

[2018-12-04 19:45] ceaglest commented on #7
Hello folks,

We have released [2.6.0-preview1](https://www.twilio.com/docs/video/changelog-twilio-video-ios-version-2x#260-preview1-december-3-2018), with new Video Source APIs that significantly improve the performance of streaming ReplayKit content. You can try our updated [example](https://github.com/twilio/video-quickstart-swift/tree/2.6.0-preview/ReplayKitExample) now.

If the original poste

[2018-12-04 21:01] yahmad commented on #16
@ceaglest, some nice improvements there! I will try out the changes asap.

Thanks,
Yasir

[2018-12-05 22:47] piyushtank commented on #29
@jeffpoulton @spacedema We have just released TwilioVideo 2.5.6. It has the fix for the bug you have reported. [Here](https://www.twilio.com/docs/video/changelog-twilio-video-ios-version-2x#256-december-5-2018) are the changelogs.

Please try it out and let me know if you run into any issue.

Thanks again for helping us in debugging the problem.

[2018-12-06 08:42] spacedema commented on #29
Everything is ok after update to 2.5.6
Many thanks!

[2018-12-11 17:11] piyushtank commented on #29
Thanks @spacedema for trying it out.

@jeffpoulton , @spacedema - I am closing this ticket as the bug is fixed but feel free to re-open if you observe the issue.

[2018-12-11 17:11] #29 closed, assigned to piyushtank

[2018-12-11 17:15] paynerc commented on #30
@SandeepKhore,

I apologize for the late response on this issue. A couple questions for you. I don't think this is the case, but you mentioned about making the API call to get tokens. You are not using the same token for both user A and user B, correct? Each token needs to have a unique identity. The fact that you stated that this is working in India and Atlanta, but only 60% of the time from New

[2018-12-12 14:30] namtvz opened #31 "Room connecting (TwilioVideo.connect) is really slow"
### Description

Room connecting with `TwilioVideo.connect(with: connectOptions, delegate: self)` is really slow. After this method is called, the `TVIRoomDelegate` callback `didConnect(to room: TVIRoom)` fires after 4 seconds (fastest, still bad but acceptable), or even 18 seconds (slowest that I met, not acceptable) later.

This is really not good for an instant VoIP app.

One note is I didn't m

[2018-12-12 20:26] paynerc commented on #31
@namtvit07

I'm sorry you are experiencing slow call setup times. We would like to hep you get to the bottom of this. I have a couple questions to help us get started.

1. What part of the world are you located in when joining the rooms? Wondering about network traversal, latency, and the like.
2. Do you have roomSids for calls where the setup duration is long? It would be helpful for us to be abl

[2018-12-13 02:08] namtvz commented on #31
@paynerc Thanks for your quick response.

I have sent the room sid and debug log to you. The Twilio ticket number is #1618521

1. What part of the world are you located in when joining the rooms? Wondering about network traversal, latency, and the like.

--> I'm in Ho Chi Minh City, Vietnam. My client in the US also meets slow connecting issue. I'm not 100% sure if it is also the connecting room i

[2018-12-17 16:56] etown commented on #7
@ceaglest  Great news on the 2.6.0 preview!

Regarding the audio, In our use case we are seeking just the app audio and do not need to mix in the microphone audio.  We attempted capturing app audio without success using the ExampleReplayKitAudioCapturer.  Looking through the issues and comments, I’m not sure that anybody has successfully captured the app audio. Have you attempted to capture app au

[2018-12-17 17:11] ceaglest commented on #7
Hi @etown,

I have not, but judging by the ticket that was filed this morning (https://github.com/twilio/video-quickstart-swift/issues/339) it should be possible to capture just app audio, without mixing, by making some small changes.

Best,
Chris

[2018-12-17 17:13] etown commented on #7
Thanks Chris,

Any hints about where the changes need to be to go from recording mic audio to app audio?

The supplied sizeInBytes is invalid. The sizeInBytes must match with the size returned by TVIAudioFormat:bufferSize utility method.

[2018-12-17 17:45] ceaglest commented on #7
Hi @etown,

I looked into this briefly and posted an update in:
https://github.com/twilio/video-quickstart-swift/issues/339

Best,
Chris

[2018-12-17 21:16] reallifeaxelrod opened #32 "CRITICAL - iPhone XS to 8 Video chat stretched top to bottom looks weird!"
### Description

1. on ios video cahtting from a iphone XS max to iPhone 8 Plus the video is super stretched out top to bottom and looks whacky! Does not look like a clean video chat like facetime. Instead its stetched out and look elongated.
This happens from iPhone X or XS max to iPhone 8 and 8 Plus i tired on all the phones for testing.

#### Expected Behavior

[What you expect to happen]

####

[2018-12-17 22:30] piyushtank commented on #32
@nickpeist Thanks for reaching out. What version of iOS TwilioVideo SDK are you using? Also the Video SDK supports content modes on `TVIVideoView`, can you check the content mode set on the renderer?

[2018-12-17 22:37] reallifeaxelrod commented on #32
I am the CEO of FanTazTech and I will have my Lead developer take over from here @MuhammadIftikharAftab

[2018-12-18 14:29] paynerc commented on #30
@SandeepKhore,

Just checking in to see if you had a chance to review my last message and have sent the requested logs. I have not found a corresponding ticket in our support system, but I will look again.

Please advise,

Ryan

[2018-12-18 14:39] paynerc commented on #31
@namtvit07,

Thank you for sending this over. I am investigating the logs for this room session and will get back to you shortly.

Thank you,

Ryan

[2018-12-18 16:02] SandeepKhore commented on #30
Hey Ryan,

Apologies for late response. The issue is resolved by updating pod to the latest version.

Thanks

[2018-12-18 16:02] #30 closed, assigned to paynerc

[2019-01-09 21:46] paynerc commented on #31
@namtvit07,

I have responded to the support ticket. Please look for the response there.

Thank you,

Ryan

[2019-01-18 11:17] Max0u opened #33 "VideoTrack migration 2.6.0"
### Description

We just migrate Twilio to the latest version 2.6.0. We use VideoTrack to launch an app on the other side of the client when we activate a devices camera. But the client does not receive the VideoTrack when we enable it with this new version. The client is an android tv devices with Twilio 2.2.1. Is there any retro compatibility ? Or this is the good way to migrate to the latest ve

[2019-01-22 18:05] ceaglest commented on #33
Hi @Max0u,

Sorry for the late response on my end.

Are you referring to Twilio Video [2.2.1](
https://www.twilio.com/docs/video/changelog-twilio-video-android-version-2x#221-september-13-2018) for Android? Any non-deprecated Video Clients are compatible with each other. There are newer versions of Android available like [3.2.2](
https://www.twilio.com/docs/video/changelog-twilio-video-android-3x#

[2019-01-22 18:12] ceaglest commented on #32
Hi @nickpeist @MuhammadIftikharAftab,

You can use `UIView.contentMode` with our `TVIVideoView` class. If you don't want any stretching or cropping then use `UIViewContentModeScaleAspectFit`. If you want cropping you should consider doing it on the sender side, if at all possible. Cropping on the sender is enabled by `TVICameraSource ` in 2.6.0. Take a look at [Video Source APIs - Making a Format

[2019-01-22 18:12] #32 closed, assigned to piyushtank

[2019-01-23 17:12] paynerc commented on #31
@namtvit07,

Just checking in to see if you have received my responses from the support ticket, #1618521.

Thank you,

Ryan

[2019-01-24 03:32] namtvz commented on #31
@paynerc Sorry for the late response

I got the response on the ticket. However, the internet from Vietnam to US have met an issue recently, so I cannot assess the difference yet.

One quick question: per your suggestion, I would like to change `media_region`. In our current workflow, we create room on iOS side (with `TVIConnectOptions` and `TwilioVideo.connect`) with granted token from server sid

[2019-01-24 06:01] ceaglest commented on #31
Hi @namtvit07,

Good question, I'll chime in on this point.

We know that using the REST API to create Rooms might not make sense for your use case, and for others. Because of this, we are planning on introducing SDK (iOS, Android, Browser) APIs to control signaling and media regions later in Q1. I'll share more information on this when I have it.

Best,
Chris

[2019-02-14 19:39] paynerc opened #34 "Unpublishing and republishing a media track might not be seen by Participants"
**Affected Versions**

All 1.x and 2.x SDK releases.

**Description**

Unpublishing and republishing a `TVILocalAudioTrack` or `TVILocalVideoTrack` might not be seen by Participants in the following cases:

 * Peer-to-Peer: If a Participant is reconnecting, or the unpublish / publish operations occur very quickly.
 * Group Room: If the unpublish / publish operations occur very quickly.

**Solution

[2019-02-14 22:54] ceaglest opened #35 "Firefox 63+ incompatibility with Mobile SDKs 1.X/2.X in P2P Rooms"
Firefox 63 [introduced](https://blog.mozilla.org/webrtc/how-to-avoid-data-channel-breaking/) a new SDP format for data channel negotiation.  This new SDP format has caused incompatibility with Android and iOS Video SDK 1.x and 2.x when used with P2P Rooms.

### What is the impact?

In a P2P room, mobile participants using an affected mobile SDK version, will not receive any media or data tracks pu

[2019-02-19 09:04] Moriquendi commented on #7
@ceaglest I wonder if there's any way to initiate the Twilio call from the main app and then during the call start sharing the screen.
In the code example, when broadcasting the screen, user is connected to Twilio room from within the upload extension. What if someone connected to the room from the main app and then want to initiate screen broadcast?

I was playing around with passing PixelBuffers

[2019-02-25 02:32] mcorner opened #36 "Randomly missing audio and video"
### Description

On a relatively small % of calls (P2P) we do each day we are missing either audio or video from a participant.   All of our calls are two participants, one is a client using iOS or Android, and our employee using the latest version of Chrome.

On the desktop side we see the remote tracks get subscribed.  Then we wait for the 'started' event, which also occurs.  But then we get no

[2019-02-25 18:24] ceaglest commented on #36
Hi @mcorner,

Thanks for the detailed report.

If you've got insights reporting enabled, then I think the best place to start would be if you could share Room SID(s) when the problem occurred. Let me think on this, but the level of device logging that would be helpful is probably not practical if you can't reproduce the issue locally.

Okay, this means that ICE / DTLS layers are established and RT

[2019-02-26 16:16] mcorner commented on #36
@ceaglest Thanks for the help.

I might have one clue on the audio problems at least.  One user rebooted and it worked, the other turned off bluetooth and it worked. So....I am wondering if these users' phones are connecting to their cars etc.  I would love to retain the ability for them to use bluetooth headsets, but it may also lead to user confusion.

On iOS can we:
a) Find out on iOS if it is

[2019-02-27 06:16] ceaglest commented on #36
Hi @mcorner,

a) Find out on iOS if it is using bluetooth and perhaps show an indicator?

Yes, you could find this information out from `AVAudioSession.currentRoute`. Typically, the input and output are the same, but you want to dig down to the `AVAudioSessionPortDescription.portType` to be sure.

If the user swipes up they should be able to see the active audio route in control center, and a blue

[2019-02-27 15:07] mcorner commented on #36
In case it helps someone else, here is what we added:

[code]

[2019-02-28 18:22] ceaglest commented on #36
Hi @mcorner,

I looked at the Room SIDs that you provided (once again sorry for the delay).

I noticed that the iOS Client is using version 2.0.1. in each Room. We've made a few audio related bug fixes since then, so do you know if your customers are still experiencing no audio when using newer releases (like 2.7.0)?

Video looks good for the iOS Client, but very few audio bytes are sent (see MTb7

[2019-02-28 22:57] mcorner commented on #36
@ceaglest Awesome analysis.  Yes, we have users on old versions of our app.  We are planning to persuade them to upgrade in our next revision.  We will only report back on problems on most recent SDKs.  Instead of showing them an indication or disabling bluetooth, we are going to just start with logging.  Then we can do a post-hoc analysis to see if Bluetooth is indeed the issue.

I will report ba

[2019-03-01 18:28] mcorner opened #37 "TVICameraSource device sometimes nil"
### Description

We are sporadically getting a nil device from our TVICameraSource.  This happens when we are trying to flip from the front camera to back.  We can reproduce it locally, but it only happens sometimes (<20% and usually on a first call).

### Steps to Reproduce
See code

#### Code

[code]

[2019-03-02 19:37] ceaglest commented on #37
Hi,

This is an interesting one. My first thought is that it could be permissions related or that the first starting of the camera hadn’t completed yet leading to TVICameraSource.device being nil. I will dig into this further on Monday.

Thanks,
Chris

[2019-03-05 16:08] mcorner commented on #37
@ceaglest I couldn't reproduce it on an iphone 8, but we can (20%) of the time on the iphone X.  I thought it might be a race condition in setting the camera device, but it appears to still be nil even 2 minutes into the call.  If we start a new call on that device it is then fine.

The self.camera is not nil, just self.camera.device.

This is flipping from the front to rear camera.

[2019-03-05 16:10] ceaglest commented on #37
Hi @mcorner,

Ok, I have an iPhone X to try to reproduce locally. Do you get a completion block being fired after calling `startCaptureWithDevice`?

Best,
Chris

[2019-03-06 13:57] mcorner commented on #37
@ceaglest My apologies, I believe we have found the source of our problem.

We are actually calling startPreview from two different places: starting a call and starting the preview view.  This is a react native app so we had to build some things ourselves.  On faster devices a race condition manifests and startPreview runs twice.

We put in a synchronized block and we believe it is working now. I

[2019-03-06 13:57] #37 closed, assigned to nobody

[2019-03-07 09:54] Moriquendi opened #38 "Video is paused when app is in the background"
### Description

On iOS, Video stream is paused when app is in the background.

### Steps to Reproduce

1. Use sample code from https://github.com/twilio/video-quickstart-swift
2. Connect to room (somewhere where you can preview live the participants video)
3. Background the app
4. Video stream will be paused

Although I do see the app is working in the background (my own logs show up), video is p

[2019-03-07 17:39] ceaglest commented on #38
Hi @Moriquendi,

iOS 12.0 doesn't allow you to use the camera in the background, even in a picture-in-picture view. Given this OS restriction, Twilio Video is behaving as expected. We use AVCaptureSession under the hood, and you can see more info about why interruptions occur with these APIs.

https://developer.apple.com/documentation/avfoundation/avcapturesession/interruptionreason

Best,
Chris

[2019-03-07 17:43] Moriquendi commented on #38
@ceaglest Thanks, didn’t know that.
However, I also encounter the issue when I’m streaming screen frames from ReplayKit 2. Shouldn’t that be allowed?

[2019-03-07 18:01] Moriquendi commented on #38
To explain futher: I pass ReplayKit frames from Upload extension to my app and then send them to the sink within the app.

[2019-03-07 18:32] ceaglest commented on #38
Hi,

If you have an extension encode the frames (see [SampleHandler](https://github.com/twilio/video-quickstart-swift/blob/master/ReplayKitExample/BroadcastExtension/SampleHandler.swift) example) then it should work independently of your app.

If you're sharing frames from your extension to your app, I'd be curious to know how you accomplished this in realtime (since others have asked). My guess w

[2019-03-07 18:40] Moriquendi commented on #38
I’m using this library for passing frames to the app: https://github.com/mutualmobile/MMWormhole
I encode them into UIImages, pass into wormhole and then decode into pixel buffer on the app side.

Still have some issues with hooking things up but it looks promising and real-time.

I wanted to upload those frames straight from the extension but my video-call is started initiated in app and I don’t

[2019-03-07 20:52] ceaglest commented on #38
Hi @Moriquendi,

Cool, thanks for sharing. Since we have had other questions on this subject, we are considering trying to integrate extension -> app communication in our example app.

One thing we've noticed about backgrounding is that unless audio is being played/recorded (AVAudioSession is active), then file descriptors will be forcefully closed upon the app entering a background state. This ma

[2019-03-07 20:57] Moriquendi commented on #38
Thanks, I’ll investigate tomorrow if the communication is terminated when backgrounderd and confirm it here.

Do you have any timeline for that extension->app communication - when could we expect that coming to the SDK?

[2019-03-08 04:53] ceaglest commented on #38
Hi,

We will probably start with updated ReplayKit sample code, and then consider how to integrate the end result into our SDK. I'll share more info on timeline as I have it.

Best,
Chris

[2019-03-08 08:22] Moriquendi commented on #38
@ceaglest Turns out the wormhole communication does work in the background. Here's the screenshot I took  ~30 sec after going to background.
![Imgur](https://i.imgur.com/ZbPflhu.png)

Could it be possible that TVIVideoSink itself checks for app state and pauses when in the background?

[2019-03-08 08:36] Moriquendi commented on #38
@ceaglest I did an experiment and swizzled UIApplication's `state` property to always return `active`. When I did it, the video stream wasn't paused.

[2019-03-08 18:00] ceaglest commented on #38
Hi @Moriquendi,

Are you using H.264? There are some restrictions to using VTCompressionSession while backgrounded. If you could share some debug logs I might be able to figure out why.

Chris

[2019-03-08 18:30] Moriquendi commented on #38
@ceaglest
Yup, I'm using H.264.
`builder.preferredVideoCodecs = [TVIH264Codec(), TVIVp8Codec()]`
Here's a log from this session: https://pastebin.com/kbHZgiKb

I then set only `TVIVp8Codec` as `preferredVideoCodecs` and indeed frames were streamed even when the app was in the background - nice :)

I still have one issue with framerate though. Not sure if Twilio is to blame but I couldn't find any

[2019-03-09 06:29] PrashantKT commented on #27
Hello Every one ,

I have a question With twilio is it possible to share ARKit screen with other person  using calling like VOIP

I am searching for feature with that Two Person can do screen sharing which is ARKit based.
and both can draw ARKit Content (free hand drawing like circle lines squares etc)  on screen and both able to see it.

Is it possible with this SDK

Looking forward to hear from

[2019-03-11 23:00] ceaglest commented on #27
Hi @PrashantKT,

The short answer is that it can be done, and you don't want to use ReplayKit to achieve this. Can you please open a separate issue so that we can help you further?

Thanks,
Chris

[2019-03-12 10:38] Moriquendi commented on #38
Nevermind my previous question.
Because wormhole is passing data through files, we basically have two processes fighting for the same resource. When the extension is writing realtime to the file, the other process has no time to lock the resource for itself.
I had to limit frame rate in which extension is passing frames through the wormhole so that the app has time to read them.

This is clearly n

[2019-03-13 09:40] PrashantKT opened #39 "ARKit & Screen Sharing"
I am looking for functionality to develop where two or more people can share one screen among them, which is ARKit Sceneview

Now Everyone is able to draw things in the real world using ARKIT (adding 3D objects).  And also able to talk using a microphone.

is it possible using twilo-video-demo ?

[2019-03-13 17:28] piyushtank commented on #39
@PrashantKT Thanks for reaching out. If you are getting video frames from ARKit Sceneview, you can feed the video frames to the Video SDK by writing your own custom capturer when you are connected to a Room. The passed video frames will be shared with the participants connected to the Room. See [this](https://github.com/twilio/video-quickstart-swift/blob/master/ARKitExample/ViewController.swift#L1

[2019-03-14 01:01] ceaglest commented on #38
Hi,

It feels like a hacky-workaround and I don't think it's a right direction to go. What we need is some support from Twilio SDK to add tracks to the same participant from app and extension.

We are unlikely to allow this for security reasons (see https://github.com/twilio/video-quickstart-swift/issues/357). I haven't had bandwidth to investigate sharing frames between the extension and app but

[2019-03-14 05:21] PrashantKT commented on #39
@piyushtank  Thanks for answer. I have tried to run ARkit Demo.  I have generated Two Access Token.  But doesn't seems to be working for me like both app starting  Not  ARCamear   Could you please guide. I have seen `TVIVideoSink` but don't able to understand how to use this class

[2019-03-14 05:51] PrashantKT commented on #39
I am able to do that with TVIVideoView and TVIRemoteParticipant but question is , is it correct way? and Yes than what is diff of using TVIVideoSink vs TVIVideoCaptureConsumer

[2019-03-14 06:59] PrashantKT commented on #39
And another question is if one of the application is terminated so Is there a  way to receive calls? Or I need to use the Twilio Voice SDK  for that?

[2019-03-15 04:07] piyushtank commented on #39
@PrashantKT  Can you elaborate what does not work on ARKit Example?

You can write custom Video Source and provide video frames to video sdk. See the guide: https://www.twilio.com/docs/video/video-source-apis

`TVIVideoCaptureConsumer` is deprected APIs. You should use TVIVideoSink APIs instead.

To receive an incoming call with Video SDK, you need to write your own push notification handler. The

[2019-04-01 14:01] Girish-iweb commented on #17
hello
 I am follow video call  quick step by step
using TwilioVideo 2.8 latest cocoa pod  I have facing trouble of audio
I have not hearing video call audio I just show them and it is automatic destroy remote view preview
I have trouble I have working in swift 4.0

func connectionTwilio()
    {

         self.prepareLocalMedia()
        let connectOptions = TVIConnectOptions.init(token: accessToke

[2019-04-01 14:02] Girish-iweb commented on #17
func setupPreview()
    {
        let frontCamera = TVICameraSource.captureDevice(for: .front)
        let backCamera = TVICameraSource.captureDevice(for: .back)
        if (frontCamera != nil || backCamera != nil) {
            // Preview our local camera track in the local video preview view.
            let cameraSourceOptions = TVICameraSourceOptions.init { (builder) in
                builder

[2019-04-01 17:52] piyushtank commented on #17
@Girish-iweb do you think the the issue you are reporting related to `iOS max encoders limitation issue`? if not, please open a seperate issue.
 Also if you are having problem in media issues in Video Call, please use our [Quickstart](https://github.com/twilio/video-quickstart-swift/blob/master/VideoQuickStart/ViewController.swift) example on how to set up renderer and camera.

[2019-04-02 05:43] Girish-iweb commented on #17
@piyushtank
I am using  Quickstart example  step by step but not hearing audio of room participated
using peer to peer video call connection
when I have created room I have hearing participated  audio and video but not hearing my audio on other participants

bellow my code

 self.prepareLocalMedia()

    let connectOptions = TVIConnectOptions.init(token: accessToken) { (builder) in
          if le

[2019-04-23 08:19] claudiul opened #40 "ReplayKit ending a streaming session leaves the last frame frozen."
### Description

I am trying to share the devices screen to a twilio chat room via a broadcast extension. The stream starts but when I stop it from the control centre UI the last frame of the stream is still being presented.

### Steps to Reproduce

1. Share screen via broadcast extension to other users (they are connected to the room via web)
2. Stop broadcast extension streaming

#### Expected B

[2019-04-23 10:56] arshadsk5 opened #41 "How to connect multiple participants to a single room"
I wanted to connect multiple participants to a single room, i didn't find any code in google. Please help me out, in swift programming language.

[2019-04-23 15:07] ceaglest commented on #40
Hi @claudiul,

Thanks for writing in. We recently fixed this issue in our [ReplayKitExample](https://github.com/twilio/video-quickstart-swift/blob/master/ReplayKitExample/BroadcastExtension/SampleHandler.swift), have you tried the latest commit? In your extension you should wait for your Room to disconnect before ending the broadcast. If you disconnect without waiting it is quite common for the fi

[2019-04-23 15:08] CandiceWright opened #42 "Video remains paused even after coming back into app from background"
### Description

When a user goes to the background while inside of a room, the video pauses as expected for the other user. However, when the user comes back into the app, the video remains paused, but the audio works. I am expecting for the video to start back up automatically. Actually, this behavior was there, and then I updated twilio video to the newest version and it now gives this unexpect

[2019-04-23 19:28] ceaglest commented on #42
Hi @CandiceWright,

Thanks for filing an issue. Our upcoming release 2.10.0 has a bug fix related to network handoff, but I am not certain that this is the same issue you are experiencing. Would it be possible to provide a Room SID of a case where media froze upon returning to the foreground?

Alternatively, is the problem reproducible in one of our QuickStart apps?

Best,
Chris

[2019-04-24 07:48] claudiul commented on #40
Hello,

Thank you for the speedy reply. I am using the version from the beginning of the month but I will try the latest version also. I managed to fix this by adding inter process communication from the broadcast extension to the app, as the app has no way of knowing when screen sharing has ended in order to resume standard streaming.
I am not sure if my handling of the token is correct as I use

[2019-04-24 20:49] ceaglest commented on #40
Hi Claudiu,

I was getting ahead of myself before, the fix is actually in my [open PR](https://github.com/twilio/video-quickstart-swift/pull/376) which should be merged today.

If I recall correctly there is an event you can use when the ReplayKit broadcast ends. I can double check with our example, and how it updates the UI.

Participant identities must be unique within the scope of a Room. If yo

[2019-04-25 00:39] ceaglest commented on #42
Hi,

I have assigned this issue to @piyushtank, since I will be out of office until Monday. We would like to get to the bottom of this, since video should not remain paused after returning from the background. If you can provide any more info (see my last message) that would be greatly appreciated.

Thanks,
Chris

[2019-04-25 02:31] ceaglest commented on #41
Hi @arshadsk5,

Have you tried our [MultiPartyExample](https://github.com/twilio/video-quickstart-swift/tree/master/MultiPartyExample) app (written in Swift 4.2)? Each Participant needs to have their own device, but the app displays video for up to 4 Participants in a Room.

Best,
Chris

[2019-04-25 02:33] ceaglest commented on #40
Hi,

We merged the PR I mentioned earlier. If you try the latest code on master the broadcast extension should correctly disconnect from the Room when a broadcast ends.

I'm out of the office until Monday, but if you have any more questions one of my team mates would be happy to help.

Best,
Chris

[2019-04-25 02:37] ceaglest commented on #16
Hi @yahmad,

In our [2.10.0](https://www.twilio.com/docs/video/changelog-twilio-video-ios-version-2x#2100-april-24-2019) update, a ReplayKit extension can connect without subscribing to any Tracks. As long as a Group Room is used, the extension will now require less memory and CPU than before.

Since we haven't heard from you in a while, I'll close out this issue. If you're still having memory usa

[2019-04-25 02:37] #16 closed, assigned to ceaglest, piyushtank

[2019-04-25 02:42] ceaglest commented on #7
Hi Developers,

I believe all the original questions in this issue have been answered, so I'm closing it out. To summarize, our [example](https://github.com/twilio/video-quickstart-swift/tree/master/ReplayKitExample) has a broadcast extension which:

1. Publishes video frames from ReplayKit
2. Allows for efficient downscaling of video frames _(using H.264)_
3. Is not required to subscribe to Track

[2019-04-25 02:42] #7 closed, assigned to ceaglest

[2019-04-25 08:30] claudiul commented on #40
Thank you very much for your reply. I'll try the latest code.Have a nice weekend.

Best,
Claudiu

[2019-04-26 15:13] rashidabbas opened #43 "How to share Video in screen share with participants."
Hi I am using your sdk into iOS to share screen with participants using video call with source ScreenCapturer everything is working fine screen is share with participants but when I play video then participants did not get video they get only blank screen but when I stop video and come back any other page it shows fine.

please help. Thanks.

[2019-04-26 15:18] rashidabbas opened #44 "Replay Kit Conference not working"
Hi I am using replay kit example provided by you and I am facing issue during start conference when I hit start conference button I show an error like. "Recording interrupted by multitasking and content resizing".

please help thanks.

[2019-04-30 19:38] mcorner commented on #36
We aren't really seeing this specific problem after upgrading.  It is hard for us to always track these, but I will close this for now.

[2019-04-30 19:38] #36 closed, assigned to ceaglest

[2019-04-30 19:40] ceaglest commented on #36
Thanks for letting us know @mcorner.

[2019-04-30 19:47] mcorner opened #45 "Random disconnects"
### Description

Users disconnect from rooms suddenly.  Their bandwidth and connections seem to be ok, and we are having trouble debugging this.

Is there a way to get signaling logs for Room ids?

### Steps to Reproduce

Hard to reproduce, but we have room ids:
RM7b524933415cc8c076a890e6fd83aadf
RMadf65284a9e6124c16d13ac2bf30a7ae

I can probably dig up more.

#### Code

The code is similar to the

[2019-04-30 19:52] mcorner commented on #45
Also: RMb8b5742df58d6d6dedace8510175d8b7

[2019-04-30 20:03] ceaglest commented on #45
Hi @mcorner,

I'm spot checked RM7b524933415cc8c076a890e6fd83aadf, and I see that the iOS Participant's signaling connection timed out ~10.5 minutes after the Room was created.

We can look into these Rooms more deeply. However, I should mention right now that it's unlikely that we will fix deep rooted bugs or issues with the current signaling stack in 2.x. We are working on a 3.0.0-beta1 release

[2019-05-01 15:56] mcorner commented on #45
Thanks @ceaglest .  When you say "signaling connection timed out", what more can you tell me about this.  The video/audio abruptly terminated.  Would the most likely cause be a network disruption, handoff, or some kind of bug in the signaling stack, a backend problem, or what?  We were seeing very good bandwidth up until that point and it just dropped.  It seems like a somewhat large number to be

[2019-05-01 18:41] ceaglest commented on #45
Hi @mcorner,

In both cases the JavaScript Participant has timed out. I would suggest trying 2.0.0-beta6+ and enabling the new signaling Client in ConnectOptions. If a JavaScript Participant with the old signaling stack loses its signaling connection it is not possible to reconnect it. This means that any signaling failure using twilio-video.js-2.0.0-beta5 is going to be terminal.

This Room was i

[2019-05-01 18:46] ceaglest commented on #44
Hi @rashidabbas,

Can you please provide us more info in: https://github.com/twilio/video-quickstart-swift/issues/322? Thank you.

I'm closing this issue, since the question is regarding sample code and not sdk code.

Cheers,
Chris

[2019-05-01 18:46] #44 closed, assigned to nobody

[2019-05-02 06:16] piyushtank commented on #42
Hey @CandiceWright

I tried to reproduce the problem on Quickstart sample app with the steps you have provided using TwilioVideo SDK version `2.10.0`, but I could not reproduce the problem. Video resumed after coming back to foreground.

In order to debug this problem further, can you provide following information (asked by @ceaglest in previous posts):

- Would it be possible to provide a Room SI

[2019-05-02 14:11] mcorner commented on #45
Ok, thanks @ceaglest

We are not properly logging reconnections in our iOS or Android apps, which we will add now.  We might be able to present something in the UI to indicate that it is reconnecting.  But to confirm, both the iOS and Android client libraries should be reconnecting lost signaling connections?

On the js/web side we will try out the new signaling reconnection to see if that helps (

[2019-05-02 17:24] ceaglest commented on #45
Hello,

Correct, that is the intended behavior for mobile SDKs. It's only JavaScript that is not able to reconnect with the old signaling Client.

I can get packet captures from the signaling server, but this may not tell the whole story in the way that Çlient side logs would. I can do so for RM7b524933415cc8c076a890e6fd83aadf.

Best,
Chris

[2019-05-02 18:20] ceaglest commented on #45
Hi,

After pulling the pcaps for the iOS Participant in RM7b524933415cc8c076a890e6fd83aadf I see that the update messages were sent periodically with the last send ~540 seconds after the session began. After that no more updates are sent and the session ends at the ~628 second mark.

I don't have access to lower layers (TCP, TLS) in the pcap so if its possible to get Client side debug logs I will

[2019-05-02 18:48] mcorner commented on #45
Ok, that lines up:
11:00:14 session starts
11:00:18 recording starts on our end
11:10:45 media goes black in the recording and the and the iOS participant is disconnected from the room (logged on the web/js side).

Since the media was continuing fine, the disconnection was because of the signaling being dead.  It should have restarted. We will be logging this soon, but if we confirm it means we ar

[2019-05-02 18:52] ceaglest commented on #45
Hi @mcorner,

I agree. I would highly recommend upgrading on JavaScript when you get the chance. On iOS if you'd be interested in trying 3.0.0-beta1 when its available that would be great. As for iOS 2.x, I will be able to say more once I see Client side logs.

Best,
Chris

[2019-05-02 19:57] mcorner commented on #45
How do you enable more logging on the iOS side?

[2019-05-02 20:11] ceaglest commented on #45
Debug level should be enough:

[code]

[2019-05-03 01:14] mcorner commented on #45
Right, but we need to do this remotely since we can't reproduce it.  I don't support there is a way to provide Twilio a custom logger?  Otherwise we are going to have to shim NSLog.

[2019-05-03 14:50] mcorner commented on #45
@ceaglest The more I look at it, the harder it looks to capture NSLog and console.log well.  We really would like to have detailed logs from clients since it would help both of us track down problems.  Any chance there is a way to override where the Twilio logs go?  We could then ship them to one of the logging services.

[2019-05-03 17:31] ceaglest commented on #45
Hi @mcorner,

Unfortunately we don't have that ability right now. The best you could do with current releases is to redirect the output of NSLog to somewhere else (like a file). It's clear that there are some betterments to make for Twilio's Voice & Video SDKs when it comes to logging support.

Best,
Chris

[2019-05-03 18:23] mcorner commented on #45
Would be really helpful to give you the best information.  There are so many things that can't be reproduced locally and consistently.  Someone asked for it in Android as well:
https://github.com/twilio/video-quickstart-android/issues/264

[2019-05-07 01:28] ceaglest commented on #43
Hi,

This seems like a sample code question. I'm closing it since you've already filed

https://github.com/twilio/video-quickstart-swift/issues/382

Best,
Chris

[2019-05-07 01:28] #43 closed, assigned to nobody

[2019-05-13 14:34] claudiul opened #46 "Screen-sharing when already in a room"
### Description

Hello,
I have an app that uses twilio programable video. The user can connect to a room and share video and audio from the iOS devices camera/mic. We have recently added ReplayKit screen sharing via use of a broadcast extension (so that the user can also share the screen while outside of the app). When the call starts the call token is shared to the extension via shared user defau

[2019-05-13 14:39] paynerc commented on #46
@claudiul,

It sounds like you are either using the same Access Token or using two separate Access Tokens with the same identity for connecting to the room from your application and in your ReplayKit extension. The server enforces a unique participant identity and will close a current connection when a second connection is created with the same identity.

To maintain both connections to the room,

[2019-05-13 14:41] paynerc commented on #46
@claudiul,

One other thing... When your app is in the background, you will still be able to share the microphone audio, however the camera is paused when outside of the application which is a limitation imposed by the OS. Just wanted to clarify that.

Thanks!

Ryan

[2019-05-14 10:45] claudiul commented on #46
So if my user is loged in and in a video call and needs to start a screensharing session then basically I need to log in again( ? even if he's already logged in) and get a new access token for the extension?

[2019-05-14 12:15] claudiul commented on #40
I'm not sure I understand this: I have a user user@company.com(this is the identity?) , he has received a token when joining the call. This is used for video call from device camera. If I need to screenshare from this user I need to get another token? Or does this imply I need another login (user_screenshare@company.com) to have both video and screen sharing???

[2019-05-14 16:00] paynerc commented on #46
@claudiul,

I guess that depends on how your token vending is tied to your user authentication/logging in. The important thing here is that each token will need a unique identity. So it wouldn't just be a case of logging in a second time to get a new token with the same identity, you would need to vend a token with a different identity. For instance, if the user logs in and has an identity of `rya

[2019-05-16 10:54] Tratar opened #47 "TVIRoom object deallocs too long(2-6 seconds) and blocks UI thread."
### Description

TVIRoom object deallocs too long(2-6 seconds) and blocks UI thread in case user disconnects right after connect.

#### Code

[code]

#### Expected Behavior

[code]

#### Actual Behavior

[code]

#### Reproduces How Often

Something like 30%

#### Logs

Please take a look at timestamps here
[code]

### Versions

All relevant version information for the issue.

#### Video iOS SDK

2

[2019-05-16 14:45] paynerc commented on #47
@Tratar,

I am attempting to reproduce this issue locally and as of yet, I am not seeing what you are. The one question I have right off the bat: Are you using Twilio Video `2.1.0` or `2.10.0`? `2.10.0` is our latest release and `2.1.0` is almost a year old at this point.

If you are using `2.1.0`, can you test with `2.10.0` and see if you are experiencing the same issue? I will continue to attemp

[2019-05-17 09:05] Tratar commented on #47
My twilio version is 2.10.0. The latest one.
Please try doing it several times. Sometime bug happens sometimes not. If necessary I can record a video.
I am able to reproduce problem both on our project(where we use Twilio) and on iOS Twilio Quickstart

[2019-05-17 12:26] MilanNosal opened #48 "Troubles using ICE server for connection"
### Description

We are trying to use ICE server when connecting to the room. For some reason it seems that the ICE options on the connection options does not work (based on the dashboard of the ICE server provider).

### Steps to Reproduce

Try to connect to the room.

#### Code

[code]

#### Expected Behavior

Connection would be made through ICE server.

#### Actual Behavior

Does not seem to a

[2019-05-17 19:43] paynerc commented on #47
@Tratar

OK. I was concerned when I saw the version in the issue being listed as `2.1.0`.

I have written an integration test that basically looks the same as the code you have provided above:

[code]

This was run over 300 times and I was not able to reproduce the issue. However, after having discussions with some other team members, we have determined that in the current version, if you are tryi

[2019-05-21 10:25] Tratar commented on #47
@paynerc

I was able to replicate it using next code:
[code]
The main difference with your code is creating audio and video devices. Another thing I'd like to mention about your code is weakSelf, please be sure it's not dealloced before the code in dispatch executed.

My logs are:
2019-05-21 13:19:46.011918+0300 mfm[1253:286988] Difference: 0.096397
2019-05-21 13:19:47.384218+0300 mfm[1253:286988]

[2019-06-04 22:31] lilhinx opened #49 "ISDK-2536: Support for Catalyst/XCFrameworks"
TwilioVideo.framework cannot be linked to projects which target UIKit for Mac 13.0. Without this capability, TwilioVideo cannot be used on this exciting new platform.

[2019-06-04 22:53] ceaglest commented on #49
Hi @lilhinx,

I am also excited for the future of UIKit on the Mac! In the past we have experimented with an AppKit based macOS SDK for Twilio Video, but it was a non-trivial amount of effort to account for the differences between AppKit and UIKit.

I will discuss with the team and share more info once I have it.

Best,
Chris

[2019-06-07 00:47] ceaglest commented on #48
Hi @MilanNosal,

Sorry for the late response to your question.

It looks like the ICE Servers that you provided were used by the SDK ("overrode"). After reviewing RM02dd50732488da0845337a6ce5a2ea68 from your logs, and I can see a couple of items:

1. It is a Group Room.
2. From what I can tell, the Client was able to establish a relayed connection with the Media Server (from 104.248.xxx.xxx, a Dig

[2019-06-07 01:01] ceaglest commented on #45
Hi @mcorner,

I don't have any updates on improved logging yet, but I did want to mention that we have now released [3.0.0-beta1](https://www.twilio.com/docs/video/changelog-twilio-video-ios-version-3x#300-beta1-june-6-2019) which uses a new signaling transport. The goal is to improve reliability, and time to detect connection failures. We've also deployed signaling Servers globally, bringing them

[2019-06-07 01:05] ceaglest commented on #42
Hi @CandiceWright,

I didn't see a Room SID, but after re-reading this issue, I believe you are encountering https://github.com/twilio/video-quickstart-swift/issues/388. We are close to deploying a fix for this issue.

Best,
Chris

[2019-06-18 11:39] CandiceWright commented on #42
Great, Thank you for the follow up!

[2019-06-26 14:35] seijik42 commented on #31
Hello @ceaglest ,
Do you have plan to add media region option for iOS 2.x SDK?
We provide video call service in Japan, our users reported starting call is very slow.
Apparently SDK uses us1 media region even though our users are in Japan.
I found 3.x library has region option now, but 2.x doesn't.
I don't want to migrate to 3.x now, because it is still in beta. I don't want to use beta library in

[2019-06-26 16:09] ceaglest commented on #31
Hi @seijik42,

No, we aren't planning to add Client side APIs for region selection in 2.x.

Apparently SDK uses us1 media region even though our users are in Japan.

Yes, the default media region for a Group Room is us1. You can create a Room with the jp1 media region today using the REST API and connect to it with 2.x Clients. We are also working on a "gll" media region, where media is automatica

[2019-06-27 05:18] seijik42 commented on #31
Hi @ceaglest Thank you for your response.

That's great! This is what we wanted because sometime we forget to provide media region option.

This is good news too.
I'm looking forward to hearing update from you!
Best,
Seiji

[2019-07-05 11:46] Tratar opened #51 "It's possible for user to connect to completed room"
### Description

It's possible for iOS to connect to completed room.

### Steps to Reproduce

1. Create room
2. Complete it with rest api
3. Try connecting to completed room.

#### Expected Behavior

User is not connected with error.

#### Actual Behavior

User is connected.
`- (void)didConnectToRoom:(nonnull TVIRoom *)room;` is called

#### Reproduces How Often

100%. Easy to reproduce.

#### Log

[2019-07-08 17:07] ceaglest commented on #51
Hi @Tratar,

Thanks for your feedback about Room completion behavior.

Complete it with rest api
Try connecting to completed room.

How do you connect to the completed Room? If you're connecting with an access token that is scoped to the Room's uniqueName then connecting to the just completed Room actually causes a new Ad-Hoc Room with the same name to be created (assuming Ad-Hoc creation is allow

[2019-07-08 20:16] Tratar commented on #51
Hi @ceaglest,

Thanks much, you are absolutely right. We didn't know about that ad-hoc room creating.

[2019-07-08 20:16] #51 closed, assigned to nobody

[2019-07-08 20:42] ceaglest commented on #51
Hi @Tratar,

If you need Ad-Hoc Room creation for another reason then you can also create access tokens scoped to a Room SID of a Room created via REST. These scenarios are possible with Ad-Hoc Room creation enabled:

* Complete a Room, then connect with a token scoped by name. A new Ad-Hoc Room is created with the same name, but a new SID
* Complete a Room, then connect with a token scoped to the

[2019-07-09 08:09] Tratar commented on #51
Hi @ceaglest

Thanks much for clarifications. They are really usefull. We will refine on room creating and token generating logic a bit.

Best regards,
Michael

[2019-07-16 03:14] piyushtank commented on #21
Hello,

I apologize for the late response. We have done major changes in our Camera APIs in our latest 2.10.0 and 3.0.0-beta releases. The new camera source APIs were originally added in 2.6.0 previews.

With our latest SDK, I tried followed the step with our CallKitQuickStart example but I could not reproduce the problem where app hangs. Similarly, I tried to reproduce the problem with local noti

[2019-07-16 03:14] #21 closed, assigned to ceaglest

[2019-07-18 12:15] Worien commented on #8
You are the hero of my day

[2019-07-19 00:23] piyushtank commented on #8
@Worien For Video calls, ideally we should be using the VideoChat mode which will route the audio to speaker. I would modify the workaround to following.

[code]

Let me know if you run into issue with ^ workaround.

[2019-07-19 13:02] Worien commented on #8
It seems this solution doesn't fix the bug when you accept the call in callkit in locked-screen mode. You still don't have a sound.

[2019-08-01 21:30] ceaglest commented on #48
Hi,

I hope we were able to answer your question. In general, I wouldn't recommend overriding TURN servers unless you have a very specific reason to do so (this was not clear in your original comment). Twilio provides globally deployed TURN Servers, and they are included with both Peer-to-Peer and Group Rooms by default. Please let us know if you have any more questions.

Best,
Chris

[2019-08-01 21:30] #48 closed, assigned to ceaglest

[2019-08-22 17:33] ceaglest opened #52 "Chrome 76+ DataTrack incompatibility with 2.X Mobile SDKs in P2P Rooms"
Chrome 76 [added support](https://groups.google.com/forum/#!msg/discuss-webrtc/Y7TIuNbgP8M/UoXP-RuxAwAJ) for a [new SDP format](https://bugs.chromium.org/p/webrtc/issues/detail?id=4612) for data channel negotiation. This new SDP format is not compatible with 2.x Android and iOS Video SDKs when used with P2P Rooms.

### What is the impact?

In a P2P room, Chrome 76+ Participants and affected mobile

[2019-09-03 11:52] jvanakker commented on #8
Same problem here. wilio 3.x SDK. In our case, an outgoing call that's programmatically initiated. We don't use Callkit. And in our case it's TwilioVoice.

The function "toggleAudioRoute:(BOOL)toSpeaker" (provided in the ObjCVoiceQuickstart sample code) with "toSpeaker" set to YES, does work with the app in foreground, but does NOT work in background (phone locked or just app in background). The c

[2019-09-03 18:39] piyushtank commented on #8
@jvanakker Thanks for reaching out. Let me make sure if I understood the used case completely. If your app is not using the CallKit, how are you toggling the audio when app is backgrounded?

[2019-09-04 11:20] jvanakker commented on #8
@piyushtank Twilio provides two example implementations for integrating TwilioVoice: one using CallKit and one without. The integration in our application is based on the one that's **not** using CallKit (as we have our own calling UI integration and don't want to use the Apple calling UI, etc).

Our outgoing call is initiated programatically and forced through the speaker and has been working per

[2019-09-05 20:23] kselvin opened #53 "[iOS 13.0, 13.1-beta] LocalVideoTrack content might be distorted after videoDeviceInUseByAnotherClient interruption"
### Description

Note : this only happens in iOS 13, it does not when running the same exact build in iOS 12

Local Video Track becomes distorted after being interrupted and then uninterrupted specifically with the reason videoDeviceInUseByAnotherClient

(Note: this will not occur from interruption by putting the app in background and then foreground)

[Description of the issue]

### Steps to Repr

[2019-09-05 20:32] ceaglest commented on #53
Hi @kselvin,

Thanks for the report! I'll try to reproduce the `videoDeviceInUseByAnotherClient` interruption case locally. I tried backgrounding interruptions on iOS 13.0-beta8 and didn't notice distortions in that case.

Are you using TVIVideoView as a TVIVideoRenderer? In the meantime, one possible solution would be to use TVICameraPreviewView to render your local camera feed instead. There is

[2019-09-05 21:11] kselvin commented on #53
I believe I am using the TVIVideoView as the TVIVideoRenderer

[code]

The distortion is actually being seen on both ends -- the remote user is seeing me distorted on his//her screen as well

Will using TVICameraPreviewView solve the issue in this case?

[2019-09-06 18:46] jvanakker commented on #8
More info: If I enable Twilio debug info, I can see this error in the log, which is probably related to the no-audio problem when the app is backgrounded:
AUIOClient_StartIO failed (561145187)

Some solutions to this general error, suggest enabling AVAudioSessionCategoryPlayAndRecord for the AudioSession. It does however not solve the problem in this case.

**Looking elsewhere, I found that this s

[2019-09-07 02:13] ceaglest commented on #31
Hi @seijik42,

We have now released [3.0.0-beta4](https://www.twilio.com/docs/video/changelog-twilio-video-ios-version-3x#300-beta4-september-6-2019) which has some connect performance improvements over earlier 3.0 betas. At this point the drop down for default media region is available in the console but behind a feature flag. If it's something you are interested in trying I could get you access

[2019-09-09 07:57] AnnieNinaJoyceV opened #54 "[Question] Feasibility to pause/resume video recording?"
I would like to know whether we have the feasibility to pause/resume video recording on iOS side. A practical example would be like, I invite 3 of my friends to join a call. We want to start recording the video only when all of us join in as well as ability to pause the recording in between and resume later. Is this possible to implement? Please guide.

### Versions
#### Video iOS SDK - 3.0.0-beta

[2019-09-09 20:44] kselvin commented on #53
An interesting finding

If I interrupt the camera another way (like backgrounding), the localVideoTrack renders properly on uninteruption and then it ALWAYS renders properly no matter how i interrupt it (including using the camera for something else, which is the source of the original problem)

[2019-09-10 19:22] ceaglest opened #55 "iOS 13 Migration Guide"
The guide explains how to prepare your Twilio Video apps for compatibility with iOS 13.

## Supported SDKs

We recommend that you use the latest patch releases of our SDKs. At this time, we have verified our [2.10.1](https://www.twilio.com/docs/video/changelog-twilio-video-ios-version-2x#2101-august-16-2019), and [3.0.0-beta4](https://www.twilio.com/docs/video/changelog-twilio-video-ios-version-3x

[2019-09-11 00:09] ceaglest commented on #55
This content has been added to an [official guide](https://github.com/twilio/twilio-video-ios/blob/Releases/iOS-13-Migration-Guide.md).

[2019-09-11 00:09] #55 closed, assigned to ceaglest

[2019-09-11 01:29] ceaglest commented on #54
Hi @AnnieNinaJoyceV,

Thanks for your question. We don't currently support starting and stopping recordings on demand in a Group Room. One way you could accomplish the same behavior today is by using two Rooms, one with recording and one without recording. When you want recording to be used you could signal your Participants to connect to the 2nd Room with recording enabled and leave the first. Th

[2019-09-11 05:31] AnnieNinaJoyceV commented on #54
Hi @ceaglest,

Thanks for your response and adding this to enhancement.
Yea, the suggested solution would be very trivial and would not work in our case.
I think it is best to wait for it possibly getting developed.

[2019-09-11 06:09] ceaglest commented on #53
Hello,

Thank you for the detailed information! I'll be sharing more on potential solutions as soon as I can.

Thanks,
Chris

[2019-09-11 14:52] kselvin commented on #53
Thank you!  Much appreciated

I have tried a lot of ideas (aside from purposely disconnecting and reconnecting which would really hurt the user experience given how many times it would happen throughout a session) -- but unfortunately no luck yet

I will let you know if if i find anything new

[2019-09-11 20:52] ceaglest commented on #53
Hi @kselvin,

I tried to reproduce this issue using an iPhone 7 Plus with the iOS 13.0 GM seed, Xcode 11.0 and Twilio Video 2.10.1. I used two approaches:

1. Interrupt TVICameraSource by creating and starting another TVICameraSource.
2. Interrupt TVICameraSource by creating and starting an AVCaptureSession with a video data output.

Here is the [modified Quickstart example](https://github.com/twi

[2019-09-11 20:59] ceaglest commented on #53
Hi,

One more thought, would it be possible to provide debug level logs from your app from before the interruption begins, to after the interruption ends and the video distortion has begun?

Best,
Chris

[2019-09-11 22:14] ceaglest commented on #53
Hey @kselvin,

No need for logs, I can reproduce the problem now and I have pushed another commit to the test branch. The piece of code that is important is how the VideoDataOutput in the interrupting session is configured:

[code]

I am investigating how to properly configure the `AVCaptureVideoDataOutput` used by `TVICameraCapturer` and `TVICameraSource` to handle this interruption scenario in i

[2019-09-12 01:06] lilhinx commented on #49
Hi, very interested in this. Are there any updates?

[2019-09-12 14:33] kselvin commented on #53
Awesome, thank you!  Taking a look at the test branch now

[2019-09-12 14:59] kselvin commented on #53
Sorry I didn't think to give this detail sooner but when it gets interrupted it is because i am switching to use this Camera Manager library [https://github.com/imaginary-cloud/CameraManager](url)

Which is actually using `AVCaptureMovieFileOutput`

I do not have the deepest understanding of Camera features but I don't see the type `AVCaptureVideoDataOutput` anywhere in the CameraManager.swift fil

[2019-09-12 15:26] ceaglest commented on #53
Hi @kselvin,

Thanks for the extra info about your setup.

Good to know. It seems like the issue is arising because of the preview buffer / full size buffer requirements of our VideoDataOutput and an interaction with other AVCaptureSessions that have different requirements. There are new VDO properties in iOS 13 that we haven't adopted yet, and setting them appropriately might resolve the problem.

[2019-09-13 03:10] ceaglest commented on #49
Hello,

Since the end goal is to support Catalyst, I see 3 major steps to getting there:

1. Migrate the Twilio Video CI pipeline to use Xcode 11.0 and the iOS 13.0 SDK.
2. Package and distribute the SDK as an XCFramework with currently supported iOS & simulator architectures.
3. Add a macOS / catalyst slice to the XCFramework.

I am currently working on the first step now that the Xcode 11 GM art

[2019-09-16 15:03] kselvin commented on #53
Thanks Chris!

Please let me know if there is anything else I can do/look into to help and please keep me posted!

[2019-09-18 01:18] ceaglest commented on #53
Hi @kselvin,

I am trying out a fix which resets the AVCaptureDevice's active format when the interruption ends. This seems to resolve the image distortion that occurs after specific combos of AVCaptureSessions interrupt each other in iOS 13.

You can expect a fix for this bug to be part of 2.10.2 and 3.0.0-beta5. I will post again once testing with internal stakeholders completes and these update

[2019-09-18 21:43] kselvin commented on #53
Amazing, thank you!!

[2019-09-27 14:36] kselvin commented on #53
Hi @ceaglest,

Any update on this?

Would love to update Twilio and submit new version of my app ASAP

Thanks!

[2019-09-27 19:51] ceaglest commented on #53
Hi @kselvin,

We have released a fix in [3.0.0-beta5](https://www.twilio.com/docs/video/changelog-twilio-video-ios-version-3x#300-beta5-september-25-2019), which you are welcome to try. I am also back porting the fix for release in 2.10.2, which we expect next week.

I apologize for the delay in getting a fix for 2.x, as I know you originally reported the problem with 2.9.

Best,
Chris

[2019-09-27 21:29] kselvin commented on #53
Awesome thank you!  Will check it out.

What are the reasons it's still considered a beta and not just 3.0?  Would it be smarter to wait until 2.10?

[2019-09-27 23:47] ceaglest commented on #53
Hello,

Thanks for asking. We are nearly ready to GA the 3.0 release, however we are making one more API change related to `TVICameraSource` in order to better support `UIWindowScene` on iOS 13. We will be releasing a 3.0.0-beta6 next week, and expect to promote that beta release to 3.0.0.

Have a good weekend,
Chris

[2019-09-30 13:48] kselvin commented on #53
Sounds great, thanks for the update

[2019-10-02 11:37] DanBlackwell opened #59 "Prioritise Frame Detail over Frame Rate for Camera Source"
### Description

I want to be able to prioritise having high quality images over a high frame rate when using a TVICameraSource. I can see that Twilio has the isScreencast flag for TVIVideoSource, and the description of the variable sounds like what I would like to achieve:

[code]

However as a get-only property, I can't figure out how to set this.

As an aside, inside the webRTC library, there i

[2019-10-02 15:14] kselvin commented on #53
I was able to get the 3.0.0beta working and it fixed the issue :), but we have decided for now it is still better for us to wait for the back port fix on 2.10.0

[2019-10-02 17:42] ceaglest commented on #53
Thanks for confirming the fix with the 3.0 beta! We are in the process of back porting it to 2.10.2.

[2019-10-10 16:02] ceaglest commented on #59
Hey @DanBlackwell,

Thanks for your feedback, and sorry for the slow response from our team.

That makes sense to me. There are a few ways that you could accomplish this today:

1. Reduce the capture frame rate from 30 fps to ~15-20 fps. This has a natural effect of reducing the amount of downscaling that occurs when the network is constrained.
2. (Hacky) Re-define -[TVICameraSource isScreencast]

[2019-10-14 14:53] kselvin commented on #53
Hey,

Any update on this?  Unfortunately enough of our users are starting to update to iOS 13 that some have noticed the issue.

[2019-10-15 18:49] kselvin commented on #53
Decided to migrate to 3.0.0 now that it's not in beta anymore anyway 😊

[2019-10-16 11:16] replytoashish008 opened #60 "if app enter background while connecting to room. it get didDisconnectWithError."
[Personally Identifiable Information(PII)](https://www.twilio.com/docs/glossary/what-is-personally-identifiable-information-pii)
or sensitive account information (API keys, credentials, etc.) when reporting an issue.

### Description

while connecting to the room, if the user moves to the background. Twilio get didDisconnectWithError. or unable to join a room.

[Description of the issue]

### Step

[2019-10-17 17:42] paynerc commented on #60
@replytoashish008 ,

I am wondering where the code is at the point that you are entering the background? My initial thought is that this is happening before `beginBackgroundTask` is called, but I am not sure if that is the case or not.

I am wondering if you were to create the background task right at the beginning while you were creating your options, if that would fair better.

It may also be he

[2019-10-18 08:46] replytoashish008 commented on #60
@paynerc

here is the full log:-

2019-10-18 14:11:24.863606+0530 HomeApp[1460:1446355] WARN:TwilioVideo:[Platform]:Current sample rate (44100.00) is not the preferred rate (48000.00)
2019-10-18 14:11:24.912612+0530 HomeApp[1460:1446355] INFO:TwilioVideo:[Core]:Adding audio track ...
2019-10-18 14:11:24.917828+0530 HomeApp[1460:1446355] INFO:TwilioVideo:[Core]:Creating a video track ...
"Video tra

[2019-10-18 20:50] paynerc commented on #60
@replytoashish008,

I just noticed while looking at the logs that you are using `2.10.1`. In `2.x`, unless you are already connected to the room and audio is flowing, the signaling connection is closed as soon as you enter the background since we had an issue when the OS would background the application and the signaling connection was open but no media was flowing.

This behavior has changed with

[2019-10-29 17:23] paynerc commented on #53
This fix for this issue has been back ported to `2.10.2` which was released today.

Please don't hesitate to reach out if you have any further issues!

Thank you,

Ryan

[2019-10-29 17:23] #53 closed, assigned to ceaglest

[2019-11-03 21:46] cyrilzakka commented on #49
Wanted to voice my support for this as well! How's everything coming along?

[2019-11-06 05:16] perlasivakrishna opened #62 "Crash on EXC_BAD_ACCESS KERN_INVALID_ADDRESS"
I'm using TwilioVideo 2.10.2, Crash is happened in production Build. After pod update no crashes happened. here is the crash logs.
[crashlog copy.txt](https://github.com/twilio/twilio-video-ios/files/3812613/crashlog.copy.txt)

[2019-11-08 10:06] tomosaaan opened #63 "RoomDelegate cannot invoked when set delegate after connecting room"
### Description

Hi. I migrated sdk version `2.10.0` to `3.0.1`.
Then, I cannot invoked RoomDelegate methods suddenly.
I know that the way isn't recommended.

But why can't I set delegate in version `3.0.1` ?

[code]

### Steps to Reproduce

1. connect without delegate object
2. break point check on `RoomDelegate`  methods.

#### Code

[code]

#### Expected Behavior

#### Actual Behavior

#### Rep

[2019-11-08 12:35] yaalisri opened #64 "Media connection failed or Media activity ceased"
### Description

I am getting the below issue sometimes on using programmable video with ARKit

### Steps to Reproduce

1. Connect to a room in one device. First device shares video screen with ARKit
2. Connect to the same room in second device. No AR view here. Normal video.
3. Second device is black and doesn't load the remote view of 1st device

#### Code

[code]

#### Expected Behavior

Screen

[2019-11-08 16:38] paynerc commented on #62
@perlasivakrishna,

Can you provide some context surrounding the crash? Also, it doesn't appear that this crash is happening with the `2.10.2` version of TwilioVideo.

Looking at the crash report, I notice the `Beta Identifier:` entry. This tells me that the report was generated from a user via TestFlight. I am assuming that when you are building and distributing to TestFlight, you are recompiling

[2019-11-08 16:54] paynerc commented on #63
Hey @tomokitakahashi,

I just altered the Video QuickStart code to set the delegate after calling `.connect()` and placed breakpoints into the various delegate methods and they are being invoked.

[code]

I am wondering here what is the lifecycle of `self` in this code?  The `delegate` property on `TVIRoom` is weak, therefore if `self` is released, the Room's delegate will then be `nil`.

What I d

[2019-11-08 16:56] paynerc commented on #60
@replytoashish008,

I was just checking in to see if upgrading to `3.0.0` solved your issue and we can close out this issue?

Thanks!

Ryan

[2019-11-13 20:58] mcorner opened #65 "Rotation/Orientation Bug when calling iOS -> JS"
### Description

Full description is here:
https://github.com/twilio/twilio-video.js/issues/803

But basically if you rotate the iOS device the video rotates correctly on the JS side, but doesn't rotate back correctly if you rotate the iOS device back to portrait.

Reporting this here to see if there is a workaround on the iOS side?  Or something we are missing?

### Steps to Reproduce

This is ea

[2019-11-13 21:08] ceaglest commented on #65
Hi @mcorner,

I responded to the JS issue. As for an iOS workaround, our upcoming 3.1.0 release will give you the ability to remove rotation tags on the sender side. It might help fix the Chrome/JS rendering issue because the physical dimensions will be changing each time the device is rotated.

Best,
Chris

[2019-11-16 01:23] mcorner commented on #65
Thanks for the response.

Yes, that might be one way.  But wouldn't it be ambiguous between the two landscape rotations and the two portraits?  But I look forward to seeing some sample code.

For now we are using a manual rotation button with a css transform (the JS page is internal so we can get away with it).  That Chrome issue doesn't seem to have much activity so the likelihood of a fix there

[2019-11-20 04:28] binhpct-arch opened #66 "iOS 13 not receive incoming call when app in background"
[Personally Identifiable Information(PII)](https://www.twilio.com/docs/glossary/what-is-personally-identifiable-information-pii)
or sensitive account information (API keys, credentials, etc.) when reporting an issue.

### Description

[Description of the issue]

### Steps to Reproduce

1. [Step one]
2. [Step two]
3. [Insert as many steps as needed]

#### Code

[code]

#### Expected Behavior

[What

[2019-11-25 08:21] replytoashish008 commented on #60
@paynerc Upgrading to 3.0.0 is not resolving my issue. it is still there.

[2019-11-25 14:11] paynerc commented on #60
@replytoashish008,

Can you send another debug log now that you are running 3.x?

Thank you,

Ryan

[2019-11-25 14:13] paynerc commented on #66
@binhpct-arch,

Can you provide more information about what SDK you are using, how you are triggering incoming calls for Video, etc?

Thank you,

Ryan

[2019-11-25 14:16] paynerc commented on #64
@yaalisri,

Sorry for the late response. Are you still experiencing this issue? I see you are using `3.0.0-beta4`. `3.0.1` was released on November 5. Can you try with the most recent version f the SDK and let me know if you are still seeing this issue?

Ryan

[2019-11-27 09:13] salmojunior opened #67 "SDK version with bitcode disabled"
### Description

Due to some other third party dependence which broke bitcode compatibility we had to disable it for now in our project but TwilioVideo sdk is the only Vendor sdk we use in which we cannot change bitcode property during build time. Is it possible to provide one version with bitcode disabled?

Thank you!

#### Video iOS SDK

3.0.1 via CocoaPods

#### Xcode

11.1

#### iOS Device

Al

[2019-11-27 12:23] perlasivakrishna opened #68 "Recording Audio when twilio video is On"
I have an audio recording feature in my app.  I'm recoding audio during some process using AVAudioRecorder, Once Video call comes recording is muted until video call ends after that it continues as normally.

When i get normal phone call and face time call i can't record due to privacy,
I want to know is it possible to record when doing twilio call or it is kind of same restriction.

Thank you.

[2019-11-27 15:36] #67 closed, assigned to nobody

[2019-11-27 16:50] ceaglest commented on #67
Hi,

I think you already discovered this, but you can always strip the bitcode segments from Twilio Video if you don't want them.

Have a good day,
Chris

[2019-11-27 21:20] ceaglest commented on #68
Hi @perlasivakrishna,

Twilio Video operates a VPIO Audio Unit configured for playback, recording, and echo cancellation. This is probably interfering with AVAudioRecorder. We have [an example](https://github.com/twilio/video-quickstart-ios/tree/master/AudioSinkExample) that uses TVIAudioSink to record with AVAssetWriter, which could be an alternative for audio recording.

Best,
Chris

[2019-11-28 10:52] yaalisri commented on #27
I don't want to share the entire device screen but only the current view to other users connected to the same room. I am using Twilio Programmable Video now in my app. How to achieve this? I don
't want to integrate another ReplayKit for this.

[2019-11-28 10:53] yaalisri opened #69 "How to share current view screen to other users through Programmable video?"
I don't want to share the entire device screen but only the current view to other users connected to the same room. I am using Twilio Programmable Video now in my app. How to achieve this? I don't want to integrate another ReplayKit for this.

[2019-11-28 10:56] yaalisri commented on #27
Hello,
Is it possible to share the current screen(UIView) with other users through Twilio programmable video?

[2019-12-05 07:05] replytoashish008 commented on #60
@paynerc after a move to Twilio3x

2019-12-05 12:25:45.349937+0530 HomeApp[1137:80536] DEBUG:TwilioVideo:[Platform]:Did move to window with size: {375, 667}.
Metal content scale factor is now: 2.000
2019-12-05 12:25:45.350200+0530 HomeApp[1137:80536] DEBUG:TwilioVideo:[Platform]:Did move to window with size: {375, 667}.
Metal content scale factor is now: 2.000
2019-12-05 12:25:45.979605+0530 HomeA

[2019-12-17 21:27] ceaglest commented on #49
Hi,

With the 3.0 SDK generally available, and built with Xcode 11 we have completed step 1. We have also resolved the majority of integration issues with iOS 13 and iPadOS 13.

There is interest in XCFramework packaging for a number of our SDKs (including voice). Getting this done would bring us a step closer to Catalyst support. Unfortunately, I don't have a timeline to share yet on when we will

[2019-12-18 09:19] cyrilzakka commented on #49
Thank you so much for your work and for continuing to provide us with updates!

[2019-12-30 13:15] aksthelion opened #71 "Crashed: IncomingVideoStream EXC_BAD_ACCESS KERN_INVALID_ADDRESS"
Twilio video 2.6
Random crash, can't reproduce, don't have any more log

Crashed: IncomingVideoStream EXC_BAD_ACCESS KERN_INVALID_ADDRESS 0x000094981dbe1ea0

Crashed: IncomingVideoStream
0 TwilioVideo 0x101178414 hidden#23214 + 944896
1 TwilioVideo 0x10117839c hidden#23214 + 944776
2 TwilioVideo 0x1011b9744 hidden#25871 + 1211952
3 TwilioVideo 0x100edf5ac hidden#5835 + 308084
4 TwilioVideo 0x100ec

[2020-01-03 22:03] tszymala opened #72 "error: imported declaration 'TVICameraSourceOptionsBuilderBlock' could not be mapped to 'CameraSourceOptionsBuilder.Block'"
### Description

The following error gets thrown when integrating TwilioVideo using Carthage or CocoaPods and BUCK.

`<unknown>:0: error: imported declaration 'TVICameraSourceOptionsBuilderBlock' could not be mapped to 'CameraSourceOptionsBuilder.Block'`

This could be a similar [issue](https://github.com/facebook/facebook-ios-sdk/issues/1096#issue-519243281)
#### Expected Behavior

Not get the er

[2020-01-06 18:47] paynerc commented on #71
@aksthelion,

Do you happen to have the entire crash report for this? It would be helpful to be able to attempt to symbolicate the report to know exactly where it is crashing. Without further information there is not much I can do with this information presently.

Ryan

[2020-01-06 19:13] ceaglest commented on #71
Seconding Ryan's request for more info. It's possible the crash you are experiencing was fixed in [3.0.1](https://www.twilio.com/docs/video/changelog-twilio-video-ios-version-3x#301-november-5-2019), but its tough to tell with only the one thread.

[2020-01-06 19:29] aksthelion commented on #71
I'll try with latest release.

I'm unable to provide detailed log as it is random error in live app and the log is already symbolicate as it is Crashlytics log.

[2020-01-06 19:35] paynerc commented on #71
@aksthelion,

OK. Try out the latest release and if the crash still occurs, please let us know. I am going to close this issue as there is nothing actionable that we can do at this point.

Thank you,

Ryan

[2020-01-06 19:35] #71 closed, assigned to paynerc

[2020-01-06 20:01] aksthelion commented on #71
I can't update to 3.0.1 as it doesn't support iOS 10.3. So I'm stuck.

[2020-01-14 00:16] piyushtank commented on #72
Hi @tszymala,

Since the problem is not reproducible with Xcode build using CocoaPods or manual installation, I suspect it is a problem with BUCK. I do not have BUCK setup installed but an easy test would be to eliminate TwilioVideo from the equation by reproducing the problem using `NS_SWIFT_NAME`  for a function in an objective C header file and use it in your Swift project and use buck to see i

[2020-01-14 14:33] tszymala commented on #72
Hi Piyush,

Thanks for the suggestion i will try it shortly.

Also it turns out that everything works when i downgraded to using XCode 10.3. It seems that this only affects XCode 11.x.

-Tom

[2020-01-15 15:13] tszymala commented on #72
I cannot reproduce this error using an Objc file as you described. It work on XCode 11.3.

Odd that for some reason its just that namespaced block that its not happy with in the TwilioVideo SDK

[2020-01-15 16:08] AdiAyyakad commented on #72
I've run into this quite a few times - we use Cocoapods to install TwilioVideo. ~Sometimes just cleaning the build folder seems to fix it~ Hmm I seem to have jinxed myself - it doesn't seem to go away now

[2020-01-15 16:18] AdiAyyakad commented on #72
I'm using:
Xcode 11.3
TwilioVideo 3.1.0
Cocoapods 1.7.5

[2020-01-15 16:20] AdiAyyakad commented on #72
Looks like this is a problem specifically with TwilioVideo 3.1.0. I just downgraded to v3.0.1 and it works @piyushtank

[2020-01-15 21:38] piyushtank commented on #72
Thanks @tszymala  @AdiAyyakad.

I pulled latest quickstart, used TwilioVideo 3.1.0 with cocoa pods version 1.7.5, tried running on Xcode 11.3.1, it worked as expected. I am trying to find a way to reproduce the problem in our lab so that we can fix it.

@AdiAyyakad The method signature or the NS_SWIFT_NAME for `CameraSourceOptionsBuilder` hasn't changed between v3.0.1 and v3.1.0.

[2020-01-15 23:07] AdiAyyakad commented on #72
~Weird now it works again. I have no idea why or what changed~ 🤷‍♂ Now it's failing our CI. I will revert to 3.0.1 anyways

[2020-01-16 01:58] tszymala commented on #72
@AdiAyyakad I have not tried with 3.0.1 but will give it a shot.

@piyushtank I'm experiencing the problem when using BUCK. The fastest way to reproduce it is to clone the AirBnB Buck Sample [project](https://github.com/airbnb/BuckSample).
- Run`make install_buck`
- Add TwilioVideo SDK to the `podfile`
- Add the following to `Pods/BUCK`
[code]
- add the following to `Libraries/ASwiftModule/BUCK`
[

[2020-01-28 13:59] Davtyanag opened #73 "Crash EXC_BAD_ACCESS when participant joins"
### Description

Twilio causes an app crash randomly.

### Steps to Reproduce

Tester told me that happens when participant joins to call.

#### Reproduces How Often

This issue is very rare.

#### Logs

Attached.
[bugsnag_error_stacktrace_EXC_BAD_ACCESS_event_5e3030310055f78c3c3a0000.txt](https://github.com/twilio/twilio-video-ios/files/4122720/bugsnag_error_stacktrace_EXC_BAD_ACCESS_event_5e3030

[2020-01-28 21:25] paynerc commented on #73
@Davtyanag ,

Do you happen to have access to any of the log files surrounding this issue when it occurred?

Thank you,

Ryan

[2020-01-29 16:17] azizimarouan opened #74 "No audio when answer from background in iOS13"

[2020-01-29 20:49] Hamoonist commented on #49
I'm here to express my support and thank you for working on it!  <3

[2020-01-29 21:43] ceaglest commented on #74
Hey @azizimarouan,

Could give us more information on how you are reproducing the no audio scenario? The [issue template](https://github.com/twilio/twilio-video-ios/blob/Releases/.github/ISSUE_TEMPLATE.md) gives a summary of what we usually ask for.

In this case it would help to know which version of iOS 13 is being used, on what device and how your app calls the Video APIs. Can the issue be repr

[2020-01-30 09:10] zabolotiny opened #75 "Silently dropped iOS 10.0 target support in v3.0"
Dear Twilio team, your documentation says that iOS10 is supported with v3.1 but actual min deployment target is 11 starting from 3.0 beta5.
Are you doing to drop support of iOS10?
Is is possible to have a build of 3.1 with support of iOS10?

[2020-01-30 15:56] Davtyanag commented on #73
@paynerc Hi Ryan, unfortunately I don't, but If happens while debugging I will share.
Thank you!

[2020-01-30 16:00] paynerc commented on #73
OK. If you do happen to receive this again and have logs, please reopen this issue. I am going to close it for the time being as I don't have enough information to go on to attempt to resolve the crash.

Thank you,

Ryan

[2020-01-30 16:00] #73 closed, assigned to nobody

[2020-01-30 18:19] varun-gadre commented on #8
Did anyone manage to solve this?

[2020-01-30 18:29] varun-gadre commented on #74
Do this, it worked on my application when we made the call without the UICallKit.

https://developer.apple.com/documentation/avfoundation/media_assets_playback_and_editing/creating_a_basic_video_player_ios_and_tvos/enabling_background_audio

[2020-01-30 18:50] ceaglest commented on #75
Hi @sheff1422,

Thanks for the feedback, we are always looking for opportunities to improve our documentation. In this case I think the 3.0.0 changelog could be clearer about changes to iOS support.

Yes, we dropped support for iOS 10 in [3.0.0-beta6](https://www.twilio.com/docs/video/changelog-twilio-video-ios-version-3x#300-beta6-september-30-2019). The platform overview docs have [a table](http

[2020-01-30 21:06] ceaglest commented on #74
@varun-kernellabs Yes, you will need the background audio entitlement in order for audio to work with Twilio Video while your app is backgrounded. Our example apps all ask for this entitlement.

@azizimarouan can you tell us more about your app setup?

[2020-01-30 21:09] ceaglest commented on #75
Hi @sheff1422,

As a follow on question, is there somewhere in the docs where we claimed that 3.1.0 supports iOS 10? If so, please let us know and we will update it.

Best,
Chris

[2020-01-31 09:20] azizimarouan commented on #74
Hi @ceaglest and @varun-kernellabs ,

Thank you for your answers but enabling audio in Background Modes does not solve the problem.
I am using CallKit to report new incoming calls after a voip push notification, when the screen is unlocked and the app is in foreground , everything is ok, but when the screen is locked, no sound at all, and also when it is unlocked but the app is in background or cl

[2020-02-03 22:18] ceaglest commented on #72
Hi @tszymala and @AdiAyyakad,

Thank you for your feedback on this issue and help in reproducing the problem with 3.1.0.

Unfortunately we can't commit to officially supporting Buck at this time. If there is another way to reproduce the error with a vanilla CocoaPods, Carthage or manual integration then we would be happy to take another look.

Best,
Chris

[2020-02-04 16:10] AdiAyyakad commented on #72
I am using vanilla Cocoapods, not Buck. This issue happens on fresh installs, new projects, etc. It's fairly consistent for me, but every once in a while things start building. I'm assuming it's some Xcode bug that's being expressed via this but I have no idea how

[2020-02-04 16:40] ceaglest commented on #72
Thanks for mentioning that @AdiAyyakad. If the issue occurs with vanilla CocoaPods we can try to reproduce with the CocoaPods and Xcode versions that you provided.

[2020-02-04 22:58] LyndseyScott commented on #72
@ceaglest Receiving the same warning (not an error for me) with CocoaPods 1.8.4, TwilioVideo 3.1.0, Xcode Version 11.3.1:

`<unknown>:0: warning: imported declaration 'TVICameraSourceOptionsBuilderBlock' could not be mapped to 'CameraSourceOptionsBuilder.Block'`

[2020-02-04 23:19] ceaglest commented on #72
Thanks for the report @LyndseyScott.

While we investigate, I just want to note that there is a similar issue with Xcode 11 mentioned on the [Apple developer forums](https://forums.developer.apple.com/message/363559).

[2020-02-05 14:27] paynerc commented on #66
@binhpct-arch,

It's been a while since this ticket was open and I requested more information. I am going to close this ticket. If you are still having issues, please feel free to reopen it and provide further information.

Thank you,

Ryan

[2020-02-05 14:27] #66 closed, assigned to paynerc

[2020-02-05 14:28] paynerc commented on #63
@tomokitakahashi,

It's been a while since this ticket was open and I requested more information. I am going to assume that you have worked out the issue. If you are still having issues, please feel free to reopen this issue and provide further information.

Thank you,

Ryan

[2020-02-05 14:28] #63 closed, assigned to paynerc

[2020-02-05 14:30] paynerc commented on #62
@perlasivakrishna,

It's been awhile since I requested further information. I am going to close this issue, but please feel free to reopen it if you are still experiencing this crash and are able to provide further information.

Thank you,

Ryan

[2020-02-05 14:30] #62 closed, assigned to paynerc

[2020-02-05 14:33] paynerc commented on #46
@claudiul,

It's been awhile since we last spoke. Have you arrived at a solution as suggested above? I am going to close this issue, but please feel free to reopen it if you still have questions.

Thank you,

Ryan

[2020-02-05 14:33] #46 closed, assigned to paynerc

[2020-02-05 14:34] paynerc commented on #41
@arshadsk5,

Was @ceaglest's suggestion regarding the MultiPartyExample app useful for answering your question? I am going to close this issue out but please feel free to reopen it if you have further questions.

Thank you,

Ryan

[2020-02-05 14:34] #41 closed, assigned to paynerc

[2020-02-05 14:37] paynerc commented on #31
@seijik42,

`3.0` has been GA for some time and as we discussed prior should help you out with this issue. I am going to close this issue but if you are still having issues or questions, please feel free to reopen it.

Thank you,

Ryan

[2020-02-05 14:37] #31 closed, assigned to paynerc

[2020-02-06 08:43] claudiul commented on #46
Solved as you recommended, when entering a room I request a new token that is only used if the user shares his screen.

[2020-02-06 10:24] jeffryadityatama opened #77 "Sound Output Become Mono During Video Call"
### Description

Hi twilio team, I'm developing feature that needs to play a local audio file while also doing the video call. The audio file is in stereo format and it works as expected in the Android. But in iOS the sound of audio file become mono when the video call session is ongoing.

I wonder if there is any configuration that I need to change?

[2020-02-07 18:26] ceaglest commented on #77
Hey @jeffryadityatama,

Yes, I think there is. By default the AVAudioSession is configured for mono to match the requirements of the VoiceProcessingIO audio unit that Twilio Video uses to play and record audio.

Could you reconfigure the AVAudioSession to prefer stereo output? We have a guide about providing a handler block to reconfigure AVAudioSession when using TVIDefaultAudioDevice:

https://w

[2020-02-14 03:29] jeffryadityatama commented on #77
Hi @ceaglest thanks for your help, will let you know soon about the result.

[2020-02-15 11:19] raylillywhite commented on #72
~Is there a workaround for this issue? Do we just downgrade to 3.0.1?~ (edit: Downgrading to 3.0.1 got it working for me)

[2020-02-17 14:24] AdiAyyakad commented on #72
That's what I had to do 🤷‍♂

[2020-02-18 03:13] jeffryadityatama commented on #77
Hi @ceaglest, I've been trying to alter the `AVAudioSession` when connect to the room. But it still doesn't work. The sound is still played in mono with lowered volume, it's like it treated as lower priority by the iOS
[code]
But if,I use category `AVAudioSessionCategoryPlayback`. It back to stereo again, but then Twilio voice couldn't be heard, which is not we want.

To make it clear how our syst

[2020-02-18 20:02] ceaglest commented on #72
My apologies, but I'm not aware of any workaround at the moment.

[2020-02-19 14:47] sergeymild opened #78 "RemoteParticipant set volume value"
Hello, i am trying your ios sdk and ran into a problem. Is it possible to somehow set unique volume value for each RemoteParticipant in room?

[2020-02-20 08:17] iosdmd opened #80 "Video stream freezes after user enter background"
### Description

Once user enter background and back to app while video connection established between 2 users - it freezes.

### Important!

Issue reproduces not every time, 2-3 times out of 10 attempts

### Steps to Reproduce

1. Connect the room with 2 users, start streaming video
2. User1 enters background
3. User1 return to the application
4. Local video track stop streaming, preview view sho

[2020-02-20 09:29] iosdmd commented on #80
@ceaglest can you take a look at this?

[2020-02-20 18:56] paynerc commented on #72
Is this issue still occurring with `3.2.1` or `3.2.0`? I am working on reproducing and solving this issue.

[2020-02-20 19:40] paynerc commented on #72
I have figured out the issue and will be working on getting `3.2.2` out as soon as practicable which resolves this issue.

Sincere apologies for the time it took to get the issue reproduced and solved. I have added an automated testing scenario which will catch any future issues with `NS_SWIFT_NAME` mappings before a release is shipped.

[2020-02-20 20:57] paynerc commented on #78
@sergeymild,

Unfortunately we don't currently have an API to allow the volume level to be adjusted per `RemoteParticipant`. You do have the ability to [disable playback](https://twilio.github.io/twilio-video-ios/docs/latest_3.x/Classes/TVIRemoteAudioTrack.html#//api/name/playbackEnabled) of `RemoteAudioTracks`, but not set varying levels.

Let me know if you have any further questions

[2020-02-20 21:08] paynerc commented on #80
@iosdmd,

What you are describing above sounds very similar to the issue reported in the Quickstart repo, [#455](https://github.com/twilio/video-quickstart-ios/issues/445). Please take a look and see if that will solve the issue you are seeing.

If it doesn't, the next thing I would ask is to see some debug level logs for the both participants when this issue occurs so we can try and track it down

[2020-02-20 21:20] paynerc commented on #69
@yaalisri,

Unfortunately since the release of iOS 12 the only performant way to share screens from the iOS device, be it the current view or the entire device, is by using `ReplayKit.framework`. Our [`ReplayKitExample`](https://github.com/twilio/video-quickstart-ios/tree/master/ReplayKitExample) application shows both an in-app and ReplayKit broadcast extension way to accomplish this.

The [`Scre

[2020-02-20 21:22] paynerc commented on #64
@yaalisri,

It's been a while since I suggested trying a newer version of the SDK to see if you were still experiencing the issue.

I am going to close this issue at this time, but feel free to reopen it if you have new information.

Thank you,

Ryan

[2020-02-20 21:22] #64 closed, assigned to nobody

[2020-02-20 21:23] #75 closed, assigned to ceaglest

[2020-02-20 21:29] paynerc commented on #72
This issue got automatically closed when I merged the PR that referenced this issue. 🙄

I will leave this issue open until `3.2.2` is released.

[2020-02-21 17:30] paynerc commented on #72
`3.2.2` has been released, which addresses this issue.

[2020-02-21 17:30] #72 closed, assigned to piyushtank

[2020-03-13 06:00] JacopoDaeli opened #81 "camera.startCapture() crashes on iOS 13.3.1"
### Description

Getting the following error when when my application code calls `camera!.startCapture(device: frontCamera!)`:

![image](https://user-images.githubusercontent.com/6058569/76593802-a787f580-64cd-11ea-97b8-1a21063998ad.png)

#### Code

[code]

#### Expected Behavior

Open a video stream and render it in the preview view.

#### Actual Behavior

It crashes

#### Reproduces How Often

1

[2020-03-13 06:12] JacopoDaeli commented on #81
I am trying to adapt stuff from the examples for using the SDK with SwiftUI, so I may do things wrong from the beginning here. Just testing things.

[2020-03-13 19:29] ceaglest commented on #81
Hi @JacopoDaeli,

Thanks for reaching out! We don't have a SwiftUI example, so I will do my best to help.

In the code snippet above, you need to strongly reference the LocalVideoTrack that was created. At the moment, when `startFlow()` returns, `let localVideoTrack` goes out of scope and is destroyed. Its not expected usage of our APIs, so it appears that a crash is occurring as a result.

Best,

[2020-03-13 20:05] JacopoDaeli commented on #81
Hey @ceaglest that makes sense!
It worked. Thanks a lot.

[2020-03-13 20:05] #81 closed, assigned to ceaglest

[2020-03-13 20:06] JacopoDaeli commented on #81
@ceaglest by the way it would be nice to create a well-done SwiftUI example :)

[2020-03-13 20:54] ceaglest commented on #81
You are welcome. We are tracking adding a SwiftUI example using the Video SDK, but I don't have an update to share at this time.

[2020-03-20 23:46] kjoe07 opened #82 "no audio or video is transmitted after connected to the room"
[Personally Identifiable Information(PII)](https://www.twilio.com/docs/glossary/what-is-personally-identifiable-information-pii)
or sensitive account information (API keys, credentials, etc.) when reporting an issue.

### Description

after conected two apps no audio or video is shared, after update to adopt lates sdk.

### Steps to Reproduce

1. connect one app
2. connect the other app.
#### Code

[2020-03-21 17:44] koystinen commented on #49
Hoping the work on catalyst support is moving along and we can get an update soon, as we really really need this 😅

[2020-03-24 18:58] lilhinx commented on #49
I think about this every day :)

[2020-03-25 13:40] ankitappstreet opened #83 "App crashing on Specific Device only"
I am getting a crash every time on only one device with the given description and Crash Reports: >

### Description
The crash is only happening on 1 device and its working fine on others and thats a device for a user and i am unable to debug on the given device. But from crashlytics i could see that crash is happening somewhere inside the Twilio Video SDK.

1. [On viewDidLoad i am initilizingLocal

[2020-03-25 15:26] paynerc commented on #83
@ankitappstreet,

After reviewing this crash report, it has a signature that is very similar to a crash that I am currently troubleshooting. I will keep you posted.

One question, when/where are you calling `initilizeLocalTracks()`?

Thank you,

Ryan

[2020-03-25 18:01] paynerc commented on #83
@ankitappstreet,

Also another question. I see that you are calling `startCapture` on the `CameraSource`. Are you ever calling `stopCapture` after you are finished with a call?

Ryan

[2020-03-28 16:51] umarniz commented on #77
Hey @ceaglest would you have any recommendations on how to overcome this issue?

If I set the category to be `AVAudioSessionCategoryMultiRoute` then the correct stereo sound is played. I am not entirely sure why this is the case as the output device,  channels and the sample rate are exactly the same between `AVAudioSessionCategoryPlayAndRecord` and `AVAudioSessionCategoryMultiRoute`.

We are cons

[2020-04-01 14:44] ArifADS commented on #49
I'm more in need for Twilio Chat Client, but i'm here to express my support too :)

[2020-04-01 15:56] ghost opened #84 "Support as Swift Package Dependancy"
### Description

At the moment the video sdk is not a Swift Package

### Versions

All relevant version information for the issue.

#### Video iOS SDK

Twilio Video SDK iOS 3.2.2

#### Xcode

Version 11.4

[2020-04-01 18:03] paynerc commented on #84
@henrydennis-sonin,

At the present time, the Swift Package Manager doesn't support Binary Distributions as documented [here](https://forums.swift.org/t/distributing-binary-closed-source-libraries/23737/3).

If they implement support for Binary Distributions in the future, we could investigate distributing the Twilio SDKs in that fashion.

Thank you,

Ryan

[2020-04-02 06:53] piyushtank commented on #8
This problem hasn't been fixed yet - https://github.com/twilio/voice-quickstart-ios/issues/299

[2020-04-02 12:52] manisha-PBH opened #85 "Audio not working"
Uable to receive the audio when video call gets connect. In our app we are using audio call first and when user gets connect through VOIP we disconnect the audio call and then the video call. Most of the time audio does not comes up.

[2020-04-02 18:40] piyushtank commented on #85
@ManishaAstaPartners In order to debug the problem can you provide following information?

- How was the first first audio call established? was it a PSTN call or an audio call using our SDK? Are you using CallKit in your app?

- Can you fill the git hub issue template?

[Personally Identifiable Information(PII)](https://www.twilio.com/docs/glossary/what-is-personally-identifiable-information-pii)

[2020-04-02 18:44] piyushtank commented on #83
@ankitappstreet

We have just released TwilioVoideo SDK 3.2.3 [[changelogs](https://www.twilio.com/docs/video/changelog-twilio-video-ios-version-3x#323-april-1-2020)], which fixes the crash in TVICameraSource teardown code path.

Try it out and let us know if you still running into the crash.

Best,
Piyush

[2020-04-02 18:45] cjcomputers opened #86 "Remote Audio Overall Volume Control"
Does have any ideas on how to get remote participant volume control working? My app is an enterprise distributed app that runs on a kiosk so that the hardware buttons on the iPad are not accessible to the end user. As such, a volume slider on screen is really my only option. To note, our use case only ever involves one remote participant so we only ever have to deal with one remote audio track. Un

[2020-04-02 18:47] piyushtank commented on #82
Closing the issue as it is tracked [here](https://github.com/twilio/twilio-video-ios/issues/82). Feel free to reopen if you think otherwise.

[2020-04-02 18:47] #82 closed, assigned to nobody

[2020-04-02 19:04] piyushtank commented on #86
@cjcomputers I haven't tried myself changing volume level of the remote participants using MPVolumeView but it doesn't work for category video or voice chat, an alternative is to get complete control over the AudioDevice. At present, our DefaultAudioDevice API doesn't allow changing audio output level. But you can write your own custom audio device based on your need.

Here is a sample app which d

[2020-04-02 19:06] manisha-PBH commented on #85
Hi Piyush, Thanks for your reply
We have used twilio voice kit to start the call and then call kit yes but
since we wanna add video call to so what we have done is initiated the
voice call and as soon as the call gets connect we disconnet the audio call
and join the video call. So sometimes we do not get the audio. If possible
let me know your availability we can discuss it over call too.

On Fri,

[2020-04-02 19:26] piyushtank commented on #85
@ManishaAstaPartners Can you send call sid from the VoIP Call?

Also I noticed you have opened ticket on `video-quickstart-ios` repo https://github.com/twilio/video-quickstart-ios/issues/469. Let use this ticket to address the issue you are running into. I will close the other but feel free to reopen if think otherwise.

[2020-04-02 19:37] ManishaAstaPartners commented on #85
Sure , you can close that ticket.
SID for my voice call project is
AC8fe0fca576fa1d39102e7e28e16d1937It would be great if we can connect over
a call and you can help me out.
On Fri, 3 Apr 2020 at 12:57 AM, Piyush Tank <notifications@github.com>
wrote:

[2020-04-02 19:56] piyushtank commented on #85
What you provided is account sid. Can you provide CallSid? You can get it by `call.sid` of a VoIP call.

[2020-04-02 21:18] cjcomputers commented on #86
Thanks @piyushtank! I think we're on the right track. When using the ExampleCoreAudioDevice, the MPVolumeView works out of box to adjust the remote audio track! BUT... As noted in the example, "ExampleCoreAudioDevice is a playback only device. Because of this, any attempts to create a LocalAudioTrack will result in an exception being thrown. In this example we will only share video (where availabl

[2020-04-02 23:07] piyushtank commented on #86
@cjcomputers The `ExampleCoreAudioDevice` demonstrates the playback used case only, and `ExampleAVAudioEngineDevice` demonstrates record+playback both with AVAudioEngine mixing file audio feature. Since `ExampleAVAudioEngineDevice ` uses `video chat` category,  so you should hit the same problem as DefaultAudioDevice upon use of MPVolumeView. For voip calls, `video chat` category is must for echo

[2020-04-03 15:14] cjcomputers commented on #86
@piyushtank Unfortunately, using AudioUnitSetParameter may be a no-go. Every time I try to set or even  just read any Volume related parameters or properties (such as kMatrixMixerParam_Volume or kMultiChannelMixerParam_Volume, etc.), I keep getting back either kAudioUnitErr_InvalidParameter or kAudioUnitErr_InvalidProperty.

Looping back to the ExampleCoreAudioDevice, our solution actually uses a

[2020-04-03 21:21] piyushtank commented on #86
@cjcomputers If your app does not require echo-cancellation, and RemoteIO gives you the intended behavior, as a workaround, in ExampleAVAudioEngineDevice, you can change [this line](https://github.com/twilio/video-quickstart-ios/blob/b74e1c1c4f49ae23f326bd3e53ec750f126d5b2d/AudioDeviceExample/AudioDevices/ExampleAVAudioEngineDevice.m#L750) to
[code]

Let me know if you have any questions.

[2020-04-03 21:25] zintus opened #87 "CPU / Network usage with VP8 in simulcast mode"
Disabled tracks consume system resources

### Steps to reproduce
1) Setup latest quickstart example from https://github.com/twilio/video-quickstart-ios
2) Modify mute button to disable local video track.
[code]
3) Run app, choose VP8 simulcast codec, connect to a room
4) Wait for network usage / CPU to stabilize
5) Disable audio / video tracks with mute button

### Actual result
CPU usage stay alm

[2020-04-03 21:44] cjcomputers commented on #86
That did the trick!  I can now adjust the volume using the MPVolumeView and the microphone audio is passed back as expected. And I don't experience any issues with echoes. I sincerely appreciate the help and I owe you a drink. Thanks!

[2020-04-03 22:27] piyushtank commented on #86
Glad to hear that `RemoteIO` did the trick. Cheers!!

[2020-04-03 22:27] #86 closed, assigned to piyushtank

[2020-04-03 23:10] cjcomputers commented on #86
Just wanted to drop one more quick note so the record is complete in case anyone else comes looking. I also had to comment out the setMode code below in the setupAVAudioSession function in order for it to work as intended.

if (![session setMode:AVAudioSessionModeVideoChat error:&error]) {
     NSLog(@"Error setting session category: %@", error);
}

Thanks again!

[2020-04-06 14:47] manisha-PBH commented on #85
Hi @piyushtank ,
Hope you are doing well. Sorry for the delay.
The call SID  is :- CAca8762d439b36d8f05156c73b2276bac

[2020-04-06 16:36] paynerc commented on #80
@iosdmd ,

Just checking in to see if you are still experiencing this issue or if you it resolved.

Thank you,

Ryan

[2020-04-06 16:37] paynerc commented on #78
@sergeymild

I am closing this due to lack of activity. Please feel free to reopen if you have further information or questions.

Thank you,

Ryan

[2020-04-06 16:37] #78 closed, assigned to paynerc

[2020-04-06 16:39] paynerc commented on #69
@yaalisri,

I am closing this issue due to lack of activity. Please feel free to reopen it if you have further information or questions.

Thank you,

Ryan

[2020-04-06 16:39] #69 closed, assigned to paynerc

[2020-04-06 18:26] paynerc commented on #60
@replytoashish008,

I apologize for the delay in getting back to you on this issue. Are you still experiencing thing issue? If you are, can you please send updated log information so I can troubleshoot it?

Thank you,

Ryan

[2020-04-06 22:11] kjoe07 commented on #82
the no data is about a vpn to make the connection. or a least a vpn provider using siphon vpn in iOS 13.3.1 and 13.4 so is not further help needed with this, thanks

[2020-04-07 13:57] manisha-PBH commented on #85
https://drive.google.com/file/d/1ukJdx4vTPgbrLjVqdGWs3bsLljUCGtaJ/view?usp=sharing

The Demo that includes the issue i am talking about :
You need to provide value in CallController.swift L.no: 37
You need to provide value in VideoConferenceVC.swift L.no: 87

On foreground it works correctly and if the app is in background the issue with audio started

[2020-04-07 17:33] piyushtank commented on #85
@ManishaAstaPartners Thanks. I don't have permissions to the project just shared via google drive. I have requested for the permissions, my email is ptank@twilio.com

[2020-04-07 17:39] manisha-PBH commented on #85
Hi Piyush,

Please check now. Sorry my mistake.

On Tue, 7 Apr 2020 at 11:04 PM, Piyush Tank <notifications@github.com>
wrote:

[2020-04-07 18:15] piyushtank commented on #85
Thanks. I haven't ran the app locally but at a first glance, you should make following changes -

In ViewController.swift viewDidLoad or init you should -
[code]

[code]

for voip calls, I would provide `answerOnBridge` as param, which will make the call end-to-end.

You app will require changes at other places to accommodate above improvements.

Let me know if this helps.

[2020-04-07 18:19] manisha-PBH commented on #85
Sure, will do that.

But can you please guide me on how to integrate Video call with Voip .

For running the app you will need to change the base url on our controller
file.

If you will see the video view controller what we have done is as soon as
user gets connect to the room we are disconnecting the voice call. And i
think that is something we are doing wrong.
 Let me know your thoughts.
Thanks

[2020-04-08 17:20] ceaglest commented on #87
Hi @zintus,

Disabled audio tracks still send muted audio but they are not forwarded to other Participants in a Group Room. With simulcast video, there is an issue where significant bandwidth and CPU are consumed to generate each layer when a LocalVideoTrack is disabled. As a workaround, we recommend unpublishing simulcast video tracks instead of disabling them. This is implemented in [Video App f

[2020-04-12 20:37] piyushtank commented on #85
@ManishaAstaPartners Did the above suggestion fix the problem for you?

[2020-04-13 03:25] manisha-PBH commented on #85
No, it doesn't work.

On Mon, 13 Apr 2020 at 2:07 AM, Piyush Tank <notifications@github.com>
wrote:

[2020-04-13 04:23] piyushtank commented on #85
I looked into the app you shared - I have made some changes to have the basic incoming call functions working - audio worked when the app is foregrounded and in background. Also, I noticed the app had lot of commented code and few issues in UI and flow, I will leave them up to you to fix.

Let me know your email address, I will share the changes with you.

[2020-04-13 21:02] piyushtank commented on #85
^ cc @ManishaAstaPartners

[2020-04-14 11:33] ChiragGajjar commented on #64
Hello,
I am getting the below issue using programmable video. Please have a look

**pod 'TwilioVideo', '~> 3.0.1'**

Attempting to connect to room Ronak Parmar09:30 am-09:45 am
Connected to room Ronak Parmar09:30 am-09:45 am as ap5ScQzW
Room Conected

Participant test123 connected with 1 audio and 1 video tracks
Participant RoomRonak Parmar09:30 am-09:45 am connected
Subscribed to audio track for

[2020-04-14 18:57] patricktemple opened #88 "Tracks fail to connect or are slow"
Hi,

We've been seeing sporadic problems establishing track connections. Some we've witnessed ourselves, others are from logs or bug reports from the field. I'm having some trouble debugging them and I'm hoping that your server logs can help.

**Background**: Our app has a connection from the iOS SDK (3.0.0) to JS (2.0.0) running in Chrome, connected peer-to-peer. iOS publishes two video feeds, an

[2020-04-16 18:18] iUsmanN opened #89 "How To Subscribe To Video Tracks Of Already Present Participants ?"
Hi,

I was having trouble figuring out how to subscribe to the remote video tracks of the already present participants in a room when I join.

Currently, if a new user joins the room after I have joined it, the `didSubscribeToVideoTrack` delegate is called and I get the RemoteVideoTrack to display.

However, I cannot seem to Subscribe to the VideoTracks of the already present participants when I c

[2020-04-16 21:06] ceaglest commented on #89
Hi Usman,

Our Quickstart Example can offer some guidance here. You will want to make sure that you handle existing connected Participants by assigning a TVIRemoteParticipant delegate before `roomDidConnect` returns. Take a look at the QS [roomDidConnect](https://github.com/twilio/video-quickstart-ios/blob/master/VideoQuickStart/ViewController.swift#L365) implementation.

[code]

I hope that helps

[2020-04-17 17:13] toseef commented on #49
Hi,
Is there any update of twillio support for macos?

[2020-04-17 18:00] sindunarasimhan opened #90 "Freeze, crash and low video quality in group video call (>15) in older iPhones"
### Description

[Description of the issue]
We are building a group video call application that can support up to 25 callers concurrently for 20 minutes. Here are the following issues we are faced with in such calls. We use simulcast configurations by default.

1. Video quality degradation after 10 minutes for small groups (<10)
2. Low video quality for large groups  (15 - 20)
3. Freezes and crash

[2020-04-17 19:19] iUsmanN commented on #89
Wonderful!
Thank you very much, Chris :)

[2020-04-17 19:23] ceaglest commented on #90
Hi @sindunarasimhan,

Thanks for writing in.

We are adding support for [Bandwidth Profiles](https://www.twilio.com/docs/video/tutorials/using-bandwidth-profile-api) on mobile to match the JavaScript SDK. This feature allows you to prioritize which tracks are most important to your app and how much bandwidth is used for receiving video. At the moment the Server does not know which sizes and frame

[2020-04-17 21:00] ceaglest commented on #90
One comment about the code snippet shared, since it looks like a modified version of MultipartyExample.

[code]

If you are using simulcast this should be:

[code]

[2020-04-17 23:14] sindunarasimhan commented on #90
Thanks for commenting. This is helpful. I have updated the screenshot of our layout - Speaking in Swift terms, the dominant speaker changes in the main view and the collection view has thumbnails of participants - I do think selectively subscribing to the dominant speaker, and participant tracks of the collection view that is visible could be a good alternative that I can try experimenting with, b

[2020-04-18 21:47] #89 closed, assigned to ceaglest

[2020-04-21 01:12] piyushtank commented on #88
@patricktemple Thanks for reaching out and providing the details about the issues you are observing. I apologize for the late response.

We looked into the three Room SIDs that you have sent.

#### Room A and Room C
We noticed that iOS user connects to a Room first with one audio, two video, and one data track. Then JavaScript client connects to the Room. And immediately affter connecting to the R

[2020-04-21 12:26] NaiyerAghaz commented on #32
hi @ceaglest my remote view video is stretching, when I display into the view? it's not solving dude what should the reason? Please help me out.

[2020-04-21 15:09] ceaglest commented on #32
Hi @NaiyerAghaz,

You probably have the wrong UIViewContentMode on your TVIVideoView. Quoting myself:

Thanks,
Chris

[2020-04-21 20:21] piyushtank commented on #85
Closing the ticket assuming you were able to resolve the issue, but feel free to reopen this or reach out via another ticket if you run into any issues. Thanks.

[2020-04-21 20:21] #85 closed, assigned to piyushtank

[2020-04-21 21:59] patricktemple commented on #88
Hey Piyush, thanks for looking into this. I can try publishing the media tracks up front in JS. Do you think that might fix problems with the remote tracks as well? You mentioned those were already published by the time the JS client joined.

Are you sure the web client published the data track after joining? We join like this:
[code]

And then we publish the audio and video shortly afterwards. So

[2020-04-21 23:12] piyushtank commented on #88
@patricktemple Yes, connecting upfront with tracks may solve the problem on JS side for the remote tracks as this is more of an interoperability issue between JS and iOS in P2P Rooms.
Let me know if the workaround doesn't help.

[2020-04-22 10:26] NaiyerAghaz commented on #32
Thanks for your response @ceaglest I want to display full screen video and I had tried all mode like aspect fit, fill, centre but still video is stretching. and one more issue is coming when I am in call and I am going another app and again back to the video call screen video is being freeze. why is this happening please help me out.

[2020-04-22 13:01] replytoashish008 commented on #60
@paynerc

Thank you, Ryan. The issue is resolved after the Twilio 3.2.3 update.

[2020-04-22 13:01] #60 closed, assigned to paynerc

[2020-04-22 15:12] ceaglest commented on #32
Hi @NaiyerAghaz,

Since this issue was resolved, please open a new issue and provide information requested in the issue template like Room SID(s), perhaps a screenshot of what it looks like, and any relevant code snippets.

Thank you,
Chris

[2020-04-23 17:17] piyushtank commented on #88
@patricktemple Did the work around we recommend help? Also, you should upgrade Video SDKs to the latest, as they have bug fixes and new features.

[2020-04-24 00:21] patricktemple commented on #88
I've written the workaround but it has not deployed yet. I've had a hard time seeing this happen myself so I won't know for sure until we see a drop in cases of this in the logs.

[2020-04-27 17:10] ceaglest commented on #52
Please update to 2.3.0 or newer to resolve the issue.

[2020-04-27 17:10] #52 closed, assigned to nobody

[2020-04-27 17:10] ceaglest commented on #35
Please update to 2.3.0 or newer to resolve the issue.

[2020-04-27 17:10] #35 closed, assigned to nobody

[2020-04-27 17:14] paynerc commented on #83
@ankitappstreet,

As @piyushtank mentioned we have made the `3.2.3` release which fixes a crash that sounds similar to what you were reporting. Please upgrade to the latest version and let us know if you are still experiencing the crash. I am going to close this ticket in the meantime but feel free to reopen it if you are still having issues.

Thank you,

Ryan

[2020-04-27 17:14] #83 closed, assigned to paynerc

[2020-04-27 17:14] ceaglest commented on #90
Hi @sindunarasimhan,

Using the subscription APIs might not be ideal due to delay. Ideally, you could use a bandwidth profile to restrict the maximum number of tracks that you receive at one time and switch off the rest of the tracks that are not on screen.

We are currently working on the release supporting bandwidth profiles, and will let you know once it is ready for public use.

Best,
Chris

[2020-04-27 17:15] ceaglest commented on #45
Please let us know if the signaling reliability is improved after upgrading to 3.x SDKs.

[2020-04-27 17:15] #45 closed, assigned to ceaglest

[2020-04-27 18:24] paynerc commented on #80
@iosdmd ,

As I mentioned previously, the issue you are describing sounds very familiar to [#455](https://github.com/twilio/video-quickstart-ios/issues/445). `3.2.5` was released last week which addresses this issue, see [this comment](https://github.com/twilio/video-quickstart-ios/issues/445#issuecomment-618689296) for further information.

I am going to close this issue now, but feel free to reo

[2020-04-27 18:24] #80 closed, assigned to paynerc

[2020-04-30 10:35] dsngeu opened #91 "roomDidFailToConnect delegate"
Error Domain=com.twilio.video Code=53005 "DNS resolution for signaling failed" UserInfo={NSLocalizedDescription=DNS resolution for signaling failed}

[2020-04-30 16:04] ceaglest commented on #91
Hi @dsngeu,

This error occurs when you cannot resolve the hostname for the signaling server (usually `global.vss.twilio.com` unless you selected a region manually). Is DNS configured correctly on your network, for example can you try:

[code]

There is more information in the requirements for [Signaling Communication](https://www.twilio.com/docs/video/ip-address-whitelisting#signaling-communicati

[2020-04-30 21:31] neuralxmasaki commented on #62
I am experiencing the same issue. Could you guys tell me how to solve it?
We use Testflight distribution on IOS as well.

[2020-05-01 13:36] yatindma opened #92 ""Empty Credentials" while initating a call from iOS"
While starting the call from iOS sometimes call is going and getting disconnected in 2-3 sec and the error log we are getting on twilio is "Empty Credentials" for android it's working perfectly fine

Please help to fix this bug

[2020-05-01 20:05] ceaglest commented on #92
Hey @yatindma,

If I understand your question then I think the best place to discuss is in: https://github.com/twilio/voice-quickstart-ios/issues/342

[2020-05-01 20:05] #92 closed, assigned to nobody

[2020-05-01 21:46] patricktemple commented on #88
Hi,

The change has deployed which causes the web to include the A/V tracks up front rather than immediately publishing them after joining. I saw the problem still happen though, in room `RM88a40e9b42d1d0017d249f126e779b11`

Here's the timeline I see in the logs from web's perspective:
0s: Web loads the page
2s: Remote participant joins (this might be right when web joined the room... I see in Twi

[2020-05-04 01:34] raphaelrk commented on #19
Was having issues with audio on my calls until I set audio playback mode to `AVAudioSessionCategoryPlayAndRecord`. Might be good to have a note of that somewhere.

[2020-05-05 07:03] Balasnest commented on #85
@ManishaAstaPartners Can you share those changes with us. I would like to check the fixes as it help us also.

[2020-05-05 11:47] dsngeu opened #93 "How to show status at top bar status during ongoing call when app goes in background."
- When I put the app in background during Twilio video call, iPhone do not show any indication at status bar that "Touch to return to call" like Skype or zoom video call.

I am using pod 'TwilioVideo', '~> 3.2'
and video call feature.

expected: during video call if I put the app in background, then status bar must shows "Touch to return to call".

Question:
how can I achieve this?

[2020-05-06 01:59] piyushtank commented on #88
Unfortunately, the bug is caused by a race condition caused in P2P Rooms and I do not have timeline about when the fix will be implemented and deployed. Is it possible for you to use the group Rooms instead, you should not see the problem.

Also, can you upgrade the iOS SDK to the latest and let us know if you are still able to reproduce the bug.

[2020-05-06 02:08] piyushtank commented on #93
@dsngeu In order to access audio in background, and show call on status bar, you should set background modes in your app's info.plist file  - see [this](https://github.com/twilio/video-quickstart-ios/blob/master/VideoQuickStart/Info.plist#L9-L12)
[code]

[2020-05-06 02:08] #93 closed, assigned to piyushtank

[2020-05-06 02:48] piyushtank commented on #77
Thanks @umarniz and @jeffryadityatama. Apologies for the delay.
I tried a stereo file in AVAudioEngine example, and I am able to reproduce the problem you are observing. We will investigate the issue further and get back to you.

[2020-05-07 08:50] dsngeu commented on #93
@piyushtank
yes its work but.
**if audio is on during video call and app in background, then status bar shows audio is on. - its fine**
but when local and remote participant audio is off during the video call and app in background then then status bar shows nothing.
I expect the status bar shows or indicate me that video call is going on. just like when we share screen and app in background then s

[2020-05-07 14:41] patricktemple commented on #88
I see. We'll try to upgrade the iOS SDK soon and see if that helps.

Unfortunately, group rooms aren't an option for us because it's important that the connection remain E2E encrypted.

Would things be helped if we change the timing of when the clients connect? Right now, they both try to join right at the same time:

1) iOS starts the call (makes an API call to our server)
2) Web receives the cal

[2020-05-07 19:43] matiasalvarezaw opened #94 "Is it possible to give "spacial" effect on remote audio?"
I need to transform remote audio in a room with only 2 participants so that it gives the perception that voice is at the rear, right, left, or front (configurable by a button).

Is this possible?

Please, can you guide how this configuration should be?

Thanks in advance!

PS: Sorry if this is not the appropriate site to ask this. Where should I ask it?

[2020-05-08 12:11] dsngeu commented on #93
@piyushtank
can you please help me out.

[2020-05-08 12:20] dsngeu opened #95 "Room disconnected if app in background during video call"
if I put my app in background (audio is off) during video call, for next 3-4 minute later I got disconnected from the room.

expected: if I put my app in background during video call it should not be disconnected from room.

[2020-05-08 15:14] paynerc commented on #95
@dsngeu,

Are you using Peer-To-Peer or Group Rooms? What versions of iOS are you seeing this behavior?

Do you have debug logging and/or RoomSids that you could share? If you don't feel comfortable sharing those on this public Github issue you can create a support ticket by emailing support@twilio.com with that information, reference this issue and that I asked you to submit it. If you do create

[2020-05-08 21:33] sleman opened #96 "Simulcast with iPad Pro uses very low frame size"
### Description

Use ipad 11" Pro MTXN2LL/A and simulcast returns a 640x360 frame size video sent to receivers.

### Steps to Reproduce

Use latest ios sdk.

Set codec to: vp8 simulcast
Set videoFormat to one with 1280x72
Set format framerate to 24.

#### Expected Behavior

1280x720 is captured as iPad can easily handle encoding as it's the latest model on par with iPhone.
#### Actual Behavior

Ve

[2020-05-08 22:16] sleman opened #97 "Default Video Bitrate is very low"
### Description

Sending videotrack without explicitly setting max bitrate leads to ~ 600 kbps video which is very low and not documented anywhere.

### Steps to Reproduce

Use latest ios sdk.

Set codec to: h264
Set videoFormat to one with 1280x720

#### Expected Behavior

Reasonable bitrate is sent to receivers.
#### Actual Behavior

Low bitrate of 600 kbps is sent to receivers unless max bitrat

[2020-05-08 23:21] ceaglest commented on #91
Closing since I didn't hear back from you. Hopefully you were able to resolve the DNS issue!

[2020-05-08 23:21] #91 closed, assigned to ceaglest

[2020-05-11 05:03] dsngeu commented on #95
@paynerc

 func roomDidDisconnect(room: Room, error: Error?) {

//Logs --
//po print(error)
1- Optional(Error Domain=com.twilio.video Code=53204 "Participant not found" UserInfo={NSLocalizedDescription=Participant not found})
2 - po print(room.remoteParticipants)
[<TVIRemoteParticipant: 0x281b0b2f0>]
}

- version:- iOS 13.3.1
- 'TwilioVideo', '~> 3.2'
 --------------------------------

Scenario:-

[2020-05-11 05:14] dsngeu opened #98 "How to show status at top bar status during ongoing call when app goes in background"
Plist.
<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>

case 1- its working fine in following case
    -  during video call if **audio is on** and user put the app in background then status bar shows/indicate about call is going on.

case 2 - here it is problem
  -  during video call **if user turn off audio and put the app in background** then status bar shows nothing abo

[2020-05-11 11:48] dsngeu opened #99 "Screen sharing via Replay kit , right and left some portion of sharing video get cut off"
when I try to broadcast screen sharing using Replaykit,
on other android device shared video's left and right some portion get cut off.

https://imgur.com/a/JmJ5byy

[2020-05-11 15:06] ALFriedman opened #100 "How to disable loudspeaker in video call, part 2"
### Description

I looked at various existing tickets, and https://github.com/twilio/video-quickstart-ios/issues/379  is the same problem I'm having, but I think it's better asked here? We are also using Swift. I tried various things (in various places in code) from the answers in that thread and various other examples.

I also tried placing the initial audioDevice block in various locations becau

[2020-05-11 20:15] paynerc commented on #95
@dsngeu,

The situation you are describing sounds similar to [this issue](https://github.com/twilio/twilio-video-ios/issues/25#issuecomment-423262380) when using P2P rooms. Can you verify whether you are using Peer-to-peer or group rooms?

Ryan

[2020-05-11 20:22] paynerc commented on #98
@dsngeu,

If you are using CallKit in your application, the Green Video status indicator will be displayed in the status bar when your application is in the background. Take a look at our [VideoCallKitQuickStart](https://github.com/twilio/video-quickstart-ios/tree/master/VideoCallKitQuickStart) which shows how to integrate CallKit into your application.

![Screen Shot 2020-05-11 at 4 21 26 PM](htt

[2020-05-11 23:31] ALFriedman commented on #100
Nevermind. We found our issue after much struggle, and it was due to a different library we were using. Just in case anyone else runs into this, we were using the CameraManager CocoaPod, and in particular this setting was interfering:

[code]

[2020-05-11 23:31] #100 closed, assigned to nobody

[2020-05-12 01:41] piyushtank commented on #99
@dsngeu Apologies for the late response.

It seems like an issue of aspect ratio of the frame captured by iOS is not same as the android rendering side. Can you update your video view renderer on android side to make sure it maintains the aspect ratio.

Let me know if you have any questions.

[2020-05-12 01:54] piyushtank commented on #97
@sleman Thanks for reaching out. Using the `EncodingParameters` APIs on Video SDK you can set the max and min bitrates. We have [examples](https://github.com/twilio/video-quickstart-ios/blob/master/Utils/Settings.swift#L61) in our quickstart to do so. [Here](https://twilio.github.io/twilio-video-ios/docs/latest/Classes/TVIEncodingParameters.html#//api/name/maxVideoBitrate) is the documentation.

L

[2020-05-12 02:21] piyushtank commented on #96
@sleman Simulcast is more dependent on the receiver side vs the sender side. The capturer encodes and sends three spatial layers, and depending on the remote participant's (network) conditions, out of three layers, our SFU forwards one layer to the receiver. [Here](https://www.twilio.com/docs/video/tutorials/working-with-vp8-simulcast) is the documentation on how simulcast feature is implemented.

[2020-05-12 07:52] ajeetpratap opened #101 "Using Twilio 3.x on iOS 11.0+ on project having deployment target as 10.0"
### Description
Hi, My project has deployment target of 10.0. I am want to use Twilio3.x SDK for my user who are on iOS 11 and above. So there won't be any support for iOS 10 users.
I added the SDK and it builds and run fine on device but when I try to archive it, it gives me error saying armv7 architecture not found.
I tried marking Twilio SDK as optional in Build phases setting but still getting

[2020-05-12 10:27] dsngeu opened #102 "screen sharing via broadcast extension iOS"
In our iOS application we have capability to broadcast screen content out side the app. so we are using Replay kit for that.

Can I use same twilio token for parent app(peer to peer connection) and for the broad cast extension(screen sharing)?

in the current situation If I try to connect **broadcast extension** with same token(same token used in parent app)  then i get the error in broadcast toke

[2020-05-12 10:29] dsngeu commented on #95
@paynerc
yes this is same issue.

[2020-05-12 10:56] dsngeu commented on #98
@paynerc
in our application we do not have any plan for VOIP, so without any use of VOIP,
can I use CallKit feature to achieve this feature?
(feature:- top bar status during ongoing call when app goes in background)

we are currently using pod 'TwilioVideo', '~> 3.2'
and Twilio token is generated by server
and get connect to the room via token and room name

[2020-05-12 14:53] umarniz commented on #77
I tried a stereo file in AVAudioEngine example, and I am able to reproduce the problem you are observing. We will investigate the issue further and get back to you.

Thanks a lot @piyushtank let us know if you need anything from our end :)

[2020-05-12 15:14] paynerc commented on #101
@ajeetpratap,

TwilioVideo supports iOS 11 and greater. Apple removed 32-bit support starting with iOS 11, and as such we no longer provide the 32-bit armv7 slice. The linker is failing on the 32-bit slice because there is no 32-bit slice of the framework.

I am not sure how to satisfy the linker to make a 32 bit version of your application while also attempting to include Twilio Video which only

[2020-05-13 06:38] dsngeu commented on #95
@paynerc its peer to peer rooms.
so how to solve this problem ?

[2020-05-13 13:42] dsngeu commented on #102
@Gipetto @paynerc

[2020-05-14 01:11] piyushtank commented on #49
Hi all,

We are not actively working on this feature right now, but we consider pulling it in. We will post an update here when we have more information.

Best,
Piyush

[2020-05-14 22:09] piyushtank commented on #102
@dsngeu From app, you will have to connect to the Room as a separate participant than the one from the broadcast extensions. On app side, you should have logic to recognize that the video feed you are receiving from the broadcast extension running on the same phone so that it doesn't show the UI of a separate participant. Similarly you should use `isAutomaticSubscriptionEnabled` [[example](https:/

[2020-05-14 23:04] piyushtank commented on #95
@dsngeu did you get a chance to look at the @ceaglest 's suggestion [here](https://github.com/twilio/twilio-video-ios/issues/25#issuecomment-423262380).

[2020-05-15 09:19] dsngeu commented on #102
@piyushtank thank you for your reply, it helps me alot

[2020-05-16 19:44] ajeetpratap commented on #101
Tried using @available block, still same error. For now I have switched to the older SDK and its compiling fine.

[2020-05-16 19:44] #101 closed, assigned to paynerc

[2020-05-19 22:33] ceaglest commented on #98
Hi @dsngeu,

I have a suggestion - you could disable the LocalAudioTrack instead of unpublishing it. This would make sure that audio subsystem is still being used just like in case 1.

[code]

Best,
Chris

[2020-05-19 22:54] ceaglest commented on #40
Hi,

Sorry, it looks like I did not answer your final question.

Yes, our current recommendation is using two unique participant identities and two access tokens (like user@company.com, user_screenshare@company.com). The identities can also be any GUID that you prefer instead of an email.

Closing this issue out as you should no longer be experiencing frozen frames at the end of your ReplayKit ses

[2020-05-19 22:54] #40 closed, assigned to ceaglest

[2020-05-22 10:21] echamussy commented on #49
Yes please!!! Catalyst support would be huge for us! Please keep us updated

[2020-05-22 16:12] mmimeault opened #103 "SDK Unable to access TwilioVideoSDK.Error from Swift"
### Description

I am trying to access the enum of Error defined in TVIError.h from swift.
I tried the exact same way as shown here: https://github.com/twilio/video-quickstart-ios/blob/master/VideoCallKitQuickStart/ViewController.swift#L391-L393

I am using Podfile to setup Twilio using the latest version.

Ideally I would like to switch/case on the error. For now I will write manually the error c

[2020-05-26 19:02] paynerc commented on #103
@mmimeault,

Are you having this issue in your own app or with the Quickstart? I just tested this again in the Quickstart and it is compiling properly Xcode 11.5. There has to be something different in your project that is causing this issue.

I am also creating an internal ticket to see if there is something better we can do with the Error definitions in the SDK to make them more Swift friendly.

[2020-05-27 12:28] dsngeu commented on #99
@piyushtank this is also happing in iOS
if I broadcast screen content using Reply kit by iOS device, and on other iOS device left right portion of shared image cut off.

what could be the its solution?

[2020-05-28 07:06] dsngeu commented on #99
@piyushtank
how to I change aspect ratio of the frame captured by iOS?

[2020-05-28 21:56] patricktemple commented on #88
Hi Piyush, do you have any updates on this? We're still seeing this issue pretty frequently.

[2020-05-29 09:39] wmonk opened #104 "NSInternalInconsistencyException Invalid parameter not satisfying: device"
[Personally Identifiable Information(PII)](https://www.twilio.com/docs/glossary/what-is-personally-identifiable-information-pii)
or sensitive account information (API keys, credentials, etc.) when reporting an issue.

### Description

Sentry is reporting exception:
[code]

We're running a few hundred to a thousand video calls per day, and this is popping up on average 2-3 times per day. The weird

[2020-05-29 09:44] wmonk commented on #104
To add, the only places I can see in our integration the calls with argument `device` are:

`TVICameraSource startCaptureWithDevice:device` (we always check device is not nil)
`TVICameraSource selectCaptureDevice:device` (we always check device is not nil)

[2020-05-29 12:09] dsngeu opened #105 "how to share share screen content in app or other apps also bellow iOS 12.0"
we are using RPSystemBroadcastPickerView its working fine, but problem is that it does have support bellow iOS 12.0.
and in our app we support iOS version 10.0 and above.

so how can I share in app or other apps screen content bellow iOS 12.0.?

Currently we are using pod 'TwilioVideo', '~> 3.2' and Broadcast Extension for sharing.

[2020-05-29 15:18] ceaglest commented on #105
Hi @dsngeu,

RPScreenRecorder works in iOS < 12.0 but it can only share in-app content. It's demonstrated in our ReplayKitExample.

In iOS 11.0 your users can start sharing the screen from control center and select your extension.

Best,
Chris

[2020-05-29 18:55] ceaglest commented on #33
Let us know if you need more help.

[2020-05-29 18:55] #33 closed, assigned to ceaglest

[2020-06-02 05:02] kuldeeptripthee opened #106 "Unable to connect to room RoomSignalingImpl: State transition failure: kDisconnecting -> kConnecting"
### Description

Unable to connect to the room with the token

### Steps to Reproduce

1.  initialise video and audio local track
2. connect with the ConnectOptions using token

#### Code

[code]

#### Expected Behavior
Should be able to connect to the room
#### Actual Behavior
Not able to connect getting RoomSignalingImpl: State transition failure: kDisconnecting -> kConnecting
#### Reproduces Ho

[2020-06-02 17:15] ceaglest commented on #106
Hi @kuldeeptripthee,

Thanks for filling an issue. Based on your logs the SDK could contact Twilio's Servers and I would have expected it to continue to connect to the Room after opening a WebSocket. However, I noticed that pretty early on (before the WebSocket was open) the SDK started to disconnect.

2020-06-02 09:44:42.176086+0530 AvidViewsTwilio[379:15852] DEBUG:Twilio:[Core](0x101656bc0): Roo

[2020-06-02 18:22] ceaglest commented on #106
Hey @kuldeeptripthee,

We tried letting the TVIRoom go out of scope after calling `TwilioVideoSDK.connect()` and experienced very similar log results as you. Can you please double check that you are holding on to `room` for the lifetime that you want to remain connected to it?

Best,
Chris

[2020-06-03 04:10] kuldeeptripthee commented on #106
Hey @ceaglest,

Thanks for the prompt response.

Yes it was the issue with the room instance scope, fixed it by holding room instance.
Suggest you to keep the room  as shared instance in next versions if possible. This will avoid such kind of mistakes.

Best,
Kuldeep

[2020-06-03 13:30] paynerc commented on #106
@kuldeeptripthee,

In these example apps, the view controller holds the instance, and the view controller is presented the entire duration of the call. You can also take a look at the [Twilio Video Collaboration App](https://github.com/twilio/twilio-video-app-ios). This is designed as a more realistic video application whereas the Quickstarts are designed to show concepts quickly.

I'm glad you go

[2020-06-03 13:30] #106 closed, assigned to ceaglest

[2020-06-04 07:53] replytoashish008 opened #107 "Video Quality in iOS is poor"
[Personally Identifiable Information(PII)](https://www.twilio.com/docs/glossary/what-is-personally-identifiable-information-pii)
or sensitive account information (API keys, credentials, etc.) when reporting an issue.

### Description
The video quality in iOS is poor.

### Steps to Reproduce
When two users connected to the room. the video quality in the room is poor.

1. Make a call.
2 other member

[2020-06-04 16:52] EricGustin commented on #91
For anyone that is running into this issue only on a physical device:

Make sure your device is either connected to WiFi or through your carrier.

[2020-06-04 18:35] wmonk commented on #104
Is this something to take up with Twilio support?

[2020-06-04 20:10] ceaglest commented on #107
Hey @replytoashish008,

Could you share a Room SID where the quality is bad?

Since you are using Group Rooms features I would first recommend selecting "gll" in the console to select a media region closest to your Participants if you are experiencing quality issues. Let me take a look at your Participants to provide more information.

Best,
Chris

[2020-06-09 08:33] Balasnest opened #108 "iPhone gets heated up while in call"
**Steps to reproduce**
1. Install the app in iOS
2. Initiate the very first call for 5 mins. We can identify heat slightly.
3. Do second call for more than 3 mins. we can drastically feel the heat surrounding to the back camera area.

**Expected behaviour**
Phone gets heated up while on call (more than 3 mins)

**Actual behaviour**
Phone should not get heated up.

**call went for 10 mins:**

**The

[2020-06-09 08:35] Balasnest commented on #108
@piyushtank @ceaglest Need your help. Let me your thoughts here.

[2020-06-09 14:32] umarniz commented on #77
Hey @piyushtank is there any update on this issue?

This has been a major blocker on our end and we would be really happy to help with this in any way we can!

[2020-06-10 19:17] Tornquist opened #109 "Swift <-> Obj-C Bridging Conflict"
### Description

When building an Xcode project with both Swift and Obj-C, and with interfaces exposed to each other, TwilioVideo creates deadlocks when including. This can be resolved through additional imports, but generates persistent warnings.

### Steps to Reproduce

1. Create swift project
2. Create bridging header to expose Obj-C interface to swift
3. Create obj-c generated interface header

[2020-06-11 09:33] hameshiv commented on #77
Hi guys,
We have exactly the same issue - audio signal turning to mono during a call, but stereo when the call is disabled - using Twilio javascript SDK on iOS.
I'd be glad to join the discussion and help, if possible.

[2020-06-12 17:40] piyushtank commented on #77
@umarniz @hameshiv  - At present our team is busy working in upgrading WebRTC-83, so we haven't got chance to take a look at this issue yet.

One experiment I wanted to try is - since AVAudioEngine real-time audio processing APIs are relatively new, we can remove VideoSDK from the equation and try just playing the audio content from a file using real-time AVAudioEngine in your audio device. Does i

[2020-06-14 09:41] umarniz commented on #77
Hey @piyushtank thanks for coming back to us.

I understand that your team is busy with the WebRTC upgrade and can understand that there are only so many things that can be picked by a team.

From our side, we would really appreciate any help you can provide with this issue or help provide timelines on as it has unexpectedly blocked a major feature in our product for the last ~5 months and is beco

[2020-06-14 22:32] piyushtank commented on #77
@umarniz Correct I wanted to make sure that we can eliminate AVAudioEngine as a potential cause and hence test that the native iOS AVAudioEngine can indeed play a stereo sound correctly.

AVAudioEngine plays an audio file correctly in non-manual mode. However, in order to mix real-time audio sample with file audio, it requires to operate on [manual rendering mode](https://developer.apple.com/docum

[2020-06-15 07:33] sandeep9607 commented on #34
Currently using version 3.4. do we get any solution to fix this?

[2020-06-15 14:03] nikolausWest opened #110 "TwilioVideo asks for microphone when there is no LocalAudioTrack"
### Description

TwilioVideo seems to try to use microphone when we have only set up a `LocalVideoTrack` and no `LocalAudioTrack`. For us this crashes the app for some users (seems to be related to corporate managed configuration) because we haven't asked permission to use the microphone.

### Steps to Reproduce

1. iOS app that only publishes a `LocalVideoTrack` by implementing the `VideoSource`

[2020-06-15 17:00] ceaglest commented on #108
Hi @Balasnest,

The amount of battery consumed, and heat generated really depends on how you are configuring and using the SDK. For example, using the VP8 encoder is software based and tends to require more CPU cycles than using the H.264 hardware encoder. If you leave the bandwidth for audio/video at the defaults it will send up to 2 Mbps, but you can lower this. Adding more participants will inc

[2020-06-16 07:53] Balasnest commented on #108
@ceaglest I am using 1:1 call in small Group Room.

**Example 0**
**RM ID**: RM1737ccd0b8e7afa94855b658cb3b54c6

**Example 1**
**Participant Sid**: PA6029d42ccefd09ba6b1c857132a48050
**Track Sid**: MT6e56b23abb07a4047cb54ec68afd2a7a

**Example 2**
**Participant Sid**: PAf7c3a68148232555fcd11447ae2ce995
**Track Sid**: PAf7c3a68148232555fcd11447ae2ce995

**Twilio Console:**
<img width="631" alt="Scr

[2020-06-16 15:29] umarniz commented on #77
Hey @piyushtank

Thanks a lot for continuing to guide us, this already gives more insight :)

For the test you suggested, I ran the `AudioDeviceExample` on 2 devices both of which were using the AVAudioEngine and then tried playing a stereo sound and noticed the sound was playing in Mono.

This does seem to point an issue related to manual rendering mode but to clarify, in our current case in our

[2020-06-18 15:39] umarniz commented on #77
**Update:** This issue also exists in Twilio Android SDK: https://github.com/twilio/video-quickstart-android/issues/533

[2020-06-18 20:21] mmimeault commented on #103
Hello,
thanks for the support. This is happening in our app.
I could try with the quickstart and compare with our setup.

But I followed the guide to install the sdk (with podfile).

Thanks

[2020-06-22 10:00] umarniz commented on #77
**Update**: The Android issue is completely unrelated and was happening only on Android OS < Android O. I found the root cause: https://github.com/twilio/video-quickstart-android/issues/533#issuecomment-647399857

The issue for iOS still exists and seems to have no relation to the issue in Android.

[2020-06-22 14:14] umarniz commented on #77
After a lot of investigation, I have found the problem.

The root cause comes from the fact that `VoiceProcessingIO` is inherently monophonic: https://stackoverflow.com/a/29280608/1748032

This causes both, the way we play the audio i.e `AVAudioPlayer` to play a sound + Twilio to handle the WebRTC call + the `AudioDeviceExample` to play sound in mono.

The only way I could see to fix the problem i

[2020-06-22 17:35] mazedude commented on #77
Not sure if this is the right place to ask, but I'm having the same issue from the Javascript SDK.  Video conferencing and stereo audio playback need to happen side-by-side on a website URL that can be accessed via desktop/laptop OR by mobile browser. On iOS or Android all audio gets condensed to mono. I've been digging through all of the Javascript documentation, common issues on Github, etc. for

[2020-06-23 04:39] piyushtank commented on #77
@mazedude I am not familier on how WebKit is implemented. + @makarandp0  to help with JS SDK.

@umarniz What you found could be the problem why you are not observing only the stereo with AVAudioEngine. Please note, with `kAudioUnitSubType_RemoteIO`, iOS doesn't use inbuilt echo cancellation. You should use  enable software AEC using [this APIs](https://twilio.github.io/twilio-video-ios/docs/latest

[2020-06-23 14:08] umarniz commented on #77
@mazedude I don't think I can help there but I can say that having gone a bit deeper into the WebRTC implementation itself, I have a guess that this might depend on how the browsers implement audio management and WebRTC so the behaviour might differ per browser.

For future reference to this issue itself, I have a draft PR which shows the changes required for stereo sound to work in the AudioDevic

[2020-06-24 15:47] jkrzemie commented on #49
Given the latest WWDC announcements, is there any updated decision in terms of planning for this?

Best
Jacob

[2020-06-24 18:35] ceaglest commented on #49
Hi,

I can't give any updates on if we will support Catalyst yet, but we are participating in sessions and gathering information at WWDC this week.

The subject of running iOS and iPadOS apps on a Mac with Apple Silicon probably deserves a different issue.

Best,
Chris

[2020-07-02 20:18] ceaglest commented on #105
Please let me know if you need any more help with screen sharing.

[2020-07-02 20:18] #105 closed, assigned to ceaglest

[2020-07-02 20:20] ceaglest commented on #107
Hey @replytoashish008,

Just checking if you had time to look at my response?

Best,
Chris

[2020-07-03 07:55] Balasnest opened #111 "How can we disabled audio/video track while connecting?"
1. How can we disabled audio/video track while connecting?

Step to reproduce:
1. Connect to room
2. Disable video track immediately after connect
3. In web twilio js, track for video event is coming but disabled one is not trigged for other opponent.

Do we have anything similar to web in native SDK which can disable track while connecting?
[code]

How can I disabled video track at the creation t

[2020-07-03 07:57] Balasnest commented on #111
@paynerc Can you help me here.

[2020-07-06 10:02] PPacie opened #112 "Local persistence of the user video/audio to iOS PhotoLibrary"
### Description

I would like to know if it might be possible for you to add the option to persist the video/audio from the user mic/camera. (Not the entire screen via ReplayKit).

As we cannot use our own instance of `AVCaptureSession` at the same time, we cannot add a `AVCaptureMovieFileOutput` to the Twilio SDK current `AVCaptureSession`.

#### Expected Behavior

Local persistence of the user v

[2020-07-06 10:29] PPacie commented on #111
Hi @Balasnest,

Just avoid setting the `builder.videoTracks` and `builder.audioTracks` at the moment of creating the `ConnectOptions`.
Later, once your user is connected to the Twilio room, you can use your `room` object to add your local audio/video tracks. (You don't need to use the builder/ConnectOptions anymore).

Something like that:

[code]

Hope it can help you.

[2020-07-07 16:41] paynerc commented on #111
@Balasnest,

As @PPacie stated above, you can publish audio and video tracks after connecting via the `LocalParticipant.publish[Audio|Video]Track` methods.

This was also asked in https://github.com/twilio/video-quickstart-ios/issues/518 and has been marked as closed, so I will close this issue as well.

Ryan

[2020-07-07 16:41] #111 closed, assigned to paynerc

[2020-07-07 17:41] timrozum commented on #109
Hi @Tornquist,

I think some lines in PrefixHeader.pch may be contributing to the problem.

I would recommend moving MyProject-Swift.h out of PrefixHeader.pch and only import it in the files that really need it. I think this is conventional for the Swift header and it seems like adding the Swift header to all files (via PrefixHeader.pch) could cause problems.

I would also do the same with TwilioV

[2020-07-08 00:56] mcorner opened #113 "Frequent Signaling connection disconnected messages"
### Description

Approximately 10% of our calls (typically 20-30 minute calls) incur at least one "Signaling connection disconnected" callback.  Typically we seem to get a roomDidReconnect within a second or two (or sometimes slightly longer).  It appears that the media tracks are not getting interrupted.  Oddly enough we only see this on about 2% of Android calls.

### Steps to Reproduce

Unfortu

[2020-07-08 01:08] ceaglest commented on #113
Hey @mcorner,

Based on the examples you provided the signaling WebSocket connection was closed and the Participant needed to reconnect. This is not necessarily harmful, it just means that there was a momentary loss of the signaling channel.

I'm not entirely sure of the reason for the iOS users reconnecting more frequently, but it could be overly aggressive network detection logic. We should take

[2020-07-08 10:58] mcorner commented on #113
Is there a way to get the device level logs programmatically yet?  We could stream them to a logging service,  but we don’t have access to the customer devices.

[2020-07-08 14:17] mcorner commented on #113
A few SIDs from today. (I can give you as many as you like):

RM7222d2d9d0aef74c4c0267e6a80f7772
RMb38f08b85608e8e1de1b2a96c051f405
RMd15322fb2864e8f8fbe2d93d504fd88c
RM327f28febe85c7298d59970aa15dee4b
RM675864b576c0ba7f886abc2b7edd8197
RM5e765373d6cc030739e02de00164e1a4

[2020-07-09 23:26] ceaglest commented on #113
Hey @mcorner,

Thank you for providing the SIDs. I haven't dug into this problem in full yet, but I can see that there are quite a few reconnects that are driven from the SDK side, rather than the server closing the connection / timing out. The client appears to be trying to open a new signaling connection and is usually able to re-establish one quickly.

I think there is a problem where the SDK i

[2020-07-10 00:25] mcorner commented on #113
Thanks @ceaglest, let me know if there is anything else I can give you.  I know I have asked before, but an option to ship detailed logs off of remote mobile devices would be helpful.  We could send them off to any number of logging providers and give you more useful information when reporting issues.

[2020-07-13 07:12] mhaseeb1996 opened #114 "Crash: EXC_BAD_ACCESS KERN_INVALID_ADDRESS 0x0000000000000020"
I am using Twilio video ios sdk 3.4.0, it was working fine but today i face a crash on my live application and sadly there are no user logs so not able to reproduce it, please suggest why this crash occur

Crash stack trace:

EXC_BAD_ACCESS KERN_INVALID_ADDRESS 0x0000000000000020

Crashed: Thread
0  TwilioVideo                    0x106af2e0c _hidden#17205_ + 2213704
1  TwilioVideo